USE [Ricos]
GO
/****** Object:  Table [dbo].[MA_BillOfMaterials]    Script Date: 15/11/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BillOfMaterials](
	[BOM] [varchar](21) NOT NULL,
	[CodeType] [int] NULL,
	[Description] [varchar](128) NULL,
	[UoM] [varchar](8) NULL,
	[CreationDate] [datetime] NULL,
	[LastModificationDate] [datetime] NULL,
	[UsePercQty] [char](1) NULL,
	[SF] [char](1) NULL,
	[Notes] [varchar](64) NULL,
	[InProduction] [char](1) NULL,
	[LastSubId] [int] NULL,
	[Configurable] [char](1) NULL,
	[Disabled] [char](1) NULL,
	[SalesDocOnly] [char](1) NULL,
	[TBGuid] [uniqueidentifier] NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedID] [int] NOT NULL,
	[TBModifiedID] [int] NOT NULL,
	[IsFoodRecipe] [char](1) NULL,
 CONSTRAINT [PK_BillOfMaterials] PRIMARY KEY NONCLUSTERED 
(
	[BOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_BillOfMaterialsComp]    Script Date: 15/11/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BillOfMaterialsComp](
	[Line] [smallint] NOT NULL,
	[BOM] [varchar](21) NOT NULL,
	[Component] [varchar](21) NULL,
	[ComponentType] [int] NULL,
	[Description] [varchar](128) NULL,
	[UoM] [varchar](8) NULL,
	[Qty] [float] NULL,
	[PercQty] [float] NULL,
	[FixedComponent] [char](1) NULL,
	[ScrapQty] [float] NULL,
	[ScrapUM] [varchar](8) NULL,
	[Notes] [varchar](64) NULL,
	[Variant] [varchar](21) NULL,
	[ValidityStartingDate] [datetime] NULL,
	[ValidityEndingDate] [datetime] NULL,
	[SubId] [int] NULL,
	[TechnicalData] [varchar](8) NULL,
	[ExternalLineReference] [smallint] NULL,
	[ItemType] [varchar](8) NULL,
	[StructureCode] [varchar](8) NULL,
	[ToExplode] [char](1) NULL,
	[Configurable] [char](1) NULL,
	[QuestionNo] [varchar](12) NULL,
	[WastePerc] [float] NULL,
	[DNRtgStep] [smallint] NULL,
	[NotPostable] [char](1) NULL,
	[Waste] [varchar](21) NULL,
	[OperationSubId] [int] NULL,
	[Drawing] [varchar](21) NULL,
	[IsKanban] [char](1) NULL,
	[FixedQty] [char](1) NULL,
	[EndUseRtgStep] [smallint] NULL,
	[Valorize] [char](1) NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedID] [int] NOT NULL,
	[TBModifiedID] [int] NOT NULL,
	[SetFixedQtyOnMO] [char](1) NULL,
	[PickingStorage] [varchar](8) NULL,
	[PickingSpecificatorType] [int] NULL,
	[PickingSpecificator] [varchar](12) NULL,
	[BL_X] [float] NULL,
	[BL_Y] [float] NULL,
	[BL_Z] [float] NULL,
	[ScrapPercentage] [float] NULL,
	[BL_Lunghezza] [float] NULL,
	[BL_Larghezza] [float] NULL,
	[BL_QtaCalcolata] [char](1) NULL,
	[NetQuantity] [float] NULL,
	[BL_MultiPosaQty] [float] NULL,
	[OMCanBePicked] [char](1) NULL,
	[OMCopyAsMessage] [char](1) NULL,
	[OMMessageType] [int] NULL,
 CONSTRAINT [PK_BillOfMaterialsComp] PRIMARY KEY NONCLUSTERED 
(
	[BOM] ASC,
	[Line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_BillOfMaterialsRouting]    Script Date: 15/11/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BillOfMaterialsRouting](
	[RtgStep] [smallint] NOT NULL,
	[Alternate] [varchar](8) NOT NULL,
	[AltRtgStep] [smallint] NOT NULL,
	[BOM] [varchar](21) NOT NULL,
	[Operation] [varchar](21) NULL,
	[ProcessingAttendancePerc] [float] NULL,
	[SetupAttendancePerc] [float] NULL,
	[Notes] [varchar](1024) NULL,
	[WC] [varchar](8) NULL,
	[ProcessingTime] [int] NULL,
	[ProcessingWorkingTime] [int] NULL,
	[SetupTime] [int] NULL,
	[SetupWorkingTime] [int] NULL,
	[LineTypeInDN] [int] NULL,
	[NoOfProcessingWorkers] [smallint] NULL,
	[NoOfSetupWorkers] [smallint] NULL,
	[QueueTime] [int] NULL,
	[SubId] [int] NULL,
	[Supplier] [varchar](12) NULL,
	[Qty] [float] NULL,
	[TotalTime] [char](1) NULL,
	[IsWC] [char](1) NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedID] [int] NOT NULL,
	[TBModifiedID] [int] NOT NULL,
	[BL_Priority] [smallint] NULL,
	[BL_MultiPosaRapporto] [float] NULL,
	[BL_MultiPosaTempoLavoro] [int] NULL,
	[BL_Ricetta] [varchar](8) NULL,
	[VP_check] [tinyint] NULL,
	[VP_check_date] [datetime] NULL,
 CONSTRAINT [PK_BillOfMaterialsRouting] PRIMARY KEY NONCLUSTERED 
(
	[BOM] ASC,
	[RtgStep] ASC,
	[Alternate] ASC,
	[AltRtgStep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_CustSupp]    Script Date: 15/11/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_CustSupp](
	[CustSuppType] [int] NOT NULL,
	[CustSupp] [varchar](12) NOT NULL,
	[CompanyName] [varchar](128) NULL,
	[TaxIdNumber] [varchar](20) NULL,
	[FiscalCode] [varchar](20) NULL,
	[ChambOfCommRegistrNo] [varchar](20) NULL,
	[Account] [varchar](16) NULL,
	[Address] [varchar](128) NULL,
	[ZIPCode] [varchar](10) NULL,
	[City] [varchar](64) NULL,
	[County] [varchar](3) NULL,
	[Country] [varchar](64) NULL,
	[Telephone1] [varchar](20) NULL,
	[Telephone2] [varchar](20) NULL,
	[Telex] [varchar](16) NULL,
	[Fax] [varchar](16) NULL,
	[Internet] [varchar](64) NULL,
	[EMail] [varchar](128) NULL,
	[ISOCountryCode] [varchar](2) NULL,
	[SIACode] [varchar](5) NULL,
	[ContactPerson] [varchar](64) NULL,
	[TitleCode] [varchar](8) NULL,
	[NaturalPerson] [char](1) NULL,
	[IsAnEUCustSupp] [char](1) NULL,
	[Language] [varchar](8) NULL,
	[PriceList] [varchar](8) NULL,
	[CustSuppBank] [varchar](11) NULL,
	[Payment] [varchar](8) NULL,
	[CACheck] [varchar](2) NULL,
	[IBAN] [varchar](34) NULL,
	[IBANIsManual] [char](1) NULL,
	[CA] [varchar](18) NULL,
	[CIN] [varchar](1) NULL,
	[Currency] [varchar](8) NULL,
	[SendDocumentsTo] [varchar](8) NULL,
	[PaymentAddress] [varchar](8) NULL,
	[ShipToAddress] [varchar](8) NULL,
	[Disabled] [char](1) NULL,
	[Notes] [varchar](1024) NULL,
	[WorkingTime] [varchar](24) NULL,
	[CompanyBank] [varchar](11) NULL,
	[Discount1] [float] NULL,
	[Discount2] [float] NULL,
	[DiscountFormula] [varchar](16) NULL,
	[ExternalCode] [varchar](16) NULL,
	[CompanyCA] [varchar](18) NULL,
	[Presentation] [int] NULL,
	[CustomerCompanyCA] [varchar](18) NULL,
	[DDCustSupp] [varchar](16) NULL,
	[PrivacyStatement] [char](1) NULL,
	[LinkedCustSupp] [varchar](12) NULL,
	[DocumentSendingType] [int] NULL,
	[IsDummy] [char](1) NULL,
	[InTaxLists] [char](1) NULL,
	[WorkingPosition] [varchar](32) NULL,
	[CustSuppKind] [int] NULL,
	[TBGuid] [uniqueidentifier] NULL,
	[TaxOffice] [varchar](32) NULL,
	[Storage] [varchar](8) NULL,
	[CostCenter] [varchar](8) NULL,
	[Job] [varchar](10) NULL,
	[InsertionDate] [datetime] NULL,
	[PrivacyStatementPrintDate] [datetime] NULL,
	[Region] [varchar](32) NULL,
	[MailSendingType] [int] NULL,
	[OldCustSupp] [varchar](12) NULL,
	[CompanyRegistrNo] [varchar](10) NULL,
	[FactoringCA] [varchar](18) NULL,
	[InCurrency] [char](1) NULL,
	[NoBlackList] [char](1) NULL,
	[BlackListCustSupp] [varchar](12) NULL,
	[SkypeID] [varchar](64) NULL,
	[CBICode] [varchar](10) NULL,
	[InvoiceAccTpl] [varchar](8) NULL,
	[CreditNoteAccTpl] [varchar](8) NULL,
	[Draft] [char](1) NULL,
	[Latitude] [varchar](16) NULL,
	[Longitude] [varchar](16) NULL,
	[IsCustoms] [char](1) NULL,
	[CertifiedEMail] [varchar](64) NULL,
	[NoTaxComm] [char](1) NULL,
	[NoSendPostaLite] [char](1) NULL,
	[GenRegNo] [varchar](20) NULL,
	[GenRegEntity] [varchar](10) NULL,
	[FedStateReg] [varchar](20) NULL,
	[TaxpayerType] [int] NULL,
	[MunicipalityReg] [varchar](20) NULL,
	[SUFRAMA] [varchar](9) NULL,
	[Address2] [varchar](64) NULL,
	[StreetNo] [varchar](10) NULL,
	[District] [varchar](64) NULL,
	[FederalState] [varchar](2) NULL,
	[PaymentPeriShablesWithin60] [varchar](8) NULL,
	[PaymentPeriShablesOver60] [varchar](8) NULL,
	[UsedForSummaryDocuments] [char](1) NULL,
	[FiscalCtg] [varchar](8) NULL,
	[ActivityCode] [varchar](10) NULL,
	[FantasyName] [varchar](128) NULL,
	[PymtAccount] [varchar](16) NULL,
	[LeasingLetter] [varchar](1) NULL,
	[OMNIASubAccount] [varchar](6) NULL,
	[IPACode] [varchar](7) NULL,
	[EORICode] [varchar](17) NULL,
	[AdministrationReference] [varchar](20) NULL,
	[ImmediateLikeAccompanying] [char](1) NULL,
	[ElectronicInvoicing] [varchar](1) NULL,
	[PrintedInKepyo] [char](1) NULL,
	[PublicSector] [char](1) NULL,
	[Profession] [varchar](15) NULL,
	[SubmissionExcluded] [char](1) NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedID] [int] NOT NULL,
	[TBModifiedID] [int] NOT NULL,
	[BL_RicaricoFornitore] [float] NULL,
	[BL_PLCodice] [varchar](21) NULL,
	[BL_PLUsername] [varchar](32) NULL,
	[BL_PLPassword] [varchar](32) NULL,
	[BL_eMailScadenziario] [varchar](64) NULL,
	[BL_Iso9000] [char](1) NULL,
	[BL_IsoTS] [char](1) NULL,
	[BL_Valutazione] [char](1) NULL,
	[BL_TipoFornitore] [int] NULL,
	[BL_IndiceIV] [float] NULL,
	[BL_NotaProdServ] [varchar](64) NULL,
	[BL_Server] [varchar](32) NULL,
	[BL_Username] [varchar](16) NULL,
	[BL_Password] [varchar](16) NULL,
	[BL_Database] [varchar](16) NULL,
	[ChambOfCommCounty] [varchar](3) NULL,
	[PermanentBranchCode] [varchar](8) NULL,
	[FDISOCountryCode] [varchar](2) NULL,
	[FDFiscalCode] [varchar](16) NULL,
	[FDNaturalPerson] [char](1) NULL,
	[FDCompanyName] [varchar](80) NULL,
	[FDName] [varchar](60) NULL,
	[FDLastName] [varchar](60) NULL,
	[FiscalRegime] [varchar](20) NULL,
	[FDFiscalCodeID] [varchar](28) NULL,
	[FDEORICode] [varchar](17) NULL,
	[FDTitleCode] [varchar](8) NULL,
	[SendByCertifiedEmail] [char](1) NULL,
	[SplitTax] [char](1) NULL,
	[FiscalName] [varchar](128) NULL,
	[TaxIdType] [int] NULL,
	[AswStandard] [int] NULL,
	[PrivacyAgreed] [char](1) NULL,
	[MarketingAgreed] [char](1) NULL,
	[RegisterReceivedEI] [int] NULL,
	[EICertifiedEMail] [varchar](64) NULL,
	[EITypeCodeItemCustomer] [varchar](35) NULL,
	[EITypeCodeItemBarcode] [varchar](35) NULL,
	[EITypeCodeItem] [varchar](35) NULL,
	[EIUnitValue] [int] NULL,
	[SplitTaxIBAN] [varchar](34) NULL,
	[NSOOrders] [char](1) NULL,
	[RefDocReceivedEI] [int] NULL,
	[GLN] [varchar](13) NULL,
	[GLNDataExchange] [varchar](13) NULL,
	[GroupTaxIdNumber] [varchar](20) NULL,
	[EUTaxIdNumber] [varchar](20) NULL,
	[SubsidizedCustomer] [char](1) NULL,
	[InLiquidation] [char](1) NULL,
	[ItemsRefSubcontractorBL] [int] NULL,
	[DCCustSuppID] [varchar](35) NULL,
	[DCIsCompanyCustSupp] [char](1) NULL,
	[ProductLine] [varchar](8) NULL,
	[NTSendingStatus] [int] NULL,
	[UseFatelWeb2] [char](1) NULL,
	[EIItemType] [varchar](35) NULL,
	[BL_FatturaPerSede] [char](1) NULL,
	[BL_DocumentoDefault] [int] NULL,
	[BL_Invia_eMail] [char](1) NULL,
	[BL_eMailScadenzario] [varchar](64) NULL,
 CONSTRAINT [PK_CustSupp] PRIMARY KEY NONCLUSTERED 
(
	[CustSuppType] ASC,
	[CustSupp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_Items]    Script Date: 15/11/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_Items](
	[Item] [varchar](21) NOT NULL,
	[SaleBarCode] [varchar](21) NULL,
	[Description] [varchar](128) NULL,
	[IsGood] [char](1) NULL,
	[TaxCode] [varchar](4) NULL,
	[BaseUoM] [varchar](8) NULL,
	[BasePrice] [float] NULL,
	[Discount1] [float] NULL,
	[Discount2] [float] NULL,
	[DiscountFormula] [varchar](16) NULL,
	[Markup] [float] NULL,
	[ItemType] [varchar](8) NULL,
	[CommodityCtg] [varchar](8) NULL,
	[HomogeneousCtg] [varchar](8) NULL,
	[CommissionCtg] [varchar](8) NULL,
	[SaleOffset] [varchar](16) NULL,
	[PurchaseOffset] [varchar](16) NULL,
	[AvailabilityDate] [datetime] NULL,
	[SaleType] [int] NULL,
	[HasCustomers] [char](1) NULL,
	[HasSuppliers] [char](1) NULL,
	[InternalNote] [varchar](128) NULL,
	[PublicNote] [varchar](128) NULL,
	[Producer] [varchar](16) NULL,
	[UseSerialNo] [char](1) NULL,
	[OldItem] [varchar](21) NULL,
	[Disabled] [char](1) NULL,
	[ProductCtg] [varchar](8) NULL,
	[ProductSubCtg] [varchar](8) NULL,
	[KitExpansion] [char](1) NULL,
	[PostKitComponents] [char](1) NULL,
	[Picture] [varchar](128) NULL,
	[StandardCostDate] [datetime] NULL,
	[Nature] [int] NULL,
	[SecondRateUoM] [varchar](8) NULL,
	[SecondRate] [varchar](21) NULL,
	[PurchaseType] [int] NULL,
	[ConsuptionOffset] [varchar](16) NULL,
	[NotPostable] [char](1) NULL,
	[SalespersonComm] [float] NULL,
	[CostCenter] [varchar](8) NULL,
	[NoUoMSearch] [char](1) NULL,
	[Job] [varchar](10) NULL,
	[DescriptionText] [varchar](64) NULL,
	[CanBeDisabled] [char](1) NULL,
	[ProductLine] [varchar](8) NULL,
	[ShortDescription] [varchar](40) NULL,
	[TBGuid] [uniqueidentifier] NULL,
	[BasePriceWithTax] [char](1) NULL,
	[SubjectToWithholdingTax] [char](1) NULL,
	[CreationDate] [datetime] NULL,
	[ModificationDate] [datetime] NULL,
	[NoAddDiscountInSaleDoc] [char](1) NULL,
	[BarcodeSegment] [varchar](21) NULL,
	[ReverseCharge] [char](1) NULL,
	[RCTaxCode] [varchar](4) NULL,
	[Draft] [char](1) NULL,
	[Valorize] [char](1) NULL,
	[ISBN] [varchar](15) NULL,
	[AuthorCode] [varchar](8) NULL,
	[CoverPrice] [float] NULL,
	[ItemCodes] [varchar](16) NULL,
	[AdditionalCharge] [char](1) NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedID] [int] NOT NULL,
	[TBModifiedID] [int] NOT NULL,
	[BL_TipoCalcolo] [int] NULL,
	[BL_Manifattura] [float] NULL,
	[BL_Sconto1] [float] NULL,
	[BL_Sconto2] [float] NULL,
	[BL_Sconti] [varchar](12) NULL,
	[BL_Metallo] [float] NULL,
	[BL_Galvanica] [float] NULL,
	[BL_Peso] [float] NULL,
	[BL_Accessorie] [float] NULL,
	[BL_Ricarico] [float] NULL,
	[BL_Aggiuntiva] [float] NULL,
	[BL_PartNumber] [varchar](32) NULL,
	[BL_Lunghezza] [float] NULL,
	[BL_Larghezza] [float] NULL,
	[BL_Spessore] [float] NULL,
	[BL_PathDocArticoli] [varchar](256) NULL,
	[ItemModula] [char](1) NULL,
	[QtyModula] [float] NULL,
	[AvailModula] [float] NULL,
	[EITypeCode] [varchar](35) NULL,
	[EIValueCode] [varchar](35) NULL,
	[TSChargeType] [varchar](2) NULL,
	[TSChargeTypeFlag] [varchar](1) NULL,
	[BL_IsoTS] [char](1) NULL,
	[BL_RoHS] [char](1) NULL,
	[BL_Reach] [char](1) NULL,
	[BL_EarthRare] [char](1) NULL,
	[BL_PathSchedaSicurezza] [varchar](128) NULL,
	[BL_AggSchedaSicurezza] [datetime] NULL,
	[BL_DataPrimaValidazione] [datetime] NULL,
	[BL_DataScadenzaValidazione] [datetime] NULL,
	[BL_PathSchedaImballo] [varchar](128) NULL,
	[BL_NrPezziColpo] [int] NULL,
	[BL_DataValidazione] [datetime] NULL,
	[BL_MediaBattuteDa2015] [int] NULL,
	[BL_BrainCode] [smallint] NULL,
	[FiscalUoM] [varchar](8) NULL,
	[AccountingType] [varchar](8) NULL,
	[AccountingRuleCode] [varchar](8) NULL,
	[NoPaymDiscountInDoc] [char](1) NULL,
	[ToBeDiscontinued] [char](1) NULL,
	[VP_Clast] [float] NULL,
	[LastSubIdNotes] [int] NULL,
	[BL_PesoSpecifico] [float] NULL,
	[BL_MovimentaQtaIntere] [char](1) NULL,
	[EITypeLine] [int] NULL,
	[AswAddChargeCode] [varchar](60) NULL,
	[BL_CNCProgram] [nvarchar](32) NULL,
	[GroupItemCode] [varchar](21) NULL,
	[BL_ArticoloLS] [nvarchar](16) NULL,
	[BL_Materiale] [char](1) NULL,
	[EIAdminstrativeRef] [varchar](20) NULL,
	[Deposit] [char](1) NULL,
	[BL_Confezionato] [char](1) NULL,
	[BL_ScatolaCompresa] [char](1) NULL,
	[BL_Revisione] [varchar](21) NULL,
	[BL_UltimoAggiornamento] [datetime] NULL,
	[BL_NoteDocumento] [varchar](1024) NULL,
	[ItemLongDescription] [ntext] NULL,
	[BL_NewProduct] [char](1) NULL,
	[SalesForecast] [int] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY NONCLUSTERED 
(
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_ItemsGoodsData]    Script Date: 15/11/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_ItemsGoodsData](
	[Item] [varchar](21) NOT NULL,
	[Supplier] [varchar](12) NULL,
	[Location] [varchar](32) NULL,
	[DefaultLocation] [varchar](21) NULL,
	[Department] [varchar](8) NULL,
	[Appearance] [varchar](16) NULL,
	[NoOfPacks] [smallint] NULL,
	[NetWeight] [float] NULL,
	[GrossWeight] [float] NULL,
	[GrossVolume] [float] NULL,
	[PacksIssueUoM] [varchar](8) NULL,
	[ReceiptUoM] [varchar](8) NULL,
	[IssueUoM] [varchar](8) NULL,
	[ReportUoM] [varchar](8) NULL,
	[OnInventoryLevel] [char](1) NULL,
	[OnInventorySheets] [char](1) NULL,
	[NoABC] [char](1) NULL,
	[MaxUnsoldMonths] [smallint] NULL,
	[MinimumStock] [float] NULL,
	[MaximumStock] [float] NULL,
	[ReorderingLotSize] [float] NULL,
	[LastReceiptDate] [datetime] NULL,
	[LastIssueDate] [datetime] NULL,
	[LastSupplier] [varchar](12) NULL,
	[UseLots] [char](1) NULL,
	[LotPreexpiringDays] [smallint] NULL,
	[LotValidityDays] [smallint] NULL,
	[PacksReceiptUoM] [varchar](8) NULL,
	[MinimumSaleQty] [float] NULL,
	[TraceabilityCritical] [char](1) NULL,
	[WEEECtg] [varchar](8) NULL,
	[WEEEAmount] [float] NULL,
	[WEEECtg2] [varchar](8) NULL,
	[WEEEAmount2] [float] NULL,
	[PostToInspection] [char](1) NULL,
	[SpecificationsForSupplier] [ntext] NULL,
	[InsertAnalParam] [char](1) NULL,
	[ManageSample] [char](1) NULL,
	[PercSample] [float] NULL,
	[SampleQty] [float] NULL,
	[UseSupplierLotAsNewLotNumber] [int] NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedID] [int] NOT NULL,
	[TBModifiedID] [int] NOT NULL,
	[PPTCtg] [varchar](8) NULL,
	[PPTAmount] [float] NULL,
	[PPTCtg2] [varchar](8) NULL,
	[PPTAmount2] [float] NULL,
	[PPTQty] [float] NULL,
	[PPTNRQty] [float] NULL,
	[PPTTax] [char](1) NULL,
 CONSTRAINT [PK_ItemsGoodsData] PRIMARY KEY NONCLUSTERED 
(
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_ItemsManufacturingData]    Script Date: 15/11/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_ItemsManufacturingData](
	[Item] [varchar](21) NOT NULL,
	[MRPPolicy] [int] NULL,
	[ScrapPerc] [float] NULL,
	[LeadTime] [float] NULL,
	[OrderReleaseDays] [smallint] NULL,
	[AnticipationDays] [smallint] NULL,
	[ReferenceLot] [float] NULL,
	[TimeRoundingType] [int] NULL,
	[EconomicOrderQty] [float] NULL,
	[RMCost] [float] NULL,
	[InhouseProcessingCost] [float] NULL,
	[OutsourcedProcessingCost] [float] NULL,
	[SetupCost] [float] NULL,
	[ProductionCost] [float] NULL,
	[ProductionCostLastChange] [datetime] NULL,
	[NoMRP] [char](1) NULL,
	[MinProductionQty] [float] NULL,
	[LastProductionCost] [float] NULL,
	[ProductionCostMONo] [varchar](10) NULL,
	[StockLevelHorizon] [smallint] NULL,
	[MaxProductionQty] [float] NULL,
	[ReorderPoint] [float] NULL,
	[ProportionalLeadTime] [char](1) NULL,
	[NetByJobMOPurchOrd] [char](1) NULL,
	[NetByMOEmptyJob] [char](1) NULL,
	[ProductionLot] [float] NULL,
	[LoadingCriterionValuation] [int] NULL,
	[Factory] [varchar](8) NULL,
	[IsKanban] [char](1) NULL,
	[KanbanCardSize] [float] NULL,
	[KanbanCardsNum] [smallint] NULL,
	[KanbanCardsToReorder] [smallint] NULL,
	[BOMCost] [float] NULL,
	[VariantCost] [float] NULL,
	[MRPConfirmationRank] [smallint] NULL,
	[MakeOrBuy] [char](1) NULL,
	[UseItemManufParameters] [char](1) NULL,
	[ConfirmMajorPicking] [char](1) NULL,
	[ConfirmIntegratePL] [char](1) NULL,
	[ConfirmMinorPicking] [char](1) NULL,
	[ConfirmReturnMaterial] [char](1) NULL,
	[ItemManufStorage] [varchar](8) NULL,
	[ItemPickAlsoShortages] [char](1) NULL,
	[ItemManQtyRounding] [int] NULL,
	[ItemManQtyDigit] [smallint] NULL,
	[Model] [varchar](21) NULL,
	[Maker] [varchar](21) NULL,
	[OrdinaryMaintenance] [varchar](256) NULL,
	[ExtraordinaryMaintenance] [varchar](256) NULL,
	[Notes] [varchar](256) NULL,
	[RoundQty] [smallint] NULL,
	[IsTool] [char](1) NULL,
	[NetByMOConfirmed] [char](1) NULL,
	[LotGenerationMoment] [int] NULL,
	[MultipleLots] [char](1) NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedID] [int] NOT NULL,
	[TBModifiedID] [int] NOT NULL,
	[MakeOrBuyType] [int] NULL,
	[MultipleRoundQty] [float] NULL,
	[SamplesQty] [float] NULL,
	[ScrapQty] [float] NULL,
	[ManufacturingValueType] [int] NULL,
	[SecondRate] [varchar](21) NULL,
	[Scrap] [varchar](21) NULL,
	[EnableSecondRate] [char](1) NULL,
	[EnableScrap] [char](1) NULL,
	[TBGuid] [uniqueidentifier] NOT NULL,
	[BOMComponentUoM] [varchar](8) NULL,
	[WastePerc] [float] NULL,
 CONSTRAINT [PK_ItemsManufacturingData] PRIMARY KEY NONCLUSTERED 
(
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_CodeType_00]  DEFAULT ((7798784)) FOR [CodeType]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_Descriptio_00]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_UoM_00]  DEFAULT ('') FOR [UoM]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_CreationDa_00]  DEFAULT ('17991231') FOR [CreationDate]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_LastModifi_00]  DEFAULT ('17991231') FOR [LastModificationDate]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_UsePercQty_00]  DEFAULT ('0') FOR [UsePercQty]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_SF_00]  DEFAULT ('0') FOR [SF]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_Notes_00]  DEFAULT ('') FOR [Notes]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_InProducti_00]  DEFAULT ('0') FOR [InProduction]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_LastSubId_00]  DEFAULT ((0)) FOR [LastSubId]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_Configurab_00]  DEFAULT ('0') FOR [Configurable]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_Disabled_00]  DEFAULT ('0') FOR [Disabled]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_SalesDoc_00]  DEFAULT ('0') FOR [SalesDocOnly]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_TBGuid_00]  DEFAULT (0x00) FOR [TBGuid]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_MA_BillOfMaterials_TBCreated_000]  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_MA_BillOfMaterials_TBModified_000]  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_MA_BillOfMaterials_TBCreatedID_000]  DEFAULT ((0)) FOR [TBCreatedID]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_MA_BillOfMaterials_TBModifiedID_000]  DEFAULT ((0)) FOR [TBModifiedID]
GO
ALTER TABLE [dbo].[MA_BillOfMaterials] ADD  CONSTRAINT [DF_BillOfMate_IsFoodReci_00]  DEFAULT ('0') FOR [IsFoodRecipe]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Component_00]  DEFAULT ('') FOR [Component]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ComponentT_00]  DEFAULT ((7798784)) FOR [ComponentType]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Descriptio_01]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_UoM_01]  DEFAULT ('') FOR [UoM]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Qty_00]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_PercQty_00]  DEFAULT ((0)) FOR [PercQty]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_FixedCompo_00]  DEFAULT ('0') FOR [FixedComponent]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ScrapQty_00]  DEFAULT ((0)) FOR [ScrapQty]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ScrapUM_00]  DEFAULT ('') FOR [ScrapUM]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Notes_01]  DEFAULT ('') FOR [Notes]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Variant_00]  DEFAULT ('') FOR [Variant]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ValiditySt_00]  DEFAULT ('17991231') FOR [ValidityStartingDate]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ValidityEn_00]  DEFAULT ('17991231') FOR [ValidityEndingDate]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_SubId_00]  DEFAULT ((0)) FOR [SubId]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_TechnicalD_00]  DEFAULT ('') FOR [TechnicalData]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ExternalLi_00]  DEFAULT ((0)) FOR [ExternalLineReference]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ItemType_00]  DEFAULT ('') FOR [ItemType]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_StructureC_00]  DEFAULT ('') FOR [StructureCode]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ToExplode_00]  DEFAULT ('1') FOR [ToExplode]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Configurab_01]  DEFAULT ('0') FOR [Configurable]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_QuestionNo_00]  DEFAULT ('') FOR [QuestionNo]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_WastePerc_00]  DEFAULT ((0)) FOR [WastePerc]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_DNRtgStep_00]  DEFAULT ((0)) FOR [DNRtgStep]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_NotPostabl_00]  DEFAULT ('0') FOR [NotPostable]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Waste_00]  DEFAULT ('') FOR [Waste]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_OperationS_00]  DEFAULT ((0)) FOR [OperationSubId]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Drawing_01]  DEFAULT ('') FOR [Drawing]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_IsKanban_01]  DEFAULT ('0') FOR [IsKanban]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_FixedQty_01]  DEFAULT ('0') FOR [FixedQty]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_EndUseRtgS_00]  DEFAULT ((0)) FOR [EndUseRtgStep]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_Valoriz_00]  DEFAULT ('1') FOR [Valorize]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_MA_BillOfMaterialsComp_TBCreated_000]  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_MA_BillOfMaterialsComp_TBModified_000]  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_MA_BillOfMaterialsComp_TBCreatedID_000]  DEFAULT ((0)) FOR [TBCreatedID]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_MA_BillOfMaterialsComp_TBModifiedID_000]  DEFAULT ((0)) FOR [TBModifiedID]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_SetFixedQt_00]  DEFAULT ('0') FOR [SetFixedQtyOnMO]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_PickingSto_00]  DEFAULT ('') FOR [PickingStorage]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_PickingSpe_00]  DEFAULT ((6750211)) FOR [PickingSpecificatorType]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_PickingSpe_01]  DEFAULT ('') FOR [PickingSpecificator]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  DEFAULT ((0)) FOR [BL_X]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  DEFAULT ((0)) FOR [BL_Y]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  DEFAULT ((0)) FOR [BL_Z]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_ScrapPerce_00]  DEFAULT ((0)) FOR [ScrapPercentage]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_NetQuantit_00]  DEFAULT ((0)) FOR [NetQuantity]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  DEFAULT ((0)) FOR [BL_MultiPosaQty]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_OMCanBePi_00]  DEFAULT ('0') FOR [OMCanBePicked]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_OMCpyAsMsg_00]  DEFAULT ('0') FOR [OMCopyAsMessage]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] ADD  CONSTRAINT [DF_BillOfMate_OMMsgType_00]  DEFAULT ((2051342336)) FOR [OMMessageType]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_Operation_00]  DEFAULT ('') FOR [Operation]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_Processing_00]  DEFAULT ((0)) FOR [ProcessingAttendancePerc]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_SetupAtten_00]  DEFAULT ((0)) FOR [SetupAttendancePerc]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_Notes_02]  DEFAULT ('') FOR [Notes]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_WC_00]  DEFAULT ('') FOR [WC]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_Processing_01]  DEFAULT ((0)) FOR [ProcessingTime]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_Processing_02]  DEFAULT ((0)) FOR [ProcessingWorkingTime]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_SetupTime_00]  DEFAULT ((0)) FOR [SetupTime]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_SetupWorki_00]  DEFAULT ((0)) FOR [SetupWorkingTime]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_LineTypeIn_00]  DEFAULT ((24576000)) FOR [LineTypeInDN]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_NoOfProces_00]  DEFAULT ((0)) FOR [NoOfProcessingWorkers]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_NoOfSetupW_00]  DEFAULT ((0)) FOR [NoOfSetupWorkers]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_QueueTime_00]  DEFAULT ((0)) FOR [QueueTime]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_SubId_01]  DEFAULT ((0)) FOR [SubId]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_Supplier_00]  DEFAULT ('') FOR [Supplier]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_Qty_02]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_TotalTime_00]  DEFAULT ('0') FOR [TotalTime]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_BillOfMate_IsWC_00]  DEFAULT ('1') FOR [IsWC]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_MA_BillOfMaterialsRouting_TBCreated_000]  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_MA_BillOfMaterialsRouting_TBModified_000]  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_MA_BillOfMaterialsRouting_TBCreatedID_000]  DEFAULT ((0)) FOR [TBCreatedID]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_MA_BillOfMaterialsRouting_TBModifiedID_000]  DEFAULT ((0)) FOR [TBModifiedID]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  DEFAULT ((0)) FOR [BL_MultiPosaRapporto]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  DEFAULT ((0)) FOR [BL_MultiPosaTempoLavoro]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] ADD  CONSTRAINT [DF_MA_BillOfMaterialsRouting_VP_check]  DEFAULT ((0)) FOR [VP_check]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CompanyNam_00]  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_TaxIdNumbe_00]  DEFAULT ('') FOR [TaxIdNumber]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FiscalCode_00]  DEFAULT ('') FOR [FiscalCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ChambOfCom_00]  DEFAULT ('') FOR [ChambOfCommRegistrNo]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Account_00]  DEFAULT ('') FOR [Account]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Address_00]  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ZIPCode_00]  DEFAULT ('') FOR [ZIPCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_City_00]  DEFAULT ('') FOR [City]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_County_00]  DEFAULT ('') FOR [County]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Country_00]  DEFAULT ('') FOR [Country]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Telephone1_00]  DEFAULT ('') FOR [Telephone1]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Telephone2_00]  DEFAULT ('') FOR [Telephone2]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Telex_00]  DEFAULT ('') FOR [Telex]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Fax_00]  DEFAULT ('') FOR [Fax]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Internet_00]  DEFAULT ('') FOR [Internet]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EMail_00]  DEFAULT ('') FOR [EMail]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ISOCountry_00]  DEFAULT ('') FOR [ISOCountryCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_SIACode_00]  DEFAULT ('') FOR [SIACode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ContactPer_00]  DEFAULT ('') FOR [ContactPerson]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_TitleCode_00]  DEFAULT ('') FOR [TitleCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_NaturalPer_00]  DEFAULT ('0') FOR [NaturalPerson]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_IsAnEUCust_00]  DEFAULT ('0') FOR [IsAnEUCustSupp]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Language_00]  DEFAULT ('') FOR [Language]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PriceList_00]  DEFAULT ('') FOR [PriceList]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CustSuppBa_00]  DEFAULT ('') FOR [CustSuppBank]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Payment_00]  DEFAULT ('') FOR [Payment]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CACheck_00]  DEFAULT ('') FOR [CACheck]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_IBAN_00]  DEFAULT ('') FOR [IBAN]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_IBANIsManu_00]  DEFAULT ('0') FOR [IBANIsManual]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CA_00]  DEFAULT ('') FOR [CA]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CIN_00]  DEFAULT ('') FOR [CIN]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Currency_00]  DEFAULT ('') FOR [Currency]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_SendDocume_00]  DEFAULT ('') FOR [SendDocumentsTo]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PaymentAdd_00]  DEFAULT ('') FOR [PaymentAddress]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ShipToAddr_00]  DEFAULT ('') FOR [ShipToAddress]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Disabled_00]  DEFAULT ('0') FOR [Disabled]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Notes_00]  DEFAULT ('') FOR [Notes]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_WorkingTim_00]  DEFAULT ('') FOR [WorkingTime]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CompanyBan_00]  DEFAULT ('') FOR [CompanyBank]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Discount1_00]  DEFAULT ((0)) FOR [Discount1]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Discount2_00]  DEFAULT ((0)) FOR [Discount2]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_DiscountFo_00]  DEFAULT ('') FOR [DiscountFormula]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ExternalCo_00]  DEFAULT ('') FOR [ExternalCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CompanyCA_00]  DEFAULT ('') FOR [CompanyCA]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Presentati_00]  DEFAULT ((1376256)) FOR [Presentation]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CustomerCo_00]  DEFAULT ('') FOR [CustomerCompanyCA]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_DDCustSupp_00]  DEFAULT ('') FOR [DDCustSupp]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PrivacySta_00]  DEFAULT ('0') FOR [PrivacyStatement]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_LinkedCust_00]  DEFAULT ('') FOR [LinkedCustSupp]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_DocumentSe_00]  DEFAULT ((11337728)) FOR [DocumentSendingType]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_IsDummy_00]  DEFAULT ('0') FOR [IsDummy]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_InTaxLists_00]  DEFAULT ('1') FOR [InTaxLists]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_WorkingPos_00]  DEFAULT ('') FOR [WorkingPosition]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Kind_00]  DEFAULT ((7733248)) FOR [CustSuppKind]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_TBGuid_00]  DEFAULT (0x00) FOR [TBGuid]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_TaxOffice_00]  DEFAULT ('') FOR [TaxOffice]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Storage_00]  DEFAULT ('') FOR [Storage]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CostCenter_00]  DEFAULT ('') FOR [CostCenter]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Job_00]  DEFAULT ('') FOR [Job]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_InsertionD_00]  DEFAULT ('17991231') FOR [InsertionDate]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PrivacySta_01]  DEFAULT ('17991231') FOR [PrivacyStatementPrintDate]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Region_00]  DEFAULT ('') FOR [Region]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_MailSendin_00]  DEFAULT ((12451841)) FOR [MailSendingType]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_OldCustSup_00]  DEFAULT ('') FOR [OldCustSupp]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CompanyReg_00]  DEFAULT ('') FOR [CompanyRegistrNo]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FactoringC_00]  DEFAULT ('') FOR [FactoringCA]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_InCurrency_00]  DEFAULT ('0') FOR [InCurrency]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_NoBlackList_00]  DEFAULT ('0') FOR [NoBlackList]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_BlackListC_00]  DEFAULT ('') FOR [BlackListCustSupp]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_SkypeID_00]  DEFAULT ('') FOR [SkypeID]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CBICode_00]  DEFAULT ('') FOR [CBICode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_InvoiceAcc_00]  DEFAULT ('') FOR [InvoiceAccTpl]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CreditNote_00]  DEFAULT ('') FOR [CreditNoteAccTpl]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Draft_00]  DEFAULT ('0') FOR [Draft]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Latitude_00]  DEFAULT ('') FOR [Latitude]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Longitude_00]  DEFAULT ('') FOR [Longitude]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_IsCustoms_00]  DEFAULT ('0') FOR [IsCustoms]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CertifiedE_00]  DEFAULT ('') FOR [CertifiedEMail]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_NoTaxComm_00]  DEFAULT ('0') FOR [NoTaxComm]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_NoSendPost_00]  DEFAULT ('0') FOR [NoSendPostaLite]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_GenRegNo_00]  DEFAULT ('') FOR [GenRegNo]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_GenRegEnti_00]  DEFAULT ('') FOR [GenRegEntity]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FedStateRe_00]  DEFAULT ('') FOR [FedStateReg]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_TaxpayerT_00]  DEFAULT ((30212096)) FOR [TaxpayerType]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Municipali_00]  DEFAULT ('') FOR [MunicipalityReg]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_SUFRAMA_00]  DEFAULT ('') FOR [SUFRAMA]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Address2_00]  DEFAULT ('') FOR [Address2]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_StreetNo_00]  DEFAULT ('') FOR [StreetNo]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_District_00]  DEFAULT ('') FOR [District]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FederalSta_00]  DEFAULT ('') FOR [FederalState]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PaymentPer_00]  DEFAULT ('') FOR [PaymentPeriShablesWithin60]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PaymentPer_01]  DEFAULT ('') FOR [PaymentPeriShablesOver60]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_UsedForSum_00]  DEFAULT ('0') FOR [UsedForSummaryDocuments]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FiscalCtg_00]  DEFAULT ('') FOR [FiscalCtg]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ActivityCo_00]  DEFAULT ('') FOR [ActivityCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FantasyNam_00]  DEFAULT ('') FOR [FantasyName]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PymtAccoun_00]  DEFAULT ('') FOR [PymtAccount]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_LeasingLet_00]  DEFAULT ('') FOR [LeasingLetter]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_OMNIASubAc_00]  DEFAULT ('') FOR [OMNIASubAccount]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_IPACode_00]  DEFAULT ('') FOR [IPACode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EORICodeo_00]  DEFAULT ('') FOR [EORICode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_AdminRefer_00]  DEFAULT ('') FOR [AdministrationReference]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ImmLikeAcc_00]  DEFAULT ('0') FOR [ImmediateLikeAccompanying]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Electronic_00]  DEFAULT ('0') FOR [ElectronicInvoicing]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PrintedInK_00]  DEFAULT ('1') FOR [PrintedInKepyo]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PublicSect_00]  DEFAULT ('0') FOR [PublicSector]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Profession_00]  DEFAULT ('') FOR [Profession]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Submission_00]  DEFAULT ('0') FOR [SubmissionExcluded]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_MA_CustSupp_TBCreated_000]  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_MA_CustSupp_TBModified_000]  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_MA_CustSupp_TBCreatedID_000]  DEFAULT ((0)) FOR [TBCreatedID]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_MA_CustSupp_TBModifiedID_000]  DEFAULT ((0)) FOR [TBModifiedID]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  DEFAULT ('') FOR [BL_PLCodice]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  DEFAULT ('') FOR [BL_PLUsername]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  DEFAULT ('') FOR [BL_PLPassword]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_MA_CustSupp_BL_Iso9000]  DEFAULT ('0') FOR [BL_Iso9000]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_MA_CustSupp_BL_IsoTS]  DEFAULT ('0') FOR [BL_IsoTS]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  DEFAULT ('0') FOR [BL_Valutazione]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_MA_CustSupp_BL_TipoForni_01]  DEFAULT ((545652736)) FOR [BL_TipoFornitore]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  DEFAULT ((0)) FOR [BL_IndiceIV]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  DEFAULT ('') FOR [BL_NotaProdServ]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_CfComCounty_00]  DEFAULT ('') FOR [ChambOfCommCounty]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PermBrCode_00]  DEFAULT ('') FOR [PermanentBranchCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDISOCCo_00]  DEFAULT ('') FOR [FDISOCountryCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDFisCode_00]  DEFAULT ('') FOR [FDFiscalCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDNatPerson_00]  DEFAULT ('0') FOR [FDNaturalPerson]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDCompN_00]  DEFAULT ('') FOR [FDCompanyName]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDName_00]  DEFAULT ('') FOR [FDName]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDLastName_00]  DEFAULT ('') FOR [FDLastName]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FiscalReg_00]  DEFAULT ('') FOR [FiscalRegime]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDFiscalID_00]  DEFAULT ('') FOR [FDFiscalCodeID]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDEORICode_00]  DEFAULT ('') FOR [FDEORICode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FDTitleCode_00]  DEFAULT ('') FOR [FDTitleCode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_SendByPEC_00]  DEFAULT ('0') FOR [SendByCertifiedEmail]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_SplitTax_00]  DEFAULT ('0') FOR [SplitTax]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_FiscalName_00]  DEFAULT ('') FOR [FiscalName]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_TaxIdType_00]  DEFAULT ((33226752)) FOR [TaxIdType]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_AswStandard_00]  DEFAULT ((32964608)) FOR [AswStandard]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_PrivacyAgr_00]  DEFAULT ('0') FOR [PrivacyAgreed]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_MarketingA_00]  DEFAULT ('0') FOR [MarketingAgreed]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_RegReceivedEI_00]  DEFAULT ((20905986)) FOR [RegisterReceivedEI]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EICertifiedEMail_00]  DEFAULT ('') FOR [EICertifiedEMail]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EITypeCodeItemCustomer_00]  DEFAULT ('') FOR [EITypeCodeItemCustomer]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EITypeCodeItemBarcode_00]  DEFAULT ('') FOR [EITypeCodeItemBarcode]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EITypeCodeItem_00]  DEFAULT ('') FOR [EITypeCodeItem]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EIUnitVal_00]  DEFAULT ((24903680)) FOR [EIUnitValue]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_SplitTaxIB_00]  DEFAULT ('') FOR [SplitTaxIBAN]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_NSOOrders_00]  DEFAULT ('0') FOR [NSOOrders]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_RefDocRecEI_00]  DEFAULT ((12517379)) FOR [RefDocReceivedEI]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_GLN_00]  DEFAULT ('') FOR [GLN]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_GLNDataExc_00]  DEFAULT ('') FOR [GLNDataExchange]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_GroupTaxId_00]  DEFAULT ('') FOR [GroupTaxIdNumber]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EUTaxIdNum_00]  DEFAULT ('') FOR [EUTaxIdNumber]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_Subsidized_00]  DEFAULT ('0') FOR [SubsidizedCustomer]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_InLiquidat_00]  DEFAULT ('0') FOR [InLiquidation]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ItemsRefSBL_00]  DEFAULT ((8716288)) FOR [ItemsRefSubcontractorBL]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_DCCustSupp_00]  DEFAULT ('') FOR [DCCustSuppID]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_DCIsCompan_00]  DEFAULT ('0') FOR [DCIsCompanyCustSupp]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_ProductLin_00]  DEFAULT ('') FOR [ProductLine]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_NTSenSt_00]  DEFAULT ((42795008)) FOR [NTSendingStatus]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_UseFatelW2_00]  DEFAULT ('0') FOR [UseFatelWeb2]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  CONSTRAINT [DF_CustSupp_EIItemType_00]  DEFAULT ('') FOR [EIItemType]
GO
ALTER TABLE [dbo].[MA_CustSupp] ADD  DEFAULT ((3407874)) FOR [BL_DocumentoDefault]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_SaleBarCod_00]  DEFAULT ('') FOR [SaleBarCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Descriptio_00]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_IsGood_00]  DEFAULT ('0') FOR [IsGood]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_TaxCode_00]  DEFAULT ('') FOR [TaxCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_BaseUoM_00]  DEFAULT ('') FOR [BaseUoM]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_BasePrice_00]  DEFAULT ((0)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Discount1_00]  DEFAULT ((0)) FOR [Discount1]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Discount2_00]  DEFAULT ((0)) FOR [Discount2]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_DiscountFo_00]  DEFAULT ('') FOR [DiscountFormula]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Markup_00]  DEFAULT ((0)) FOR [Markup]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ItemType_00]  DEFAULT ('') FOR [ItemType]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_CommodityC_00]  DEFAULT ('') FOR [CommodityCtg]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Homogeneou_00]  DEFAULT ('') FOR [HomogeneousCtg]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Commission_00]  DEFAULT ('') FOR [CommissionCtg]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_SaleOffset_00]  DEFAULT ('') FOR [SaleOffset]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_PurchaseOf_00]  DEFAULT ('') FOR [PurchaseOffset]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Availabili_00]  DEFAULT ('17991231') FOR [AvailabilityDate]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_SaleType_00]  DEFAULT ((3670020)) FOR [SaleType]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_HasCustome_00]  DEFAULT ('0') FOR [HasCustomers]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_HasSupplie_00]  DEFAULT ('0') FOR [HasSuppliers]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_InternalNo_00]  DEFAULT ('') FOR [InternalNote]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_PublicNote_00]  DEFAULT ('') FOR [PublicNote]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Producer_00]  DEFAULT ('') FOR [Producer]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_UseSerialN_00]  DEFAULT ('0') FOR [UseSerialNo]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_OldItem_00]  DEFAULT ('') FOR [OldItem]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Disabled_00]  DEFAULT ('0') FOR [Disabled]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ProductCtg_00]  DEFAULT ('') FOR [ProductCtg]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ProductSub_00]  DEFAULT ('') FOR [ProductSubCtg]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_KitExpansi_00]  DEFAULT ('0') FOR [KitExpansion]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_PostKitCom_00]  DEFAULT ('0') FOR [PostKitComponents]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Picture_00]  DEFAULT ('') FOR [Picture]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_StandardCo_00]  DEFAULT ('17991231') FOR [StandardCostDate]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Nature_00]  DEFAULT ((22413314)) FOR [Nature]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_SecondRate_00]  DEFAULT ('') FOR [SecondRateUoM]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_SecondRate_01]  DEFAULT ('') FOR [SecondRate]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_PurchaseTy_00]  DEFAULT ((3670020)) FOR [PurchaseType]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Consuption_00]  DEFAULT ('') FOR [ConsuptionOffset]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_NotPostabl_00]  DEFAULT ('0') FOR [NotPostable]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Salesperso_00]  DEFAULT ((0)) FOR [SalespersonComm]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_CostCenter_00]  DEFAULT ('') FOR [CostCenter]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_NoUoMSearc_00]  DEFAULT ('0') FOR [NoUoMSearch]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Job_00]  DEFAULT ('') FOR [Job]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Descriptio_01]  DEFAULT ('') FOR [DescriptionText]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_CanBeDisab_00]  DEFAULT ('0') FOR [CanBeDisabled]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ProductLin_00]  DEFAULT ('') FOR [ProductLine]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ShortDescr_00]  DEFAULT ('') FOR [ShortDescription]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_TBGuid_00]  DEFAULT (0x00) FOR [TBGuid]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_BasePriceW_00]  DEFAULT ('0') FOR [BasePriceWithTax]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_SubjectToW_00]  DEFAULT ('0') FOR [SubjectToWithholdingTax]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_CreationDa_00]  DEFAULT ('17991231') FOR [CreationDate]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ModificaDa_00]  DEFAULT ('17991231') FOR [ModificationDate]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_NoAddDisco_00]  DEFAULT ('0') FOR [NoAddDiscountInSaleDoc]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_BarcodeSeg_00]  DEFAULT ('') FOR [BarcodeSegment]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ReverseCha_00]  DEFAULT ('0') FOR [ReverseCharge]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_RCTaxCode_00]  DEFAULT ('') FOR [RCTaxCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Draft_00]  DEFAULT ('0') FOR [Draft]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Val_00]  DEFAULT ('1') FOR [Valorize]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ISBN_00]  DEFAULT ('') FOR [ISBN]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_AuthorCode_00]  DEFAULT ('') FOR [AuthorCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_CoverPrice_00]  DEFAULT ((0)) FOR [CoverPrice]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ItemCodes_00]  DEFAULT ('') FOR [ItemCodes]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Additional_00]  DEFAULT ((0)) FOR [AdditionalCharge]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_TBCreated_000]  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_TBModified_000]  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_TBCreatedID_000]  DEFAULT ((0)) FOR [TBCreatedID]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_TBModifiedID_000]  DEFAULT ((0)) FOR [TBModifiedID]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_BL_TipoCalcolo]  DEFAULT ((544407552)) FOR [BL_TipoCalcolo]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_BL_Sconti]  DEFAULT ('') FOR [BL_Sconti]
GO
ALTER TABLE [dbo].[MA_Items] ADD  DEFAULT ('') FOR [BL_PartNumber]
GO
ALTER TABLE [dbo].[MA_Items] ADD  DEFAULT ((0)) FOR [BL_Lunghezza]
GO
ALTER TABLE [dbo].[MA_Items] ADD  DEFAULT ((0)) FOR [BL_Larghezza]
GO
ALTER TABLE [dbo].[MA_Items] ADD  DEFAULT ((0)) FOR [BL_Spessore]
GO
ALTER TABLE [dbo].[MA_Items] ADD  DEFAULT ('') FOR [BL_PathDocArticoli]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_ItemModula]  DEFAULT ('0') FOR [ItemModula]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_QtyModula]  DEFAULT ((0)) FOR [QtyModula]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_AvailModula]  DEFAULT ((0)) FOR [AvailModula]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_EITypCod_00]  DEFAULT ('') FOR [EITypeCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_EIValCod_00]  DEFAULT ('') FOR [EIValueCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_TSChargTyp_00]  DEFAULT ('') FOR [TSChargeType]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_TSChargTypF_00]  DEFAULT ('') FOR [TSChargeTypeFlag]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_FiscalUoM_00]  DEFAULT ('') FOR [FiscalUoM]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_AccType_00]  DEFAULT ('') FOR [AccountingType]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_AccRuleCode_00]  DEFAULT ('') FOR [AccountingRuleCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_NoPayDiscInDoc_00]  DEFAULT ('0') FOR [NoPaymDiscountInDoc]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ToBeDiscontinued_00]  DEFAULT ('0') FOR [ToBeDiscontinued]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_MA_Items_VP_Clast]  DEFAULT ((0)) FOR [VP_Clast]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_LastSubIdNotes_00]  DEFAULT ((0)) FOR [LastSubIdNotes]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_EITypeLi_00]  DEFAULT ((22020096)) FOR [EITypeLine]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_AswAddCh_00]  DEFAULT ('') FOR [AswAddChargeCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_GroupItemCode_00]  DEFAULT ('') FOR [GroupItemCode]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_EIAdmRef_00]  DEFAULT ('') FOR [EIAdminstrativeRef]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_Deposit_00]  DEFAULT ('0') FOR [Deposit]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_ItLongDe_00]  DEFAULT ('') FOR [ItemLongDescription]
GO
ALTER TABLE [dbo].[MA_Items] ADD  DEFAULT ((1)) FOR [BL_NewProduct]
GO
ALTER TABLE [dbo].[MA_Items] ADD  CONSTRAINT [DF_Items_SalesForec_00]  DEFAULT ((43188224)) FOR [SalesForecast]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_Supplier_00]  DEFAULT ('') FOR [Supplier]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_Location_00]  DEFAULT ('') FOR [Location]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_DefaultLoc_00]  DEFAULT ('') FOR [DefaultLocation]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_Department_00]  DEFAULT ('') FOR [Department]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_Appearance_00]  DEFAULT ('') FOR [Appearance]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_NoOfPacks_00]  DEFAULT ((0)) FOR [NoOfPacks]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_NetWeight_00]  DEFAULT ((0)) FOR [NetWeight]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_GrossWeigh_00]  DEFAULT ((0)) FOR [GrossWeight]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_GrossVolum_00]  DEFAULT ((0)) FOR [GrossVolume]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PacksIssue_00]  DEFAULT ('') FOR [PacksIssueUoM]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_ReceiptUoM_00]  DEFAULT ('') FOR [ReceiptUoM]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_IssueUoM_00]  DEFAULT ('') FOR [IssueUoM]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_ReportUoM_00]  DEFAULT ('') FOR [ReportUoM]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_OnInventor_00]  DEFAULT ('0') FOR [OnInventoryLevel]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_OnInventor_01]  DEFAULT ('0') FOR [OnInventorySheets]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_NoABC_00]  DEFAULT ('0') FOR [NoABC]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_MaxUnsoldM_00]  DEFAULT ((0)) FOR [MaxUnsoldMonths]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_MinimumSto_00]  DEFAULT ((0)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_MaximumSto_00]  DEFAULT ((0)) FOR [MaximumStock]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_Reordering_00]  DEFAULT ((0)) FOR [ReorderingLotSize]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_LastReceip_00]  DEFAULT ('17991231') FOR [LastReceiptDate]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_LastIssueD_00]  DEFAULT ('17991231') FOR [LastIssueDate]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_LastSuppli_00]  DEFAULT ('') FOR [LastSupplier]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_UseLots_00]  DEFAULT ('0') FOR [UseLots]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_LotPreexpi_00]  DEFAULT ((0)) FOR [LotPreexpiringDays]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_LotValidit_00]  DEFAULT ((0)) FOR [LotValidityDays]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PacksRecei_00]  DEFAULT ('') FOR [PacksReceiptUoM]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_MinimumSal_00]  DEFAULT ((0)) FOR [MinimumSaleQty]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_Traceabili_00]  DEFAULT ('0') FOR [TraceabilityCritical]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_Items_WEEECtg_00]  DEFAULT ('') FOR [WEEECtg]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_Items_WEEEAmount_00]  DEFAULT ((0)) FOR [WEEEAmount]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_WEEECtg2_00]  DEFAULT ('') FOR [WEEECtg2]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_WEEEAmount_00]  DEFAULT ((0)) FOR [WEEEAmount2]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PostToInsp_00]  DEFAULT ('0') FOR [PostToInspection]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_Specificat_00]  DEFAULT ('') FOR [SpecificationsForSupplier]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_InsertAnal_00]  DEFAULT ('0') FOR [InsertAnalParam]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_ManageSamp_00]  DEFAULT ('0') FOR [ManageSample]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PercSample_00]  DEFAULT ((100)) FOR [PercSample]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_SampleQty_00]  DEFAULT ((0)) FOR [SampleQty]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_UseSupplierLot_00]  DEFAULT ((28311552)) FOR [UseSupplierLotAsNewLotNumber]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_MA_ItemsGoodsData_TBCreated_000]  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_MA_ItemsGoodsData_TBModified_000]  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_MA_ItemsGoodsData_TBCreatedID_000]  DEFAULT ((0)) FOR [TBCreatedID]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_MA_ItemsGoodsData_TBModifiedID_000]  DEFAULT ((0)) FOR [TBModifiedID]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PPTCtg_00]  DEFAULT ('') FOR [PPTCtg]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PPTAmount_00]  DEFAULT ('') FOR [PPTAmount]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PPTCtg2_00]  DEFAULT ('') FOR [PPTCtg2]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PPTAmount2_00]  DEFAULT ('') FOR [PPTAmount2]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PPTQty_00]  DEFAULT ('') FOR [PPTQty]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PPTNRQty_00]  DEFAULT ('') FOR [PPTNRQty]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] ADD  CONSTRAINT [DF_ItemsGoods_PPTTax_00]  DEFAULT ('0') FOR [PPTTax]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_MRPPolicy_00]  DEFAULT ((22609920)) FOR [MRPPolicy]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ScrapPerc_00]  DEFAULT ((0)) FOR [ScrapPerc]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_LeadTime_00]  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_OrderRelea_00]  DEFAULT ((0)) FOR [OrderReleaseDays]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Anticipati_00]  DEFAULT ((0)) FOR [AnticipationDays]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ReferenceL_00]  DEFAULT ((0)) FOR [ReferenceLot]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_TimeRoundi_00]  DEFAULT ((22544384)) FOR [TimeRoundingType]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_EconomicOr_00]  DEFAULT ((0)) FOR [EconomicOrderQty]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_RMCost_00]  DEFAULT ((0)) FOR [RMCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_InhousePro_00]  DEFAULT ((0)) FOR [InhouseProcessingCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Outsourced_00]  DEFAULT ((0)) FOR [OutsourcedProcessingCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_SetupCost_00]  DEFAULT ((0)) FOR [SetupCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Production_00]  DEFAULT ((0)) FOR [ProductionCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Production_01]  DEFAULT ('17991231') FOR [ProductionCostLastChange]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_NoMRP_00]  DEFAULT ('0') FOR [NoMRP]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_MinProduct_00]  DEFAULT ((0)) FOR [MinProductionQty]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_LastProduc_00]  DEFAULT ((0)) FOR [LastProductionCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Production_02]  DEFAULT ('') FOR [ProductionCostMONo]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_StockLevel_00]  DEFAULT ((0)) FOR [StockLevelHorizon]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_MaxProduct_00]  DEFAULT ((0)) FOR [MaxProductionQty]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ReorderPoi_00]  DEFAULT ((0)) FOR [ReorderPoint]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Propor_00]  DEFAULT ('0') FOR [ProportionalLeadTime]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_NetByJobMO_00]  DEFAULT ('0') FOR [NetByJobMOPurchOrd]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_NetByMOEmp_00]  DEFAULT ('0') FOR [NetByMOEmptyJob]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ProductLot_00]  DEFAULT ((0)) FOR [ProductionLot]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_LoadCrite_00]  DEFAULT ((20643840)) FOR [LoadingCriterionValuation]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Factory_00]  DEFAULT ('') FOR [Factory]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ManItems_IsKanban_00]  DEFAULT ('0') FOR [IsKanban]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ManItems_KBCArdSize_00]  DEFAULT ((0)) FOR [KanbanCardSize]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ManItems_KBCArdNum_00]  DEFAULT ((0)) FOR [KanbanCardsNum]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ManItems_KBCardReod_00]  DEFAULT ((0)) FOR [KanbanCardsToReorder]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ManItems_BOMCost_00]  DEFAULT ((0)) FOR [BOMCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ManItems_VarCost_00]  DEFAULT ((0)) FOR [VariantCost]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ManItems_MRPConfirmationRank_00]  DEFAULT ('0') FOR [MRPConfirmationRank]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_MakeOrBuy_00]  DEFAULT ('0') FOR [MakeOrBuy]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_UseItemMan_00]  DEFAULT ('0') FOR [UseItemManufParameters]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ConfirmMaj_00]  DEFAULT ('0') FOR [ConfirmMajorPicking]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ConfirmInt_00]  DEFAULT ('0') FOR [ConfirmIntegratePL]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ConfirmMin_00]  DEFAULT ('0') FOR [ConfirmMinorPicking]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ConfirmRet_00]  DEFAULT ('0') FOR [ConfirmReturnMaterial]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ItemManufS_00]  DEFAULT ('') FOR [ItemManufStorage]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ItemPickAl_00]  DEFAULT ('0') FOR [ItemPickAlsoShortages]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ItemManQty_00]  DEFAULT ((786432)) FOR [ItemManQtyRounding]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ItemManQty_01]  DEFAULT ((0)) FOR [ItemManQtyDigit]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Model_00]  DEFAULT ('') FOR [Model]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Maker_00]  DEFAULT ('') FOR [Maker]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_OrdMiant_00]  DEFAULT ('') FOR [OrdinaryMaintenance]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ExtraMiant_00]  DEFAULT ('') FOR [ExtraordinaryMaintenance]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Notes_00]  DEFAULT ('') FOR [Notes]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_RoundQty_00]  DEFAULT ((0)) FOR [RoundQty]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_IsTool_00]  DEFAULT ('0') FOR [IsTool]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_NetByMOCon_00]  DEFAULT ('0') FOR [NetByMOConfirmed]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_LotGenerat_00]  DEFAULT ((25821186)) FOR [LotGenerationMoment]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_MultipleLo_00]  DEFAULT ('0') FOR [MultipleLots]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_MA_ItemsManufacturingData_TBCreated_000]  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_MA_ItemsManufacturingData_TBModified_000]  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_MA_ItemsManufacturingData_TBCreatedID_000]  DEFAULT ((0)) FOR [TBCreatedID]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_MA_ItemsManufacturingData_TBModifiedID_000]  DEFAULT ((0)) FOR [TBModifiedID]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_MakeOrBuyType_00]  DEFAULT ((2032140288)) FOR [MakeOrBuyType]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_MultipleRo_00]  DEFAULT ((0)) FOR [MultipleRoundQty]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_SamplesQty_00]  DEFAULT ((0)) FOR [SamplesQty]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_ScrapQty_00]  DEFAULT ((0)) FOR [ScrapQty]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Manufactur_00]  DEFAULT ((11272195)) FOR [ManufacturingValueType]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_SecondRate_00]  DEFAULT ('') FOR [SecondRate]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_Scrap_00]  DEFAULT ('') FOR [Scrap]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_EnableSecon_00]  DEFAULT ('0') FOR [EnableSecondRate]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_EnableScrap_00]  DEFAULT ('0') FOR [EnableScrap]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_MA_ItemsManufacturingData_TBGuid_000]  DEFAULT (newid()) FOR [TBGuid]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_BOMCompone_00]  DEFAULT ('') FOR [BOMComponentUoM]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] ADD  CONSTRAINT [DF_ItemsManuf_WastePerc_00]  DEFAULT ((0)) FOR [WastePerc]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp]  WITH CHECK ADD  CONSTRAINT [FK_BillOfMate_BillOfMate_00] FOREIGN KEY([BOM])
REFERENCES [dbo].[MA_BillOfMaterials] ([BOM])
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsComp] CHECK CONSTRAINT [FK_BillOfMate_BillOfMate_00]
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting]  WITH CHECK ADD  CONSTRAINT [FK_BillOfMate_BillOfMate_01] FOREIGN KEY([BOM])
REFERENCES [dbo].[MA_BillOfMaterials] ([BOM])
GO
ALTER TABLE [dbo].[MA_BillOfMaterialsRouting] CHECK CONSTRAINT [FK_BillOfMate_BillOfMate_01]
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData]  WITH CHECK ADD  CONSTRAINT [FK_ItemsGoods_Items_00] FOREIGN KEY([Item])
REFERENCES [dbo].[MA_Items] ([Item])
GO
ALTER TABLE [dbo].[MA_ItemsGoodsData] CHECK CONSTRAINT [FK_ItemsGoods_Items_00]
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData]  WITH CHECK ADD  CONSTRAINT [FK_ItemsManuf_Items_00] FOREIGN KEY([Item])
REFERENCES [dbo].[MA_Items] ([Item])
GO
ALTER TABLE [dbo].[MA_ItemsManufacturingData] CHECK CONSTRAINT [FK_ItemsManuf_Items_00]
GO
