USE [WebAppTEST]
GO
/****** Object:  Table [dbo].[AR_NotificationLinks]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_NotificationLinks](
	[NotificationID] [int] NOT NULL,
	[BOM] [nvarchar](50) NULL,
	[ProjectID] [int] NULL,
	[TaskID] [int] NULL,
	[MOId] [int] NULL,
	[SaleOrdId] [int] NULL,
	[SerialNo] [nvarchar](50) NULL,
	[CompanyId] [int] NOT NULL,
	[DocumentType] [varchar](50) NULL,
	[PurchaseOrdId] [int] NOT NULL,
	[SaleDocId] [int] NOT NULL,
	[PurchaseDocId] [int] NOT NULL,
	[ItemCode] [varchar](21) NULL,
	[CustSuppType] [int] NOT NULL,
	[CustSuppCode] [varchar](12) NULL,
	[LinkId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_AR_NotificationLinks] PRIMARY KEY CLUSTERED 
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_Notifications]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Notifications](
	[notificationId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[tbCreated] [datetime] NULL,
	[notificationCategoryId] [int] NULL,
	[isClosed] [bit] NULL,
	[closingDate] [datetime] NULL,
	[closingUser] [int] NULL,
	[cancelled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_NotificationDetails]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_NotificationDetails](
	[notificationId] [int] NULL,
	[messageId] [int] IDENTITY(1,1) NOT NULL,
	[senderId] [int] NULL,
	[receiverId] [int] NULL,
	[message] [nvarchar](max) NULL,
	[tbCreated] [datetime] NULL,
	[isReadByUser] [bit] NULL,
	[cancelled] [bit] NULL,
	[responseOptionId] [int] NULL,
	[eventId] [int] NULL,
	[pinned] [bit] NULL,
	[isReadByReceiver] [bit] NOT NULL,
	[ReceiverReadedDate] [datetime] NOT NULL,
	[received] [bit] NULL,
	[receiverMentioned] [bit] NULL,
	[favorite] [bit] NULL,
	[replyToMessageId] [int] NULL,
	[messageColor] [nvarchar](10) NULL,
	[chatLeft] [int] NOT NULL,
	[pollId] [int] NULL,
	[leftChatDate] [datetime] NULL,
	[archived] [int] NOT NULL,
	[isEdited] [bit] NULL,
	[lastEditDate] [datetime] NULL,
	[editCount] [int] NULL,
	[isMuted] [bit] NOT NULL,
	[muteExpiryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_NotificationCategory]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_NotificationCategory](
	[notificationCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[hexColor] [varchar](7) NULL,
	[defaultResponseOptionId] [int] NULL,
	[defaultTitle] [varchar](200) NULL,
	[menuType] [varchar](50) NULL,
	[CompanyId] [int] NULL,
	[intercompany] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserNotifications]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UserNotifications]
AS
WITH NotificationDetails AS (
 SELECT 
    nd.notificationId,
    nd.receiverId AS userId,
    MAX(CASE WHEN nd.pinned = 0 THEN 0	ELSE 1 END) AS pinned,
    MAX(CASE WHEN nd.favorite			= 0 then 0 ELSE 1 END) AS favorite,
    MAX(CASE WHEN nd.isMuted			= 0 then 0 ELSE 1 END) AS isMuted,
    MAX(CASE WHEN nd.muteExpiryDate		IS NULL THEN NULL ELSE nd.muteExpiryDate END) AS muteExpiryDate,
    MAX(CASE WHEN nd.archived			= 0 then 0 ELSE 1 END) AS archived,
    MAX(CASE WHEN nd.chatLeft			= 0 then 0 ELSE 1 END) AS chatLeft,
    MIN(CASE WHEN nd.isReadByUser = 0 THEN 0 ELSE 1 END) AS isReadByUser,
    MAX(nd.tbCreated) AS lastMessage,
    COUNT(DISTINCT nd.messageId) AS messageCount
FROM AR_NotificationDetails nd WITH (NOLOCK)
WHERE nd.cancelled = 0 
GROUP BY nd.notificationId, nd.receiverId
)
SELECT 
    nd.userId,
    n.notificationId,
    nc.hexColor,
    n.notificationCategoryId,
    nc.Name AS notificationCategoryName,
    n.title,
    n.isClosed,
    n.closingDate,
    n.closingUser,
    ISNULL(nd.pinned, 0) AS pinned,
    ISNULL(nd.favorite, 0) AS favorite,
    nd.isReadByUser,
    ISNULL(nd.isMuted, 0) AS isMuted,
    nd.muteExpiryDate,
    ISNULL(nd.archived, 0) AS archived,
    ISNULL(nd.chatLeft, 0) AS chatLeft,
    nd.lastMessage,
    nd.messageCount,
    ISNULL(nl.BOM, '') AS BOM,
    ISNULL(nl.MOId, 0) AS MOId,
    ISNULL(nl.SaleOrdId, 0) AS SaleOrdId,
    ISNULL(nl.TaskId, 0) AS TaskId,
    ISNULL(nl.ProjectId, 0) AS ProjectId,
    ISNULL(nl.SerialNo, '') AS SerialNo
FROM AR_Notifications n WITH (NOLOCK)
JOIN NotificationDetails nd ON n.notificationId = nd.notificationId
JOIN AR_NotificationCategory nc WITH (NOLOCK) ON nc.notificationCategoryId = n.notificationCategoryId
LEFT JOIN (
    SELECT 
        NotificationID,
        BOM,
        MOId,
        SaleOrdId,
        TaskId,
        ProjectId,
        SerialNo,
        ROW_NUMBER() OVER(PARTITION BY NotificationID ORDER BY LinkId DESC) AS RowNo
    FROM AR_NotificationLinks WITH (NOLOCK)
) nl ON nl.NotificationID = n.notificationId AND nl.RowNo = 1
WHERE n.cancelled = 0;

GO
/****** Object:  Table [dbo].[AR_Companies]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [varchar](50) NULL,
	[Description] [varchar](200) NOT NULL,
	[Email] [varchar](150) NULL,
	[ContactPerson] [varchar](150) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Notes] [varchar](max) NULL,
	[Licenses] [int] NULL,
	[ExpirationDate] [date] NULL,
	[w_PrimaryColor] [varchar](100) NULL,
	[w_SecondaryColor] [varchar](100) NULL,
	[dbName] [varchar](50) NOT NULL,
	[ProjectPrefix] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_Groups]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Groups](
	[groupId] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[groupName] [nvarchar](255) NOT NULL,
	[disabled] [int] NULL,
	[CompanyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_MessageReactions]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_MessageReactions](
	[ReactionID] [int] IDENTITY(1,1) NOT NULL,
	[MessageID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ReactionType] [nvarchar](10) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_MessageVersions]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_MessageVersions](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[MessageID] [int] NOT NULL,
	[PreviousMessage] [nvarchar](max) NOT NULL,
	[EditedDate] [datetime] NOT NULL,
	[EditedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_NotificationCategoryUsers]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_NotificationCategoryUsers](
	[notificationCategoryId] [int] NOT NULL,
	[userId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationCategoryId] ASC,
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_Notifications_ResponseOptions]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Notifications_ResponseOptions](
	[id] [int] NULL,
	[line] [int] NULL,
	[type] [varchar](max) NULL,
	[defaultValue] [varchar](max) NULL,
	[reply] [bit] NULL,
	[TypeValue2] [varchar](max) NULL,
	[idValue2] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_NotificationsView]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_NotificationsView](
	[userId] [int] NOT NULL,
	[notificationId] [int] NOT NULL,
	[hexColor] [varchar](max) NULL,
	[notificationCategoryId] [int] NULL,
	[notificationCategoryName] [varchar](max) NULL,
	[title] [varchar](max) NULL,
	[isClosed] [bit] NULL,
	[closingDate] [datetime] NULL,
	[closingUser] [int] NULL,
	[pinned] [bit] NULL,
	[tbCreated] [datetime] NULL,
	[messages] [nvarchar](max) NULL,
	[isReadByUser] [bit] NULL,
	[membersInfo] [nvarchar](max) NULL,
	[mentionToRead] [bit] NULL,
	[messagesSent] [bit] NULL,
	[isMentioned] [bit] NULL,
	[favorite] [bit] NULL,
	[MOId] [int] NOT NULL,
	[BOM] [nvarchar](50) NOT NULL,
	[SaleOrdId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[SerialNo] [nvarchar](50) NOT NULL,
	[chatLeft] [int] NULL,
	[archived] [int] NOT NULL,
	[isMuted] [bit] NOT NULL,
	[muteExpiryDate] [datetime] NULL,
	[lastMessage] [datetime] NULL,
	[messageCount] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_Users]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[salt] [varchar](max) NOT NULL,
	[joinDate] [datetime] NOT NULL,
	[level] [int] NOT NULL,
	[firstName] [varchar](80) NOT NULL,
	[lastName] [varchar](80) NOT NULL,
	[accountStatus] [int] NOT NULL,
	[userBadge] [int] NOT NULL,
	[userDisabled] [int] NOT NULL,
	[ERPUserId] [int] NOT NULL,
	[lastOnline] [datetime] NOT NULL,
	[verifiedUser] [int] NOT NULL,
	[resetToken] [nvarchar](max) NULL,
	[resetTokenExpiry] [datetime] NULL,
	[avatarUrl] [nvarchar](max) NULL,
	[phoneNumber] [varchar](15) NULL,
	[address] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[sessionDurationMinutes] [int] NULL,
	[CompanyId] [int] NOT NULL,
	[LicenseExpiration] [date] NULL,
	[DoNotDisturb] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [CompanyCode]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [ContactPerson]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ((5)) FOR [Licenses]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('1799-12-31') FOR [ExpirationDate]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('#1b263b') FOR [w_PrimaryColor]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('#1b263b') FOR [w_SecondaryColor]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [dbName]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [ProjectPrefix]
GO
ALTER TABLE [dbo].[AR_Groups] ADD  DEFAULT ('') FOR [description]
GO
ALTER TABLE [dbo].[AR_Groups] ADD  DEFAULT ((0)) FOR [disabled]
GO
ALTER TABLE [dbo].[AR_Groups] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[AR_MessageReactions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AR_MessageVersions] ADD  DEFAULT (getdate()) FOR [EditedDate]
GO
ALTER TABLE [dbo].[AR_NotificationCategory] ADD  DEFAULT ('#000000') FOR [hexColor]
GO
ALTER TABLE [dbo].[AR_NotificationCategory] ADD  DEFAULT ((3)) FOR [defaultResponseOptionId]
GO
ALTER TABLE [dbo].[AR_NotificationCategory] ADD  DEFAULT ('') FOR [defaultTitle]
GO
ALTER TABLE [dbo].[AR_NotificationCategory] ADD  DEFAULT ('') FOR [menuType]
GO
ALTER TABLE [dbo].[AR_NotificationCategory] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[AR_NotificationCategory] ADD  DEFAULT ((0)) FOR [intercompany]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [senderId]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [receiverId]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT (getdate()) FOR [tbCreated]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [isReadByUser]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [cancelled]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [responseOptionId]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [eventId]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  CONSTRAINT [DF_AR_NotificationDetails_pinned]  DEFAULT ((0)) FOR [pinned]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  CONSTRAINT [DF_AR_NotificationDetails_isReadByReceiver]  DEFAULT ((0)) FOR [isReadByReceiver]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  CONSTRAINT [DF_AR_NotificationDetails_ReceiverReadedDate]  DEFAULT (getdate()) FOR [ReceiverReadedDate]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  CONSTRAINT [DF_AR_NotificationDetails_received]  DEFAULT ((0)) FOR [received]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  CONSTRAINT [DF_AR_NotificationDetails_receiverMentioned]  DEFAULT ((0)) FOR [receiverMentioned]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  CONSTRAINT [DF_AR_NotificationDetails_favorite]  DEFAULT ((0)) FOR [favorite]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [replyToMessageId]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [chatLeft]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [archived]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [isEdited]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [editCount]
GO
ALTER TABLE [dbo].[AR_NotificationDetails] ADD  DEFAULT ((0)) FOR [isMuted]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ('') FOR [BOM]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [ProjectID]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [TaskID]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [MOId]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [SaleOrdId]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ('') FOR [SerialNo]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [PurchaseOrdId]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [SaleDocId]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [PurchaseDocId]
GO
ALTER TABLE [dbo].[AR_NotificationLinks] ADD  DEFAULT ((0)) FOR [CustSuppType]
GO
ALTER TABLE [dbo].[AR_Notifications] ADD  DEFAULT (getdate()) FOR [tbCreated]
GO
ALTER TABLE [dbo].[AR_Notifications] ADD  CONSTRAINT [DF__AR_Notifi__Group__1BC821DD]  DEFAULT ((1)) FOR [notificationCategoryId]
GO
ALTER TABLE [dbo].[AR_Notifications] ADD  DEFAULT ((0)) FOR [isClosed]
GO
ALTER TABLE [dbo].[AR_Notifications] ADD  DEFAULT ('1900-01-01') FOR [closingDate]
GO
ALTER TABLE [dbo].[AR_Notifications] ADD  DEFAULT ((0)) FOR [closingUser]
GO
ALTER TABLE [dbo].[AR_Notifications] ADD  DEFAULT ((0)) FOR [cancelled]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [mentionToRead]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [messagesSent]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [isMentioned]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  CONSTRAINT [DF_AR_NotificationsView_favorite]  DEFAULT ((0)) FOR [favorite]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [MOId]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ('') FOR [BOM]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [SaleOrdId]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [TaskId]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [ProjectId]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ('') FOR [SerialNo]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [chatLeft]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [archived]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [isMuted]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT (CONVERT([datetime],'1900-01-01')) FOR [lastMessage]
GO
ALTER TABLE [dbo].[AR_NotificationsView] ADD  DEFAULT ((0)) FOR [messageCount]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ('') FOR [email]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT (getdate()) FOR [joinDate]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((1)) FOR [level]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ('') FOR [firstName]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ('') FOR [lastName]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((1)) FOR [accountStatus]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((0)) FOR [userBadge]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((0)) FOR [userDisabled]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((0)) FOR [ERPUserId]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT (getdate()) FOR [lastOnline]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((0)) FOR [verifiedUser]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT (NULL) FOR [resetToken]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT (NULL) FOR [resetTokenExpiry]
GO
ALTER TABLE [dbo].[AR_Users] ADD  CONSTRAINT [DF_AR_Users_role]  DEFAULT ('') FOR [role]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((180)) FOR [sessionDurationMinutes]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ('1799-12-31') FOR [LicenseExpiration]
GO
ALTER TABLE [dbo].[AR_Users] ADD  DEFAULT ((0)) FOR [DoNotDisturb]
GO
ALTER TABLE [dbo].[AR_MessageReactions]  WITH CHECK ADD  CONSTRAINT [FK_MessageReactions_NotificationDetails] FOREIGN KEY([MessageID])
REFERENCES [dbo].[AR_NotificationDetails] ([messageId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AR_MessageReactions] CHECK CONSTRAINT [FK_MessageReactions_NotificationDetails]
GO
ALTER TABLE [dbo].[AR_MessageReactions]  WITH CHECK ADD  CONSTRAINT [FK_MessageReactions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[AR_Users] ([userId])
GO
ALTER TABLE [dbo].[AR_MessageReactions] CHECK CONSTRAINT [FK_MessageReactions_Users]
GO
ALTER TABLE [dbo].[AR_MessageVersions]  WITH CHECK ADD FOREIGN KEY([EditedBy])
REFERENCES [dbo].[AR_Users] ([userId])
GO
ALTER TABLE [dbo].[AR_MessageVersions]  WITH CHECK ADD FOREIGN KEY([MessageID])
REFERENCES [dbo].[AR_NotificationDetails] ([messageId])
GO
ALTER TABLE [dbo].[AR_NotificationCategoryUsers]  WITH CHECK ADD FOREIGN KEY([notificationCategoryId])
REFERENCES [dbo].[AR_NotificationCategory] ([notificationCategoryId])
GO
ALTER TABLE [dbo].[AR_NotificationCategoryUsers]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AR_Users] ([userId])
GO
ALTER TABLE [dbo].[AR_NotificationDetails]  WITH CHECK ADD FOREIGN KEY([notificationId])
REFERENCES [dbo].[AR_Notifications] ([notificationId])
GO
ALTER TABLE [dbo].[AR_NotificationDetails]  WITH CHECK ADD  CONSTRAINT [FK_NotificationDetails_Polls] FOREIGN KEY([pollId])
REFERENCES [dbo].[AR_Polls] ([PollID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AR_NotificationDetails] CHECK CONSTRAINT [FK_NotificationDetails_Polls]
GO
/****** Object:  StoredProcedure [dbo].[CreateNotificationsView]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CreateNotificationsView]
    @userId INT,
    @notificationId INT,
    @allNotificationsByUser INT,
	@OpenChat BIT = 0  -- Nuovo parametro: 0 per sidebar, 1 per chat aperta
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @CompanyId INT = ISNULL( (SELECT TOP(1) CompanyId FROM AR_Users WHERE userId = @userId ),0)
    -- Elimina record
    DELETE FROM AR_NotificationsView 
    WHERE userId = @userId 
      AND (notificationId = @notificationId OR @allNotificationsByUser = 1);

    -- Inserisci nuovi record
    WITH NotificationDetails AS (
        SELECT T0.notificationId
             , MAX(CASE WHEN T0.receiverId = @userId THEN pinned ELSE 0 END) AS pinned
             , MAX(CASE WHEN T0.receiverId = @userId THEN favorite ELSE 0 END) AS favorite
             , MAX(CASE WHEN (T0.receiverId != @userId AND T0.senderId = @userId) OR (T0.receiverId = @userId AND T0.senderId != @userId) THEN T0.tbCreated ELSE NULL END) AS tbCreated
             , MAX(CASE WHEN T0.receiverId = @userId THEN isMuted ELSE 0 END) AS isMuted
             , MAX(CASE WHEN T0.receiverId = @userId THEN muteExpiryDate ELSE NULL END) AS muteExpiryDate
        FROM AR_NotificationDetails (NOLOCK) T0
        WHERE T0.cancelled = 0 AND chatLeft = 0 AND tbCreated >= GETDATE()-10 -- 29.05.2025 : Prendo i messaggi degli utlimi 10 gg fino a quando non sviluppo il nuovo sistema migliorativo di notifiche
        GROUP BY T0.notificationId
    ),
    UserLeftChat AS (
        -- Ottiene la data in cui l'utente ha lasciato la chat (se applicabile)
        SELECT 
            notificationId,
            MAX(leftChatDate) AS leftChatDate
        FROM AR_NotificationDetails
        WHERE receiverId = @userId
        GROUP BY notificationId
    ),
    MessageDetails AS (
            SELECT 
                nd.notificationId
                , MAX(nd.messageId) AS messageId
                , nd.tbCreated
                , nd.message
                , nd.senderId
                , u.FirstName + ' ' + u.LastName AS senderName
                , nd.cancelled
                , nd.chatLeft
                , MAX(CASE WHEN nd.receiverId = @UserId THEN nd.pollId ELSE NULL END) AS pollId 
                , CASE WHEN nd.SenderId = @UserId THEN 1 ELSE 0 END AS selectedUser
                , MAX(CASE WHEN nd.receiverId = @UserId THEN nd.received ELSE 1 END) AS received
                , MAX(CASE WHEN nd.receiverMentioned = @UserId THEN nd.receiverMentioned ELSE 0 END) AS receiverMentioned
                , MAX(CASE WHEN nd.receiverId = @UserId THEN ISNULL(ru.username,'') ELSE '' END) AS usernameMention
                , MAX(CASE WHEN nd.receiverId = @UserId THEN nd.replyToMessageId ELSE 0 END) AS replyToMessageId
                , MAX(CASE WHEN nd.receiverId = @UserId THEN nd.messageColor ELSE NULL END) AS messageColor
                , MAX(CASE WHEN nd.receiverId = @UserId THEN nd.isEdited ELSE 0 END) AS isEdited
                , MAX(CASE WHEN nd.receiverId = @UserId THEN nd.lastEditDate ELSE NULL END) AS lastEditDate
                , MAX(CASE WHEN nd.receiverId = @UserId THEN nd.editCount ELSE 0 END) AS editCount
                , ISNULL((SELECT TB.firstName, TB.lastName, TB.userId, TA.ReceiverReadedDate
                          FROM AR_NotificationDetails (NOLOCK) TA 
                          JOIN AR_Users (NOLOCK) TB ON TB.userId = TA.receiverId 
                          WHERE TA.notificationId = nd.notificationId AND TA.receiverId != @userId AND TA.tbCreated = nd.tbCreated AND TA.isReadByReceiver = 1 
                          FOR JSON PATH, WITHOUT_ARRAY_WRAPPER), '[]') AS readedByUsers
            FROM AR_NotificationDetails (NOLOCK) nd
            JOIN AR_Users (NOLOCK) u ON u.userId = nd.senderId
            LEFT JOIN AR_Users (NOLOCK) ru ON ru.userId = nd.receiverId
            LEFT JOIN UserLeftChat ulc ON ulc.notificationId = nd.notificationId
            WHERE nd.receiverId = @userId
			AND nd.tbCreated >= GETDATE()-10 -- 29.05.2025 : Prendo i messaggi degli utlimi 10 gg fino a quando non sviluppo il nuovo sistema migliorativo di notifiche
              -- Solo se non è stata abbandonata o, se è stata abbandonata, includi solo i messaggi fino al punto di abbandono
              AND (
                    (nd.chatLeft = 0) OR 
                    (nd.chatLeft = 1 AND (ulc.leftChatDate IS NULL OR nd.tbCreated <= ulc.leftChatDate))
                  )
            GROUP BY nd.notificationId, nd.tbCreated, nd.message, nd.senderId, u.FirstName, u.LastName, nd.cancelled, chatLeft
        )
    INSERT INTO AR_NotificationsView(	userId
                                        , notificationId
                                        , hexColor
                                        , notificationCategoryId
                                        , notificationCategoryName
                                        , title
                                        , isClosed
                                        , closingDate
                                        , closingUser
                                        , pinned
                                        , favorite
                                        , tbCreated
                                        , messages
                                        , isReadByUser
                                        , membersInfo
                                        , mentionToRead
                                        , messagesSent
                                        , isMentioned
                                        , BOM
                                        , SaleOrdId
                                        , TaskId
                                        , ProjectId
                                        , SerialNo
                                        , chatLeft
                                        , archived
                                        , isMuted
                                        , muteExpiryDate
										, lastMessage
										, messageCount
                                        )
    SELECT 
        @userId
        , n.notificationId
        , nc.hexColor
        , n.notificationCategoryId
        , nc.Name AS notificationCategoryName
        , n.title
        , n.isClosed
        , n.closingDate
        , n.closingUser
        , ISNULL(nd.pinned, 0) AS pinned
        , ISNULL(nd.favorite, 0) AS favorite
        , ISNULL(nd.tbCreated, 0) AS tbCreated
        ,	CASE 
				WHEN @OpenChat = 0 THEN 
					( SELECT * FROM (SELECT TOP 5 * FROM MessageDetails WHERE notificationId = n.notificationId ORDER BY tbCreated DESC ) T ORDER BY tbCreated ASC FOR JSON PATH)
				ELSE 
					(SELECT * 
					 FROM MessageDetails 
					 WHERE notificationId = n.notificationId 
					 FOR JSON PATH)
			END AS messages
        , ISNULL((SELECT TOP 1 isReadByUser FROM AR_NotificationDetails WHERE notificationId = n.notificationId AND cancelled = 0 AND receiverId = @userId ORDER BY isReadByUser ASC), 0) AS isReadByUser
        , (	SELECT DISTINCT u.firstName, u.lastName, u.username, u.lastOnline, u.email, u.phoneNumber, u.role, c.Description as companyName, u.userId
            FROM AR_NotificationDetails nd
            JOIN AR_Users u ON u.userId = nd.receiverId
            JOIN AR_Companies c ON c.CompanyId = u.CompanyId 
            WHERE nd.notificationId = n.notificationId AND nd.chatLeft = 0
           FOR JSON PATH) AS membersInfo
        , ISNULL( (SELECT TOP(1) 1 FROM AR_NotificationDetails (NOLOCK) WHERE receiverId = @userId AND notificationId = nd.notificationId AND receiverMentioned = 1 AND isReadByReceiver = 0 ),0) AS mentionToRead
        , ISNULL( (SELECT TOP(1) 1 FROM AR_NotificationDetails (NOLOCK) WHERE senderId = @userId AND notificationId = nd.notificationId ),0) AS messagesSent
        , ISNULL( (SELECT TOP(1) 1 FROM AR_NotificationDetails (NOLOCK) WHERE receiverId = @userId AND notificationId = nd.notificationId AND receiverMentioned = 1 ),0) AS mentionToRead
        , ISNULL(NL.BOM         , '' )  AS BOM
        , ISNULL(NL.SaleOrdId   , 0 )   AS SaleOrdId
        , ISNULL(NL.TaskId      , 0 )   AS TaskId
        , ISNULL(NL.ProjectId   , 0 )   AS ProjectId
        , ISNULL(NL.SerialNo    , '' )  AS SerialNo
        , ISNULL( ( SELECT MAX(chatLeft) FROM AR_NotificationDetails (NOLOCK) WHERE receiverId = @userId AND notificationId = nd.notificationId ),0) AS chatLeft
        , ISNULL( ( SELECT MAX(archived) FROM AR_NotificationDetails (NOLOCK) WHERE receiverId = @userId AND notificationId = nd.notificationId ),0) AS archived
        , ISNULL(nd.isMuted, 0) AS isMuted
        , nd.muteExpiryDate
		, ISNULL( ( SELECT MAX(tbCreated) FROM AR_NotificationDetails (NOLOCK) WHERE notificationId = nd.notificationId ),0) AS lastMessage
		, (SELECT COUNT(*) FROM AR_NotificationDetails WHERE notificationId = n.notificationId AND cancelled = 0) AS messageCount
    FROM AR_Notifications (NOLOCK) n
    JOIN AR_NotificationCategory (NOLOCK) nc ON nc.notificationCategoryId = n.notificationCategoryId
    LEFT JOIN AR_Users (NOLOCK) cu ON cu.userId = n.closingUser
    LEFT JOIN NotificationDetails nd ON nd.notificationId = n.notificationId
    LEFT JOIN ( SELECT	*, ROW_NUMBER()OVER(PARTITION BY notificationId ORDER BY CompanyId DESC) AS RowNo
                FROM	AR_NotificationLinks 
                WHERE	( CompanyId = 0 OR CompanyId = @CompanyId )
                ) NL ON NL.RowNo = 1 AND NL.NotificationID = n.notificationId 
    WHERE EXISTS (SELECT 1 FROM AR_NotificationDetails (NOLOCK) WHERE notificationId = n.notificationId AND (receiverId = @userId OR senderId = @userId))
        AND n.cancelled = 0
        AND (n.notificationId = @notificationId OR @allNotificationsByUser = 1);
END
GO
/****** Object:  StoredProcedure [dbo].[GetNotificationLinkedDocuments]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[GetNotificationLinkedDocuments]
    @NotificationId int,
    @CompanyId int
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Ottiene il nome del database per l'azienda specificata
    DECLARE @DatabaseName varchar(50)
    SELECT @DatabaseName = dbName 
    FROM AR_Companies 
    WHERE CompanyId = @CompanyId AND IsActive = 1
    
    -- Crea una tabella temporanea per i risultati
    CREATE TABLE #Results (
        LinkId int,
        NotificationID int,
        CompanyId int,
        DocumentType varchar(50),
        BOM varchar(50),
        ProjectID int,
        TaskID int,
        MOId int,
        SaleOrdId int,
        SerialNo varchar(50),
        PurchaseOrdId int,
        SaleDocId int,
        PurchaseDocId int,
        ItemCode varchar(21),
        CustSuppType int,
        CustSuppCode varchar(12),
        DocumentNumber varchar(100),
        DocumentDate datetime,
        DocumentDescription varchar(200)
    )
    
    -- Inserisci i dati base dalla tabella NotificationLinks
    INSERT INTO #Results (
        LinkId, NotificationID, CompanyId, DocumentType, BOM, ProjectID, TaskID,
        MOId, SaleOrdId, SerialNo, PurchaseOrdId, SaleDocId, PurchaseDocId,
        ItemCode, CustSuppType, CustSuppCode
    )
    SELECT 
        LinkId
		, NotificationID
		, CompanyId
		, DocumentType
		, BOM
		, ProjectID
		, TaskID
		, MOId
		, SaleOrdId
		, SerialNo
		, PurchaseOrdId
		, SaleDocId
		, PurchaseDocId
		, ItemCode
		, CustSuppType
		, CustSuppCode
    FROM 
        AR_NotificationLinks
    WHERE 
        NotificationID = @NotificationId
        AND CompanyId = @CompanyId
    
    -- Determina automaticamente il DocumentType per i record esistenti
    UPDATE #Results SET DocumentType = 'MO' WHERE DocumentType IS NULL AND MOId > 0
    UPDATE #Results SET DocumentType = 'SaleOrd' WHERE DocumentType IS NULL AND SaleOrdId > 0
    UPDATE #Results SET DocumentType = 'BillOfMaterials' WHERE DocumentType IS NULL AND BOM IS NOT NULL AND BOM <> ''
	
    -- Per ciascun tipo di documento, aggiorna i dettagli con query dinamiche
    IF @DatabaseName IS NOT NULL
    BEGIN
        -- Per ordini di produzione (MOId)
        IF EXISTS (SELECT 1 FROM #Results WHERE MOId > 0)
        BEGIN
            DECLARE @MOQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = mo.MONo,
                DocumentDate = mo.CreationDate,
                DocumentDescription = ISNULL(it.Description, mo.BOM)
            FROM #Results r
            INNER JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_MO mo ON r.MOId = mo.MOId
            LEFT JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_Items it ON mo.BOM = it.Item
            WHERE r.MOId > 0;'
            
            BEGIN TRY
                EXEC sp_executesql @MOQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati degli ordini di produzione: ' + ERROR_MESSAGE();
            END CATCH
        END
        
        -- Per ordini di vendita (SaleOrdId)
        IF EXISTS (SELECT 1 FROM #Results WHERE SaleOrdId > 0)
        BEGIN
            DECLARE @SaleOrdQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = so.InternalOrdNo,
                DocumentDate = so.OrderDate,
                DocumentDescription = cs.CompanyName
            FROM #Results r
            INNER JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_SaleOrd so ON r.SaleOrdId = so.SaleOrdId
            LEFT JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp cs ON so.Customer = cs.CustSupp AND cs.CustSuppType = 3211265
            WHERE r.SaleOrdId > 0;'
            
            BEGIN TRY
                EXEC sp_executesql @SaleOrdQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati degli ordini di vendita: ' + ERROR_MESSAGE();
            END CATCH
        END
        
        -- Per ordini di acquisto (PurchaseOrdId)
        IF EXISTS (SELECT 1 FROM #Results WHERE PurchaseOrdId > 0)
        BEGIN
            DECLARE @PurchaseOrdQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = po.InternalOrdNo,
                DocumentDate = po.OrderDate,
                DocumentDescription = cs.CompanyName
            FROM #Results r
            INNER JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_PurchaseOrd po ON r.PurchaseOrdId = po.PurchaseOrdId
            LEFT JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp cs ON po.Supplier = cs.CustSupp AND cs.CustSuppType = 3211264
            WHERE r.PurchaseOrdId > 0;'
            
            BEGIN TRY
                EXEC sp_executesql @PurchaseOrdQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati degli ordini di acquisto: ' + ERROR_MESSAGE();
            END CATCH
        END
        
        -- Per documenti di vendita (SaleDocId)
        IF EXISTS (SELECT 1 FROM #Results WHERE SaleDocId > 0)
        BEGIN
            DECLARE @SaleDocQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = sd.DocNo,
                DocumentDate = sd.DocumentDate,
                DocumentDescription = CASE sd.DocumentType
                                         WHEN 3407873 THEN ''DDT - ''
                                         WHEN 3407874 THEN ''Fattura - ''
                                         WHEN 3407877 THEN ''Reso - ''
                                         WHEN 3407880 THEN ''C/Lavoro - ''
                                         ELSE ''''
                                      END + cs.CompanyName
            FROM #Results r
            INNER JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_SaleDoc sd ON r.SaleDocId = sd.SaleDocId
            LEFT JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp cs ON sd.CustSupp = cs.CustSupp AND cs.CustSuppType = sd.CustSuppType
            WHERE r.SaleDocId > 0;'
            
            BEGIN TRY
                EXEC sp_executesql @SaleDocQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati dei documenti di vendita: ' + ERROR_MESSAGE();
            END CATCH
        END
        
        -- Per articoli (ItemCode)
        IF EXISTS (SELECT 1 FROM #Results WHERE ItemCode IS NOT NULL)
        BEGIN
            DECLARE @ItemQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = it.Item,
                DocumentDescription = LEFT(it.Description,200)
            FROM #Results r
            INNER JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_Items it ON r.ItemCode = it.Item
            WHERE r.ItemCode IS NOT NULL;'
            
            BEGIN TRY
                EXEC sp_executesql @ItemQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati degli articoli: ' + ERROR_MESSAGE();
            END CATCH
        END
        
        -- Per clienti/fornitori (CustSuppCode)
        IF EXISTS (SELECT 1 FROM #Results WHERE CustSuppCode IS NOT NULL)
        BEGIN
            DECLARE @CustSuppQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = cs.CustSupp,
                DocumentDescription = LEFT(CONCAT((CASE WHEN cs.CustSuppType = 3211264 THEN ''Fornitore'' ELSE ''Cliente'' END), '' : '', cs.CompanyName),200)
            FROM #Results r
            INNER JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp cs ON	r.CustSuppCode COLLATE SQL_Latin1_General_CP1_CI_AS = cs.CustSupp AND r.CustSuppType = cs.CustSuppType
            WHERE r.CustSuppCode IS NOT NULL;'
            
            BEGIN TRY
                EXEC sp_executesql @CustSuppQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati dei clienti/fornitori: ' + ERROR_MESSAGE();
            END CATCH
        END
        
        -- Per distinte base (BOM)
        IF EXISTS (SELECT 1 FROM #Results WHERE BOM IS NOT NULL AND BOM <> '')
        BEGIN
            DECLARE @BOMQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = bom.BOM,
                DocumentDescription = LEFT(bom.Description,200)
            FROM #Results r
            INNER JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_BillOfMaterials bom ON r.BOM = bom.BOM
            WHERE r.BOM IS NOT NULL AND r.BOM <> '''';'
            
            BEGIN TRY
                EXEC sp_executesql @BOMQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati delle distinte base: ' + ERROR_MESSAGE();
            END CATCH
        END
		-- Progetti
		IF EXISTS (SELECT 1 FROM #Results WHERE ProjectID IS NOT NULL AND ProjectID > 0 AND TaskID = 0 )
        BEGIN
            DECLARE @ProjectQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = LEFT(PJ.Name,100),
                DocumentDescription = LEFT(PJ.Description,200),
				DocumentDate = PJ.EndDate
            FROM #Results r
			INNER JOIN [WebApp].dbo.MA_Projects PJ ON PJ.ProjectID = r.ProjectID
			INNER JOIN [WebApp].dbo.MA_ProjectStatus PS ON PS.Id = PJ.Status
            WHERE r.ProjectID IS NOT NULL AND r.ProjectID > 0 AND ISNULL(r.TaskId,0) = 0'
            
            BEGIN TRY
				EXEC sp_executesql @ProjectQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati delle distinte base: ' + ERROR_MESSAGE();
            END CATCH
        END
		-- Per Attività (Task) 
        IF EXISTS (SELECT 1 FROM #Results WHERE TaskID IS NOT NULL AND TaskID > 0 )
        BEGIN
            DECLARE @TaskQuery nvarchar(max) = N'
            UPDATE r
            SET DocumentNumber = LEFT(TK.title,200),
                DocumentDescription = CONCAT(''Progetto: '', LEFT(PJ.Name,90)),
				DocumentDate = TK.StartDate
            FROM #Results r
            INNER JOIN [WebApp].dbo.MA_ProjectTasks TK ON r.TaskID = TK.TaskID
			INNER JOIN [WebApp].dbo.MA_Projects PJ ON PJ.ProjectID = TK.ProjectID
            WHERE r.TaskID IS NOT NULL AND r.TaskID > 0;'
            
            BEGIN TRY
                EXEC sp_executesql @TaskQuery;
            END TRY
            BEGIN CATCH
                PRINT 'Errore durante l''aggiornamento dei dati delle distinte base: ' + ERROR_MESSAGE();
            END CATCH
        END
    END
    
    -- Restituisci i risultati
    SELECT 
        LinkId,
        NotificationID, 
        CompanyId,
        DocumentType,
        BOM,
        ProjectID,
        TaskID,
        MOId,
        SaleOrdId,
        SerialNo,
        PurchaseOrdId,
        SaleDocId,
        PurchaseDocId,
        ItemCode,
        CustSuppType,
        CustSuppCode,
        DocumentNumber,
        DocumentDate,
        DocumentDescription
    FROM #Results;
    
    -- Elimina la tabella temporanea
    DROP TABLE #Results;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserNotificationsWithMessages]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserNotificationsWithMessages]
    @userId INT,
    @notificationId INT = 0,
    @OpenChat BIT = 0,
    @PageSize INT = 50,        -- Numero di messaggi per pagina (default 25)
    @LastMessageId INT = NULL  -- ID ultimo messaggio caricato (per paginazione)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
    
    -- Aggiorna AR_Users.LastOnline
    UPDATE AR_Users SET LastOnline = GETDATE() WHERE UserId = @userId;
    
    -- Se è richiesta una notifica specifica
    IF @notificationId > 0
    BEGIN
        -- Crea una tabella temporanea per i messaggi
        CREATE TABLE #TempMessages (
            messageId INT,
            senderId INT,
            message NVARCHAR(MAX),
            tbCreated DATETIME,
            isReadByUser BIT,
            isReadByReceiver BIT,
            pinned BIT,
            receiverMentioned BIT,
            replyToMessageId INT,
            messageColor NVARCHAR(7),
            pollId INT,
            isEdited BIT,
            lastEditDate DATETIME,
            editCount INT,
            senderName NVARCHAR(200),
            selectedUser BIT,
            received BIT,
            senderUsername NVARCHAR(100)
        );
        
        -- Inserisci i messaggi principali paginati
        INSERT INTO #TempMessages
        SELECT TOP (@PageSize)
            nd.messageId,
            nd.senderId,
            nd.message,
            nd.tbCreated,
            nd.isReadByUser,
            nd.isReadByReceiver,
            nd.pinned,
            nd.receiverMentioned,
            nd.replyToMessageId,
            nd.messageColor,
            nd.pollId,
            nd.isEdited,
            nd.lastEditDate,
            nd.editCount,
            u.firstName + ' ' + u.lastName AS senderName,
            CASE WHEN nd.senderId = @userId THEN 1 ELSE 0 END AS selectedUser,
            nd.received,
            u.username AS senderUsername
        FROM AR_NotificationDetails nd WITH (NOLOCK)
        JOIN AR_Users u WITH (NOLOCK) ON u.userId = nd.senderId
        WHERE nd.notificationId = @notificationId 
            AND nd.receiverId = @userId
            AND nd.cancelled = 0
            AND (@LastMessageId IS NULL OR nd.messageId < @LastMessageId)
            AND (
                (nd.chatLeft = 0) 
                OR 
                (nd.chatLeft = 1 AND nd.tbCreated <= ISNULL(
                    (SELECT MAX(leftChatDate) 
                     FROM AR_NotificationDetails 
                     WHERE notificationId = nd.notificationId 
                         AND receiverId = @userId), 
                    '20991231')
                )
            )
        ORDER BY nd.messageId DESC;
        
        -- IMPORTANTE: Per ogni replyToMessageId, trova il messageId corretto per l'utente corrente
        -- basandosi su message, tbCreated e senderId del messaggio originale
        UPDATE t
        SET t.replyToMessageId = ISNULL(
            (
                SELECT TOP 1 nd_user.messageId
                FROM AR_NotificationDetails nd_orig WITH (NOLOCK)
                INNER JOIN AR_NotificationDetails nd_user WITH (NOLOCK)
                    ON nd_user.notificationId = @notificationId
                    AND nd_user.receiverId = @userId
                    AND nd_user.message = nd_orig.message
                    AND nd_user.tbCreated = nd_orig.tbCreated
                    AND nd_user.senderId = nd_orig.senderId
                    AND nd_user.cancelled = 0
                WHERE nd_orig.messageId = t.replyToMessageId
            ), 
            t.replyToMessageId
        )
        FROM #TempMessages t
        WHERE t.replyToMessageId IS NOT NULL AND t.replyToMessageId > 0;
        
        -- Ora aggiungi i messaggi referenziati che mancano (con i messageId corretti)
        INSERT INTO #TempMessages
        SELECT DISTINCT
            ref.messageId,
            ref.senderId,
            ref.message,
            ref.tbCreated,
            ref.isReadByUser,
            ref.isReadByReceiver,
            ref.pinned,
            ref.receiverMentioned,
            -- Anche qui dobbiamo correggere eventuali replyToMessageId
            ISNULL(
                (
                    SELECT TOP 1 nd_user2.messageId
                    FROM AR_NotificationDetails nd_orig2 WITH (NOLOCK)
                    INNER JOIN AR_NotificationDetails nd_user2 WITH (NOLOCK)
                        ON nd_user2.notificationId = @notificationId
                        AND nd_user2.receiverId = @userId
                        AND nd_user2.message = nd_orig2.message
                        AND nd_user2.tbCreated = nd_orig2.tbCreated
                        AND nd_user2.senderId = nd_orig2.senderId
                        AND nd_user2.cancelled = 0
                    WHERE nd_orig2.messageId = ref.replyToMessageId
                ), 
                ref.replyToMessageId
            ) AS replyToMessageId,
            ref.messageColor,
            ref.pollId,
            ref.isEdited,
            ref.lastEditDate,
            ref.editCount,
            u.firstName + ' ' + u.lastName AS senderName,
            CASE WHEN ref.senderId = @userId THEN 1 ELSE 0 END AS selectedUser,
            ref.received,
            u.username AS senderUsername
        FROM #TempMessages t
        INNER JOIN AR_NotificationDetails ref WITH (NOLOCK) 
            ON ref.messageId = t.replyToMessageId 
            AND ref.notificationId = @notificationId
            AND ref.receiverId = @userId
            AND ref.cancelled = 0
        JOIN AR_Users u WITH (NOLOCK) ON u.userId = ref.senderId
        WHERE t.replyToMessageId IS NOT NULL 
            AND t.replyToMessageId > 0
            AND NOT EXISTS (
                SELECT 1 FROM #TempMessages existing 
                WHERE existing.messageId = ref.messageId
            );
        
        -- Variabile per controllare se ci sono più messaggi
        DECLARE @HasMoreMessages BIT = 0;
        DECLARE @MessageCount INT = 0;
        
        -- Conta quanti messaggi ci sono dopo l'ultimo caricato
        SELECT @MessageCount = COUNT(*)
        FROM AR_NotificationDetails nd WITH (NOLOCK)
        WHERE nd.notificationId = @notificationId 
            AND nd.receiverId = @userId
            AND nd.cancelled = 0
            AND (@LastMessageId IS NULL OR nd.messageId < @LastMessageId)
            AND (
                (nd.chatLeft = 0) 
                OR 
                (nd.chatLeft = 1 AND nd.tbCreated <= ISNULL(
                    (SELECT MAX(leftChatDate) 
                     FROM AR_NotificationDetails 
                     WHERE notificationId = nd.notificationId 
                         AND receiverId = @userId), 
                    '20991231')
                )
            );
        
        -- Se ci sono più messaggi di quanti ne stiamo caricando, allora hasMoreMessages = 1
        IF @MessageCount > @PageSize
        BEGIN
            SET @HasMoreMessages = 1;
        END
        
        -- Ottieni la notifica con messaggi paginati
        SELECT 
            v.*,
            (
                SELECT 
                    messageId,
                    senderId,
                    message,
                    tbCreated,
                    isReadByUser,
                    isReadByReceiver,
                    pinned,
                    receiverMentioned,
                    replyToMessageId,
                    messageColor,
                    pollId,
                    isEdited,
                    lastEditDate,
                    editCount,
                    senderName,
                    selectedUser,
                    received,
                    senderUsername,
                    reactions,
                    readByUsers
                FROM (
                    SELECT 
                        t.messageId,
                        t.senderId,
                        t.message,
                        t.tbCreated,
                        t.isReadByUser,
                        t.isReadByReceiver,
                        t.pinned,
                        t.receiverMentioned,
                        t.replyToMessageId,
                        t.messageColor,
                        t.pollId,
                        t.isEdited,
                        t.lastEditDate,
                        t.editCount,
                        t.senderName,
                        t.selectedUser,
                        t.received,
                        t.senderUsername,
                        -- Informazioni sulle reazioni
                        (
                            SELECT 
                                mr.ReactionID,
                                mr.ReactionType,
                                mr.UserID,
                                ru.firstName + ' ' + ru.lastName AS userName
                            FROM AR_MessageReactions mr
                            JOIN AR_Users ru ON ru.userId = mr.UserID
                            WHERE mr.MessageID = t.messageId
                            FOR JSON PATH
                        ) AS reactions,
                        -- Informazioni di lettura
                        (
                            SELECT 
                                rd.receiverId AS userId,
                                ru.firstName + ' ' + ru.lastName AS userName,
                                rd.ReceiverReadedDate AS readDate
                            FROM AR_NotificationDetails rd
                            JOIN AR_Users ru ON ru.userId = rd.receiverId
                            WHERE rd.notificationId = @notificationId 
                                AND rd.tbCreated = t.tbCreated 
                                AND rd.message = t.message
                                AND rd.senderId = t.senderId
                                AND rd.isReadByReceiver = 1
                                AND rd.receiverId != @userId
                            FOR JSON PATH
                        ) AS readByUsers
                    FROM #TempMessages t
                ) AS MessagesSubquery
                ORDER BY messageId ASC -- Ordine crescente per la visualizzazione
                FOR JSON PATH
            ) AS messages,
            -- Aggiungi flag per indicare se ci sono altri messaggi
            @HasMoreMessages AS hasMoreMessages,
            -- Aggiungi conteggio totale messaggi (utile per UI)
            (
                SELECT COUNT(*)
                FROM AR_NotificationDetails nd WITH (NOLOCK)
                WHERE nd.notificationId = v.notificationId 
                    AND nd.receiverId = @userId
                    AND nd.cancelled = 0
                    AND (
                        (nd.chatLeft = 0) 
                        OR 
                        (nd.chatLeft = 1 AND nd.tbCreated <= ISNULL(
                            (SELECT MAX(leftChatDate) 
                             FROM AR_NotificationDetails 
                             WHERE notificationId = nd.notificationId 
                                 AND receiverId = @userId), 
                            '20991231')
                        )
                    )
            ) AS totalMessageCount,
            (
                SELECT DISTINCT 
                    u.userId,
                    u.firstName,
                    u.lastName,
                    u.username,
                    u.lastOnline,
                    u.email,
                    u.phoneNumber,
                    u.role,
                    c.Description as companyName
                FROM AR_NotificationDetails nd WITH (NOLOCK)
                JOIN AR_Users u WITH (NOLOCK) ON u.userId = nd.receiverId
                JOIN AR_Companies c WITH (NOLOCK) ON c.CompanyId = u.CompanyId 
                WHERE nd.notificationId = v.notificationId 
                    AND nd.chatLeft = 0
                FOR JSON PATH
            ) AS membersInfo,
            ISNULL((
                SELECT TOP(1) 1 
                FROM AR_NotificationDetails WITH (NOLOCK) 
                WHERE receiverId = @userId 
                    AND notificationId = v.notificationId 
                    AND receiverMentioned = 1 
                    AND isReadByReceiver = 0
            ), 0) AS mentionToRead,
            ISNULL((
                SELECT TOP(1) 1 
                FROM AR_NotificationDetails WITH (NOLOCK) 
                WHERE senderId = @userId 
                    AND notificationId = v.notificationId
            ), 0) AS messagesSent,
            ISNULL((
                SELECT TOP(1) 1 
                FROM AR_NotificationDetails WITH (NOLOCK) 
                WHERE receiverId = @userId 
                    AND notificationId = v.notificationId 
                    AND receiverMentioned = 1
            ), 0) AS isMentioned,
            -- Aggiungi info sull'utente che ha chiuso la chat
            ISNULL((
                SELECT u.firstName + ' ' + u.lastName
                FROM AR_Users u WITH (NOLOCK)
                WHERE u.userId = n.closingUser
            ), '') AS closingUser_Name
        FROM vw_UserNotifications v
        JOIN AR_Notifications n WITH (NOLOCK) ON n.notificationId = v.notificationId
        WHERE v.userId = @userId 
            AND v.notificationId = @notificationId;
            
        -- Cleanup
        DROP TABLE #TempMessages;
    END
    ELSE -- Ottieni tutte le notifiche dell'utente (per la sidebar)
    BEGIN
        -- Per la lista, prendi solo gli ultimi 5 messaggi per performance
        SELECT 
            v.*,
            (
                SELECT 
                    sub.messageId,
                    sub.senderId,
                    sub.message,
                    sub.tbCreated,
                    sub.isReadByUser,
                    sub.senderName,
                    sub.selectedUser
                FROM (
                    SELECT TOP 5
                        nd.messageId,
                        nd.senderId,
                        nd.message,
                        nd.tbCreated,
                        nd.isReadByUser,
                        u.firstName + ' ' + u.lastName AS senderName,
                        CASE WHEN nd.senderId = @userId THEN 1 ELSE 0 END AS selectedUser
                    FROM AR_NotificationDetails nd WITH (NOLOCK)
                    JOIN AR_Users u WITH (NOLOCK) ON u.userId = nd.senderId
                    WHERE nd.notificationId = v.notificationId 
                        AND nd.receiverId = @userId
                        AND nd.cancelled = 0
                    ORDER BY nd.tbCreated DESC
                ) AS sub
                ORDER BY sub.tbCreated ASC
                FOR JSON PATH
            ) AS messages,
            (
                SELECT COUNT(DISTINCT nd.receiverId)
                FROM AR_NotificationDetails nd WITH (NOLOCK)
                WHERE nd.notificationId = v.notificationId 
                    AND nd.chatLeft = 0
            ) AS memberCount,
            0 AS hasMoreMessages, -- Per la sidebar non serve paginazione
            v.messageCount AS totalMessageCount -- Dalla vista è già calcolato
        FROM vw_UserNotifications v
        WHERE v.userId = @userId
        ORDER BY v.pinned DESC, v.lastMessage DESC;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[LinkDocumentToNotification]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LinkDocumentToNotification]
    @NotificationId int,
    @CompanyId int,
    @DocumentType varchar(50),
    @BOM varchar(50) = NULL,
    @ProjectID int = 0,
    @TaskID int = 0,
    @MOId int = 0,
    @SaleOrdId int = 0,
    @SerialNo varchar(50) = NULL,
    @PurchaseOrdId int = 0,
    @SaleDocId int = 0,
    @PurchaseDocId int = 0,
    @ItemCode varchar(21) = NULL,
    @CustSuppType int = 0,
    @CustSuppCode varchar(12) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verificare se la notifica esiste
    IF NOT EXISTS (SELECT 1 FROM AR_Notifications WHERE notificationId = @NotificationId)
    BEGIN
        RAISERROR('Notifica non trovata', 16, 1);
        RETURN;
    END
    
    -- Verificare se l'azienda esiste
    IF NOT EXISTS (SELECT 1 FROM AR_Companies WHERE CompanyId = @CompanyId AND IsActive = 1)
    BEGIN
        RAISERROR('Azienda non trovata o non attiva', 16, 1);
        RETURN;
    END
    
    -- Verifica che almeno un identificatore di documento sia specificato
    IF @DocumentType = 'MO' AND @MOId = 0
        RAISERROR('Per documenti di tipo MO, specificare un MOId valido', 16, 1);
    ELSE IF @DocumentType = 'SaleOrd' AND @SaleOrdId = 0
        RAISERROR('Per documenti di tipo SaleOrd, specificare un SaleOrdId valido', 16, 1);
    ELSE IF @DocumentType = 'PurchaseOrd' AND @PurchaseOrdId = 0
        RAISERROR('Per documenti di tipo PurchaseOrd, specificare un PurchaseOrdId valido', 16, 1);
    ELSE IF @DocumentType = 'SaleDoc' AND @SaleDocId = 0
        RAISERROR('Per documenti di tipo SaleDoc, specificare un SaleDocId valido', 16, 1);
    ELSE IF @DocumentType = 'PurchaseDoc' AND @PurchaseDocId = 0
        RAISERROR('Per documenti di tipo PurchaseDoc, specificare un PurchaseDocId valido', 16, 1);
    ELSE IF @DocumentType = 'Item' AND @ItemCode IS NULL
        RAISERROR('Per documenti di tipo Item, specificare un ItemCode valido', 16, 1);
    ELSE IF @DocumentType = 'CustSupp' AND (@CustSuppCode IS NULL OR @CustSuppType = 0)
        RAISERROR('Per documenti di tipo CustSupp, specificare CustSuppCode e CustSuppType validi', 16, 1);
    ELSE IF @DocumentType = 'BillOfMaterials' AND @BOM IS NULL
        RAISERROR('Per documenti di tipo BillOfMaterials, specificare un BOM valido', 16, 1);
    ELSE IF @DocumentType = 'Task' AND @TaskID = 0
        RAISERROR('Per documenti di tipo Task, specificare un TaskID valido', 16, 1);
    ELSE IF @DocumentType = 'Project' AND @ProjectID = 0
        RAISERROR('Per documenti di tipo Project, specificare un ProjectID valido', 16, 1);
    
    -- Dichiarazione variabili per gestire il risultato
    DECLARE @LinkId int;
    DECLARE @ProjectLinked bit = 0;
    DECLARE @ActualProjectID int;
    
    -- Se stiamo collegando una Task, verifichiamo se dobbiamo collegare anche il progetto
    IF @DocumentType = 'Task' AND @TaskID > 0
    BEGIN
        -- Recupera il ProjectID della task se non è stato passato
        IF @ProjectID = 0
        BEGIN
            SELECT @ActualProjectID = ProjectID 
            FROM MA_ProjectTasks 
            WHERE TaskID = @TaskID;
        END
        ELSE
        BEGIN
            SET @ActualProjectID = @ProjectID;
        END
        
        -- Verifica se il progetto è già collegato alla notifica
        IF @ActualProjectID IS NOT NULL AND @ActualProjectID > 0
        BEGIN
            IF NOT EXISTS (
                SELECT 1 
                FROM AR_NotificationLinks 
                WHERE NotificationID = @NotificationId 
                  AND CompanyId = @CompanyId 
                  AND DocumentType = 'Project' 
                  AND ProjectID = @ActualProjectID
            )
            BEGIN
                -- Il progetto non è collegato, lo colleghiamo
                INSERT INTO AR_NotificationLinks (
                    NotificationID, CompanyId, DocumentType, BOM, ProjectID, TaskID,
                    MOId, SaleOrdId, SerialNo, PurchaseOrdId, SaleDocId, PurchaseDocId,
                    ItemCode, CustSuppType, CustSuppCode
                )
                VALUES (
                    @NotificationId, @CompanyId, 'Project', NULL, @ActualProjectID, 0,
                    0, 0, NULL, 0, 0, 0,
                    NULL, 0, NULL
                );
                
                SET @ProjectLinked = 1;
            END
        END
        
        -- Aggiorna il @ProjectID per il collegamento della task
        SET @ProjectID = @ActualProjectID;
    END
    
    -- Inserisci il collegamento principale (ora permette link multipli)
    INSERT INTO AR_NotificationLinks (
        NotificationID, CompanyId, DocumentType, BOM, ProjectID, TaskID,
        MOId, SaleOrdId, SerialNo, PurchaseOrdId, SaleDocId, PurchaseDocId,
        ItemCode, CustSuppType, CustSuppCode
    )
    VALUES (
        @NotificationId, @CompanyId, @DocumentType, @BOM, @ProjectID, @TaskID,
        @MOId, @SaleOrdId, @SerialNo, @PurchaseOrdId, @SaleDocId, @PurchaseDocId,
        @ItemCode, @CustSuppType, @CustSuppCode
    );
    
    SET @LinkId = SCOPE_IDENTITY();
    
    -- Restituisci lo stato di successo e il LinkId appena creato
    IF @ProjectLinked = 1
    BEGIN
        SELECT 
            1 AS Success, 
            'Documento collegato con successo. Anche il progetto associato è stato collegato.' AS Message,
            @LinkId AS LinkId,
            @ProjectLinked AS ProjectAutoLinked;
    END
    ELSE
    BEGIN
        SELECT 
            1 AS Success, 
            'Documento collegato con successo' AS Message,
            @LinkId AS LinkId,
            @ProjectLinked AS ProjectAutoLinked;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SearchChatsByDocumentInfo]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SearchChatsByDocumentInfo]
    @CompanyId int,
    @SearchType varchar(50), -- 'Customer', 'SaleDoc', 'SaleOrd', 'BOM', 'Item', 'Task', etc.
    @SearchValue varchar(100),
    @UserId int
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Query per trovare le chat in base al tipo di ricerca
    DECLARE @SQL nvarchar(max)
    
    -- Query base che trova tutti i notificationId collegati al criterio di ricerca
    SET @SQL = N'
      SELECT DISTINCT n.notificationId, n.title, n.tbCreated, n.isClosed, nc.name as categoryName, nc.hexColor,
           nl.DocumentType, nl.BOM, nl.SaleOrdId, nl.MOId, nl.ItemCode, nl.CustSuppCode, nl.CustSuppType,
           nl.ProjectID, nl.TaskID, nl.LinkId,
           -- Check if user is already a member
           CASE WHEN EXISTS (
               SELECT 1 FROM AR_NotificationDetails nd 
               WHERE nd.notificationId = n.notificationId AND nd.receiverId = @UserId
           ) THEN 1 ELSE 0 END as isUserMember,
           -- Get the most recent message
           (SELECT TOP 1 message FROM AR_NotificationDetails 
            WHERE notificationId = n.notificationId 
            ORDER BY tbCreated DESC) as lastMessage,
           -- Count number of participants
           (SELECT COUNT(DISTINCT receiverId) FROM AR_NotificationDetails 
            WHERE notificationId = n.notificationId AND chatLeft = 0) as participantCount,
           -- Count messages
           (SELECT COUNT(*) FROM AR_NotificationDetails 
            WHERE notificationId = n.notificationId AND cancelled = 0) as messageCount,
           -- Check if archived for this user
           CASE WHEN EXISTS (
               SELECT 1 FROM AR_NotificationDetails 
               WHERE notificationId = n.notificationId 
                 AND receiverId = @UserId 
                 AND archived = 1
           ) THEN 1 ELSE 0 END as archived
    FROM AR_Notifications n
    JOIN AR_NotificationLinks nl ON n.notificationId = nl.NotificationID 
    JOIN AR_NotificationCategory nc ON n.notificationCategoryId = nc.notificationCategoryId
    WHERE nl.CompanyId = @CompanyId AND n.cancelled = 0'
    
    -- Aggiungi condizioni specifiche in base al tipo di ricerca
    IF @SearchType = 'Task'
    BEGIN
        -- Per le Task, SearchValue può essere:
        -- 1. Solo TaskID (es: "1")
        -- 2. ProjectID,TaskID (es: "182,1") per retrocompatibilità
        SET @SQL = @SQL + N' AND nl.DocumentType = ''Task'''
       
        IF @SearchValue IS NOT NULL AND LEN(@SearchValue) > 0
        BEGIN
            DECLARE @CommaPos INT = CHARINDEX(',', @SearchValue)
            IF @CommaPos > 0
            BEGIN
                -- Formato con virgola: ProjectID,TaskID
                DECLARE @ProjectIdStr NVARCHAR(50) = SUBSTRING(@SearchValue, 1, @CommaPos - 1)
                DECLARE @TaskIdStr NVARCHAR(50) = SUBSTRING(@SearchValue, @CommaPos + 1, LEN(@SearchValue))
                
                SET @SQL = @SQL + N' AND nl.ProjectID = ' + @ProjectIdStr + N' AND nl.TaskID = ' + @TaskIdStr
            END
            ELSE
            BEGIN
                -- Solo TaskID
                SET @SQL = @SQL + N' AND nl.TaskID = ' + @SearchValue
            END
        END
    END
    ELSE IF @SearchType = 'Project'
    BEGIN
        -- Aggiunto per cercare solo per ProjectID
        SET @SQL = @SQL + N' AND nl.DocumentType = ''Project'' AND nl.ProjectID = ' + @SearchValue
    END
    ELSE IF @SearchType = 'Customer'
    BEGIN
        SET @SQL = @SQL + N' AND nl.CustSuppType = 3211265 AND nl.CustSuppCode LIKE ''%' + @SearchValue + '%'''
    END
    ELSE IF @SearchType = 'Supplier'
    BEGIN
        SET @SQL = @SQL + N' AND nl.CustSuppType = 3211264 AND nl.CustSuppCode LIKE ''%' + @SearchValue + '%'''
    END
    ELSE IF @SearchType = 'SaleOrd'
    BEGIN
        SET @SQL = @SQL + N' AND nl.SaleOrdId > 0'
        
        -- Se abbiamo un valore di ricerca, cerchiamo nei dettagli dell'ordine
        IF @SearchValue IS NOT NULL AND LEN(@SearchValue) > 0
        BEGIN
            DECLARE @DatabaseName varchar(50)
            SELECT @DatabaseName = dbName FROM AR_Companies WHERE CompanyId = @CompanyId
            
            IF @DatabaseName IS NOT NULL
            BEGIN
                -- Possiamo aggiungere filtri più specifici qui
                SET @SQL = @SQL + N' AND nl.SaleOrdId IN (
                    SELECT SaleOrdId FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_SaleOrd 
                    WHERE InternalOrdNo LIKE ''%' + @SearchValue + '%'' 
                       OR Customer LIKE ''%' + @SearchValue + '%''
                )'
            END
        END
    END
    ELSE IF @SearchType = 'SaleDoc'
    BEGIN
        SET @SQL = @SQL + N' AND nl.SaleDocId > 0'
        
        -- Logica simile per documenti di vendita
        IF @SearchValue IS NOT NULL AND LEN(@SearchValue) > 0
        BEGIN
            DECLARE @DBName varchar(50)
            SELECT @DBName = dbName FROM AR_Companies WHERE CompanyId = @CompanyId
            
            IF @DBName IS NOT NULL
            BEGIN
                SET @SQL = @SQL + N' AND nl.SaleDocId IN (
                    SELECT SaleDocId FROM ' + QUOTENAME(@DBName) + '.dbo.MA_SaleDoc 
                    WHERE DocNo LIKE ''%' + @SearchValue + '%'' 
                       OR CustSupp LIKE ''%' + @SearchValue + '%''
                )'
            END
        END
    END
    ELSE IF @SearchType = 'BOM'
    BEGIN
        SET @SQL = @SQL + N' AND nl.BOM IS NOT NULL AND nl.BOM LIKE ''%' + @SearchValue + '%'''
    END
    ELSE IF @SearchType = 'Item'
    BEGIN
        SET @SQL = @SQL + N' AND nl.ItemCode IS NOT NULL AND nl.ItemCode LIKE ''%' + @SearchValue + '%'''
    END
    ELSE IF @SearchType = 'MO'
    BEGIN
        SET @SQL = @SQL + N' AND nl.MOId > 0'
        
        -- Logica per ordini di produzione
        IF @SearchValue IS NOT NULL AND LEN(@SearchValue) > 0
        BEGIN
            DECLARE @DBName2 varchar(50)
            SELECT @DBName2 = dbName FROM AR_Companies WHERE CompanyId = @CompanyId
           
            IF @DBName2 IS NOT NULL
            BEGIN
                SET @SQL = @SQL + N' AND nl.MOId IN (
                    SELECT MOId FROM ' + QUOTENAME(@DBName2) + '.dbo.MA_MO 
                    WHERE MOId LIKE ''%' + @SearchValue + '%'' 
                       OR BOM LIKE ''%' + @SearchValue + '%''
                )'
            END
        END
    END
    ELSE -- 'all' o qualsiasi altro valore
    BEGIN
        -- Ricerca generica su tutti i campi
        IF @SearchValue IS NOT NULL AND LEN(@SearchValue) > 0
        BEGIN
            SET @SQL = @SQL + N' AND (
                nl.BOM LIKE ''%' + @SearchValue + '%'' OR
                nl.ItemCode LIKE ''%' + @SearchValue + '%'' OR
                nl.CustSuppCode LIKE ''%' + @SearchValue + '%'' OR
                n.title LIKE ''%' + @SearchValue + '%''
            )'
        END
    END
    
    -- Ordina per data, più recenti prima
    SET @SQL = @SQL + N' ORDER BY n.tbCreated DESC'
    
    -- Esegui la query
    EXEC sp_executesql @SQL, N'@CompanyId int, @UserId int', 
                       @CompanyId = @CompanyId, @UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[SearchDocuments]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[SearchDocuments]
    @CompanyId int,
    @DocumentType varchar(50),
    @SearchTerm varchar(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Ottiene il nome del database per l'azienda specificata
    DECLARE @DatabaseName varchar(50)
    SELECT @DatabaseName = dbName 
    FROM AR_Companies 
    WHERE CompanyId = @CompanyId AND IsActive = 1
    
    IF @DatabaseName IS NULL
    BEGIN
        RAISERROR('Database aziendale non trovato o azienda non attiva', 16, 1);
        RETURN;
    END
    
    -- Prepara e esegue la query appropriata in base al tipo di documento
    DECLARE @SQL nvarchar(max)
   
    IF @DocumentType = 'MO' -- Ordini di produzione
    BEGIN
        SET @SQL = N'
        SELECT 
            MOId AS DocumentId,
            MONo AS DocumentNumber,
            BOM AS DocumentReference,
            CreationDate AS DocumentDate,
            ''MO'' AS DocumentType,
			'''' AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_MO
        WHERE ( (MONo LIKE ''%'' + @SearchTerm + ''%'' 
            OR BOM LIKE ''%'' + @SearchTerm + ''%'') )
			AND MOStatus != 20578306
        ORDER BY CreationDate DESC';
    END
	    ELSE IF @DocumentType = 'PurchaseOrd' -- Ordini di acquisto
    BEGIN
        SET @SQL = N'
        SELECT 
            so.PurchaseOrdId AS DocumentId,
            so.InternalOrdNo AS DocumentNumber,
            cs.CompanyName AS DocumentReference,
            so.OrderDate AS DocumentDate,
            ''SaleOrd'' AS DocumentType,
			'''' AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_PurchaseOrd so
        JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp cs ON so.Supplier = cs.CustSupp AND cs.CustSuppType = 3211264
        WHERE (so.InternalOrdNo LIKE ''%'' + @SearchTerm + ''%'' 
            OR cs.CompanyName LIKE ''%'' + @SearchTerm + ''%''
            OR so.Supplier LIKE ''%'' + @SearchTerm + ''%'')
            AND so.Cancelled = 0 -- Escludi annullati
        ORDER BY so.OrderDate DESC';
    END
    ELSE IF @DocumentType = 'SaleOrd' -- Ordini di vendita
    BEGIN
        SET @SQL = N'
        SELECT 
            so.SaleOrdId AS DocumentId,
            so.InternalOrdNo AS DocumentNumber,
            cs.CompanyName AS DocumentReference,
            so.OrderDate AS DocumentDate,
            ''SaleOrd'' AS DocumentType,
			'''' AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_SaleOrd so
        JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp cs ON so.Customer = cs.CustSupp AND cs.CustSuppType = 3211265
        WHERE (so.InternalOrdNo LIKE ''%'' + @SearchTerm + ''%'' 
            OR cs.CompanyName LIKE ''%'' + @SearchTerm + ''%''
            OR so.Customer LIKE ''%'' + @SearchTerm + ''%'')
            AND so.Cancelled = 0 -- Escludi annullati
        ORDER BY so.OrderDate DESC';
    END
    ELSE IF @DocumentType = 'SaleDoc' -- Documenti di vendita
    BEGIN
        SET @SQL = N'
        SELECT 
            sd.SaleDocId AS DocumentId,
            sd.DocNo AS DocumentNumber,
            cs.CompanyName AS DocumentReference,
            sd.DocumentDate AS DocumentDate,
            ''SaleDoc'' AS DocumentType,
			'''' AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_SaleDoc sd
        LEFT JOIN ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp cs ON sd.CustSupp = cs.CustSupp AND cs.CustSuppType = sd.CustSuppType
        WHERE (sd.DocNo LIKE ''%'' + @SearchTerm + ''%'' 
            OR cs.CompanyName LIKE ''%'' + @SearchTerm + ''%''
            OR sd.CustSupp LIKE ''%'' + @SearchTerm + ''%'')
        ORDER BY sd.DocumentDate DESC';
    END
    ELSE IF @DocumentType = 'Item' -- Articoli
    BEGIN
        SET @SQL = N'
        SELECT 
            Item AS DocumentId,
            Item AS DocumentNumber,
            Description AS DocumentReference,
            CreationDate AS DocumentDate,
            ''Item'' AS DocumentType,
			'''' AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_Items
        WHERE ( (Item LIKE ''%'' + @SearchTerm + ''%'' 
					OR Description LIKE ''%'' + @SearchTerm + ''%'') )
			AND Disabled = 0
        ORDER BY Item';
    END
    ELSE IF @DocumentType = 'CustSupp' -- Clienti/Fornitori
    BEGIN
        SET @SQL = N'
        SELECT 
            CustSupp AS DocumentId,
            CustSupp AS DocumentNumber,
            CompanyName AS DocumentReference,
            NULL AS DocumentDate,
            ''CustSupp'' AS DocumentType,
            CASE CustSuppType
                WHEN 3211264 THEN ''Fornitore''
                WHEN 3211265 THEN ''Cliente''
                ELSE ''Altro''
            END AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp
        WHERE (CustSupp LIKE ''%'' + @SearchTerm + ''%'' 
            OR CompanyName LIKE ''%'' + @SearchTerm + ''%'')
            AND Disabled = ''0''
        ORDER BY CompanyName';
    END
	ELSE IF @DocumentType = 'Customer' -- Clienti
    BEGIN
        SET @SQL = N'
        SELECT 
            CustSupp AS DocumentId,
            CustSupp AS DocumentNumber,
            CompanyName AS DocumentReference,
            NULL AS DocumentDate,
            ''CustSupp'' AS DocumentType,
            CASE CustSuppType
                WHEN 3211264 THEN ''Fornitore''
                WHEN 3211265 THEN ''Cliente''
                ELSE ''Altro''
            END AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp
        WHERE (CustSupp LIKE ''%'' + @SearchTerm + ''%'' 
            OR CompanyName LIKE ''%'' + @SearchTerm + ''%'')
            AND Disabled = ''0''
			AND CustSuppType = 3211265
        ORDER BY CompanyName';
    END
	ELSE IF @DocumentType = 'Supplier' -- Fornitori
    BEGIN
        SET @SQL = N'
        SELECT 
            CustSupp AS DocumentId,
            CustSupp AS DocumentNumber,
            CompanyName AS DocumentReference,
            NULL AS DocumentDate,
            ''CustSupp'' AS DocumentType,
            CASE CustSuppType
                WHEN 3211264 THEN ''Fornitore''
                WHEN 3211265 THEN ''Cliente''
                ELSE ''Altro''
            END AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_CustSupp
        WHERE (CustSupp LIKE ''%'' + @SearchTerm + ''%'' 
            OR CompanyName LIKE ''%'' + @SearchTerm + ''%'')
            AND Disabled = ''0''
			AND CustSuppType = 3211264
        ORDER BY CompanyName';
    END
    ELSE IF @DocumentType = 'BillOfMaterials' -- Distinte base
    BEGIN
        SET @SQL = N'
        SELECT 
            BOM AS DocumentId,
            BOM AS DocumentNumber,
            Description AS DocumentReference,
            CreationDate AS DocumentDate,
            ''BillOfMaterials'' AS DocumentType,
            '''' AS Status
        FROM ' + QUOTENAME(@DatabaseName) + '.dbo.MA_BillOfMaterials
        WHERE (BOM LIKE ''%'' + @SearchTerm + ''%'' 
            OR Description LIKE ''%'' + @SearchTerm + ''%'')
        ORDER BY BOM';
    END
    ELSE IF @DocumentType = 'Task' -- Attività
    BEGIN
        SET @SQL = N'
        SELECT 
            PT.TaskID AS DocumentId,
            PT.Title AS DocumentNumber,
            P.Name AS DocumentReference,
            PT.TBCreated AS DocumentDate,
            ''Task'' AS DocumentType,
            PT.Status AS Status
        FROM	MA_ProjectTasks PT
		JOIN	MA_Projects P ON P.ProjectId = PT.ProjectId
        WHERE	(	PT.Title LIKE ''%'' + @SearchTerm + ''%'' 
					OR PT.Description LIKE ''%'' + @SearchTerm + ''%''
					OR P.Name  LIKE ''%'' + @SearchTerm + ''%''
				)
        ORDER BY P.ProjectId, PT.TaskID';
    END
	ELSE IF @DocumentType = 'Project' -- Progetti
    BEGIN
        SET @SQL = N'
        SELECT 
            T0.ProjectID AS DocumentId,
            T0.ProjectERPId AS DocumentNumber,
            T0.Name AS DocumentReference,
            T0.TBCreated AS DocumentDate,
            ''Project'' AS DocumentType,
            T1.StatusDescription AS Status
        FROM	MA_Projects T0
		JOIN	MA_ProjectStatus T1 ON T1.Id = T0.Status AND T0.Disabled = 0
        WHERE (T0.Name LIKE ''%'' + @SearchTerm + ''%'' 
            OR T0.Description LIKE ''%'' + @SearchTerm + ''%'')
			OR T0.ProjectERPId = @SearchTerm 
        ORDER BY T0.ProjectID';
    END
    ELSE



    BEGIN
        RAISERROR('SQL STORED PROCEDURE SearchDocuments: Tipo di documento non supportato', 16, 1);
        RETURN;
    END
    
    -- Esegui la query
    EXEC sp_executesql @SQL, N'@SearchTerm varchar(100)', @SearchTerm;
END
GO
/****** Object:  StoredProcedure [dbo].[SendNotification]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SendNotification]
(
    @userId INT = 1,
    @notificationId INT = 0,
    @message NVARCHAR(MAX) = '',
    @responseOptionId INT = 3,
    @eventId INT = 0,
    @title NVARCHAR(MAX) = '',
    @notificationCategoryId INT = 1,
    @receiversList NVARCHAR(MAX) = '',
    @replyToMessageId INT = 0,
    @SkipReturnInfo INT = 0,
    @BOM NVARCHAR(100) = '',
    @ProjectID INT = 0,
    @TaskID INT = 0,
    @MOId INT = 0,
    @SaleOrdId INT = 0,
    @SerialNo NVARCHAR(100) = '',
    @CompanyId INT = 0,
    @pollId INT = 0
)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    DECLARE @msg NVARCHAR(500) = ''
    DECLARE @success INT = 0
    DECLARE @createdMessageId INT
    DECLARE @returnedMessageInfo TABLE (
        messageId INT,
        message NVARCHAR(MAX),
        senderId INT,
        senderName NVARCHAR(500),
        tbCreated DATETIME,
        replyToMessageId INT
    )

    -- Estrae i campi chiavi per associare ogni messageId di risposta al proprio destinatario
    DECLARE @replyToMessage_Date DATETIME = GETDATE()
    DECLARE @replyToMessageId_Text NVARCHAR(MAX) = ''
    DECLARE @replyToMessageId_NotificationId INT = 0

    IF @replyToMessageId > 0
    BEGIN
        SELECT TOP 1
            @replyToMessage_Date = T0.tbCreated,
            @replyToMessageId_Text = T0.message,
            @replyToMessageId_NotificationId = T0.notificationId
        FROM AR_NotificationDetails T0 WITH (NOLOCK)
        WHERE messageId = @replyToMessageId
    END

    -- Verifica del messaggio vuoto
    IF @message IS NULL OR LEN(@message) = 0
    BEGIN
        SELECT 'Messaggio vuoto' AS msg, 0 AS success, @notificationId AS notificationId, @message AS message
        RETURN;
    END

    -- Tabella temporanea per i destinatari ricevuti dall'app
    CREATE TABLE #Receivers (
        receiverAdded INT PRIMARY KEY CLUSTERED
    )
    
    IF LEN(@receiversList) > 0
    BEGIN
        INSERT INTO #Receivers (receiverAdded)
        SELECT DISTINCT TRY_CAST(value AS INT)
        FROM STRING_SPLIT(@receiversList, '-')
        WHERE value != '' AND TRY_CAST(value AS INT) IS NOT NULL
    END

    BEGIN TRANSACTION;
    
    BEGIN TRY
        IF @notificationId = 0 -- è una nuova chat
        BEGIN
            IF @title IS NULL OR LEN(@title) = 0
            BEGIN
                SET @msg = 'Manca il titolo' 
                SET @success = 0
                SELECT @msg AS msg, @success AS success, @notificationId AS notificationId, @createdMessageId AS messageId
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- Inserisce i destinatari in base al gruppo della notifica
            INSERT INTO #Receivers (receiverAdded)
            SELECT T0.userId
            FROM AR_NotificationCategoryUsers T0 WITH (NOLOCK)
            WHERE notificationCategoryId = @notificationCategoryId
                  AND T0.userId NOT IN (SELECT receiverAdded FROM #Receivers)
                  AND EXISTS (SELECT 1 FROM AR_Users T1 WITH (NOLOCK) WHERE T1.userId = T0.userId AND T1.userDisabled = 0)

            -- Inserimento nuova notifica
            INSERT INTO AR_Notifications(title, notificationCategoryId)
            VALUES (UPPER(@title), @notificationCategoryId);

            SET @notificationId = SCOPE_IDENTITY();

            -- IMPORTANTE: QUI ERA IL PROBLEMA - il campo replyToMessageId era fisso a 0
            -- Ora usa il parametro @replyToMessageId correttamente
            ;WITH UsersToInsert AS (
                SELECT DISTINCT U.userId, U.username
                FROM AR_Users U WITH (NOLOCK)
                WHERE U.userDisabled = 0 
                    AND (U.userId IN (SELECT receiverAdded FROM #Receivers) OR U.userId = @userId)
            )
            INSERT INTO AR_NotificationDetails(notificationId, senderId, receiverId, message, isReadByUser, responseOptionId, eventId, pinned, receiverMentioned, replyToMessageId, chatLeft, leftChatDate, pollId)
            OUTPUT INSERTED.messageId, INSERTED.message, INSERTED.senderId, '', INSERTED.tbCreated, INSERTED.replyToMessageId
            INTO @returnedMessageInfo(messageId, message, senderId, senderName, tbCreated, replyToMessageId)
            SELECT 
                @notificationId,
                @userId,
                U.userId,
                @message,
                CASE WHEN U.userId = @userId THEN 1 ELSE 0 END,
                @responseOptionId,
                @eventId,
                0,
                CASE WHEN @message LIKE CONCAT('%@', U.username, '%') THEN 1 ELSE 0 END,
                @replyToMessageId, -- CORREZIONE: Usa il parametro invece di 0
                0,
                NULL,
                CASE WHEN @pollId > 0 THEN @pollId ELSE NULL END
            FROM UsersToInsert U;

            -- Inserimento in AR_NotificationLinks
            INSERT INTO AR_NotificationLinks(NotificationID, BOM, ProjectID, TaskID, MOId, SaleOrdId, SerialNo, CompanyId, DocumentType, PurchaseOrdId, SaleDocId, PurchaseDocId, ItemCode, CustSuppType, CustSuppCode)
            VALUES (@notificationId, @BOM, @ProjectID, @TaskID, @MOId, @SaleOrdId, @SerialNo, @CompanyId, '', 0, 0, 0, '', 0, '')

            SET @msg = 'Messaggio creato e inviato' 
            SET @success = 1
        END
        ELSE -- Chat esistente
        BEGIN
            -- Per chat esistenti con molti messaggi, lavoriamo solo con i destinatari attivi
            DECLARE @ActiveReceivers TABLE (
                receiverId INT PRIMARY KEY,
                pinned BIT,
                chatLeft BIT,
                leftChatDate DATETIME
            )

            -- Ottieni solo i destinatari attivi (non quelli che hanno lasciato la chat)
            INSERT INTO @ActiveReceivers (receiverId, pinned, chatLeft, leftChatDate)
            SELECT 
                receiverId,
                MAX(CAST(pinned AS INT)),
                MAX(CAST(chatLeft AS INT)),
                MAX(leftChatDate)
            FROM (
                -- Nuovi destinatari dalla lista
                SELECT receiverAdded AS receiverId, 0 AS pinned, 0 AS chatLeft, NULL AS leftChatDate
                FROM #Receivers
                
                UNION ALL
                
                -- Destinatari esistenti attivi (query ottimizzata)
                SELECT DISTINCT receiverId, pinned, chatLeft, leftChatDate
                FROM AR_NotificationDetails WITH (NOLOCK)
                WHERE notificationId = @notificationId 
                    AND messageId IN (
                        -- Prendi solo l'ultimo messageId per ogni receiver per ridurre i dati
                        SELECT MAX(messageId)
                        FROM AR_NotificationDetails WITH (NOLOCK)
                        WHERE notificationId = @notificationId AND cancelled = 0
                        GROUP BY receiverId
                    )
                    AND cancelled = 0
            ) AS AllReceivers
            GROUP BY receiverId;
			
            -- Gestisci nuovi partecipanti se necessario
            DECLARE @NewReceiversCount INT = 0
            SELECT @NewReceiversCount = COUNT(*)
            FROM #Receivers R
            WHERE NOT EXISTS (
                SELECT 1 FROM @ActiveReceivers AR WHERE AR.receiverId = R.receiverAdded
            )

            IF @NewReceiversCount > 0
            BEGIN
                -- Per nuovi partecipanti, copia solo gli ultimi 50 messaggi invece di tutti
                ;WITH RecentMessages AS (
                    SELECT TOP 50 
                        notificationId, senderId, message, responseOptionId, 
                        eventId, messageId, tbCreated
                    FROM AR_NotificationDetails WITH (NOLOCK)
                    WHERE notificationId = @notificationId 
                        AND cancelled = 0
                        AND message NOT LIKE 'La chat è stata %'
                        AND message NOT LIKE 'Chat %'
                    ORDER BY messageId DESC
                )
                INSERT INTO AR_NotificationDetails (notificationId, senderId, receiverId, message, isReadByUser, responseOptionId, eventId, pinned, receiverMentioned, replyToMessageId, tbCreated, chatLeft, leftChatDate)
                SELECT 
                    RM.notificationId,
                    RM.senderId,
                    NR.receiverAdded,
                    RM.message,
                    0,
                    RM.responseOptionId,
                    RM.eventId,
                    0,
                    0,
                    RM.messageId,
                    RM.tbCreated,
                    0,
                    NULL
                FROM RecentMessages RM
                CROSS JOIN #Receivers NR
                WHERE NR.receiverAdded NOT IN (SELECT receiverId FROM @ActiveReceivers)
            END

            -- IMPORTANTE: QUI ERA IL SECONDO PROBLEMA - stesso errore con replyToMessageId fisso a 0
            -- Inserimento nuovo messaggio ottimizzato
            ;WITH ReceiversWithInfo AS (
                SELECT 
                    AR.receiverId,
                    AR.pinned,
                    AR.chatLeft,
                    AR.leftChatDate,
                    U.username
                FROM @ActiveReceivers AR
                JOIN AR_Users U WITH (NOLOCK) ON U.userId = AR.receiverId
                WHERE U.userDisabled = 0
                
                UNION
                
                SELECT 
                    R.receiverAdded,
                    0,
                    0,
                    NULL,
                    U.username
                FROM #Receivers R
                JOIN AR_Users U WITH (NOLOCK) ON U.userId = R.receiverAdded
                WHERE U.userDisabled = 0
                    AND R.receiverAdded NOT IN (SELECT receiverId FROM @ActiveReceivers)
            )
            INSERT INTO AR_NotificationDetails(notificationId, senderId, receiverId, message, isReadByUser, responseOptionId, eventId, pinned, receiverMentioned, replyToMessageId, chatLeft, leftChatDate, pollId)
            OUTPUT INSERTED.messageId, INSERTED.message, INSERTED.senderId, '', INSERTED.tbCreated, INSERTED.replyToMessageId
            INTO @returnedMessageInfo(messageId, message, senderId, senderName, tbCreated, replyToMessageId)
            SELECT DISTINCT
                @notificationId,
                @userId,
                RWI.receiverId,
                @message,
                CASE WHEN RWI.receiverId = @userId THEN 1 ELSE 0 END,
                @responseOptionId,
                @eventId,
                RWI.pinned,
                CASE WHEN @message LIKE CONCAT('%@', RWI.username, '%') THEN 1 ELSE 0 END,
                @replyToMessageId, -- CORREZIONE: Usa il parametro invece di 0
                RWI.chatLeft,
                RWI.leftChatDate,
                CASE WHEN @pollId > 0 THEN @pollId ELSE NULL END
            FROM ReceiversWithInfo RWI;

            -- Gestione NotificationLinks ottimizzata
            IF @CompanyId > 0
            BEGIN
                MERGE AR_NotificationLinks AS target
                USING (SELECT @notificationId AS NotificationID, @CompanyId AS CompanyId) AS source
                ON target.NotificationID = source.NotificationID AND target.CompanyId = source.CompanyId
                WHEN MATCHED THEN
                    UPDATE SET 
                        BOM = COALESCE(NULLIF(@BOM,''), BOM),
                        ProjectID = CASE WHEN @ProjectID = 0 THEN ProjectID ELSE @ProjectID END,
                        TaskID = CASE WHEN @TaskID = 0 THEN TaskID ELSE @TaskID END,
                        MOId = CASE WHEN @MOId = 0 THEN MOId ELSE @MOId END,
                        SaleOrdId = CASE WHEN @SaleOrdId = 0 THEN SaleOrdId ELSE @SaleOrdId END,
                        SerialNo = COALESCE(NULLIF(@SerialNo,''), SerialNo)
                WHEN NOT MATCHED THEN
                    INSERT (NotificationID, BOM, ProjectID, TaskID, MOId, SaleOrdId, SerialNo, CompanyId, DocumentType, PurchaseOrdId, SaleDocId, PurchaseDocId, ItemCode, CustSuppType, CustSuppCode)
                    VALUES (@notificationId, ISNULL(@BOM,''), ISNULL(@ProjectID,0), ISNULL(@TaskID,0), ISNULL(@MOId,0), ISNULL(@SaleOrdId,0), ISNULL(@SerialNo,''), @CompanyId, '', 0, 0, 0, '', 0, '');
            END

            SET @msg = 'Messaggio inviato' 
            SET @success = 1
        END

        -- Gestione pollId migliorata (se necessario aggiornare dopo l'INSERT)
		-- Aggiornamento di tutti i messaggi in base al numero sondaggio
		UPDATE	TC
		SET		TC.pollId = TB.pollId
		FROM	AR_NotificationDetails TA
		JOIN	(	SELECT	messageId
							, pollId
							, ROW_NUMBER()OVER(PARTITION BY pollId ORDER BY messageId) AS RowNo
					FROM	AR_NotificationDetails T0
					WHERE	pollId > 0
				) TB
		ON		TB.messageId = TA.messageId AND TB.RowNo = 1
		JOIN	AR_NotificationDetails TC ON TC.message = TA.message AND TC.tbCreated = TA.tbCreated

        IF @pollId > 0
        BEGIN
            
            -- Se c'è un record nella tabella AR_Polls da aggiornare, usa solo il primo messageId
            DECLARE @FirstMessageId INT
            SELECT TOP 1 @FirstMessageId = messageId 
            FROM @returnedMessageInfo
            WHERE senderId = @userId
            ORDER BY messageId ASC
            
            IF @FirstMessageId > 0
            BEGIN
                UPDATE AR_Polls
                SET MessageID = @FirstMessageId
                WHERE PollID = @pollId
                    AND MessageID IS NULL -- Solo se non è già stato impostato
            END
        END

        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH

    DROP TABLE #Receivers
    
    -- Se SkipReturnInfo = 1, ritorna solo le info essenziali
    IF @SkipReturnInfo = 1 
    BEGIN
        SELECT @msg AS msg, @success AS success, @notificationId AS notificationId
        RETURN
    END
    
    -- Invece di chiamare GetUserNotificationsWithMessages che carica TUTTI i messaggi,
    -- ritorna solo le informazioni essenziali del messaggio appena creato
    SELECT TOP 1
        @msg AS msg,
        @success AS success,
        @notificationId AS notificationId,
        RM.messageId,
        RM.message,
        RM.senderId,
        (SELECT firstName + ' ' + lastName FROM AR_Users WHERE userId = RM.senderId) AS senderName,
        RM.tbCreated,
        RM.replyToMessageId,
        (SELECT COUNT(DISTINCT receiverId) FROM AR_NotificationDetails WHERE notificationId = @notificationId AND chatLeft = 0) AS activeMembers,
        (SELECT title FROM AR_Notifications WHERE notificationId = @notificationId) AS chatTitle
    FROM @returnedMessageInfo RM
    WHERE RM.senderId = @userId
    ORDER BY RM.messageId DESC
END;
GO
/****** Object:  StoredProcedure [dbo].[UnlinkDocumentFromNotification]    Script Date: 15/10/2025 08:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 2. La procedura UnlinkDocumentFromNotification è già ben impostata per funzionare con LinkId
-- Possiamo semplicemente mantenerla come è, ma potremmo migliorarla per chiarezza

CREATE   PROCEDURE [dbo].[UnlinkDocumentFromNotification]
    @NotificationId int,
    @CompanyId int,
    @DocumentType varchar(50) = NULL,
    @LinkId int = NULL,
    @BOM varchar(50) = NULL,
    @MOId int = 0,
    @SaleOrdId int = 0,
    @PurchaseOrdId int = 0,
    @SaleDocId int = 0,
    @PurchaseDocId int = 0,
    @ItemCode varchar(21) = NULL,
    @CustSuppType int = 0,
    @CustSuppCode varchar(12) = NULL,
	@ProjectID int = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verificare se la notifica esiste
    IF NOT EXISTS (SELECT 1 FROM AR_Notifications WHERE notificationId = @NotificationId)
    BEGIN
        RAISERROR('Notifica non trovata', 16, 1);
        RETURN;
    END
    
    -- Verificare se esiste almeno un criterio di ricerca
    IF @LinkId IS NULL AND @DocumentType IS NULL AND
       @BOM IS NULL AND @MOId = 0 AND @SaleOrdId = 0 AND 
       @PurchaseOrdId = 0 AND @SaleDocId = 0 AND @PurchaseDocId = 0 AND
       @ItemCode IS NULL AND @CustSuppCode IS NULL AND @ProjectID IS NULL
    BEGIN
        RAISERROR('Specificare almeno un criterio per identificare il documento da scollegare', 16, 1);
        RETURN;
    END
    
    -- Costruisci la condizione di cancellazione
    DECLARE @DeletedCount int = 0;
    
    -- Se è stato specificato un LinkId (identificativo univoco del collegamento)
    IF @LinkId IS NOT NULL
    BEGIN
        DELETE FROM AR_NotificationLinks 
        WHERE LinkId = @LinkId AND NotificationID = @NotificationId AND CompanyId = @CompanyId;
        
        SET @DeletedCount = @@ROWCOUNT;
    END
    ELSE
    BEGIN
        -- Altrimenti usa le altre condizioni
        DELETE FROM AR_NotificationLinks 
        WHERE NotificationID = @NotificationId 
          AND CompanyId = @CompanyId
          AND (@DocumentType IS NULL OR DocumentType = @DocumentType)
          AND (@BOM IS NULL OR BOM = @BOM)
          AND (@MOId = 0 OR MOId = @MOId)
          AND (@SaleOrdId = 0 OR SaleOrdId = @SaleOrdId)
          AND (@PurchaseOrdId = 0 OR PurchaseOrdId = @PurchaseOrdId)
          AND (@SaleDocId = 0 OR SaleDocId = @SaleDocId)
          AND (@PurchaseDocId = 0 OR PurchaseDocId = @PurchaseDocId)
          AND (@ItemCode IS NULL OR ItemCode = @ItemCode)
          AND (@CustSuppCode IS NULL OR (CustSuppCode = @CustSuppCode AND CustSuppType = @CustSuppType))
		  AND (@ProjectID IS NULL OR (ProjectID = @ProjectID))
        
        SET @DeletedCount = @@ROWCOUNT;
    END
    
    -- Restituisci lo stato di successo
    IF @DeletedCount > 0
        SELECT 1 AS Success, 'Documento scollegato con successo' AS Message, @DeletedCount AS DocumentsUnlinked;
    ELSE
        SELECT 0 AS Success, 'Nessun documento è stato scollegato. Verifica i criteri di ricerca.' AS Message, 0 AS DocumentsUnlinked;
END
GO
