USE [WebAppTEST]
GO
/****** Object:  Table [dbo].[MA_BOMCostingFormulas]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BOMCostingFormulas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[ItemCode] [varchar](64) NULL,
	[ItemDescription] [nvarchar](255) NULL,
	[DataType] [varchar](20) NOT NULL,
	[FormulaName] [varchar](100) NOT NULL,
	[FormulaExpression] [varchar](max) NOT NULL,
	[ResultUnit] [varchar](10) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[TBCreated] [datetime2](7) NULL,
	[TBModified] [datetime2](7) NULL,
	[TBCreatedID] [int] NULL,
	[TBModifiedID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_BOMCostingHistory]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BOMCostingHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[BOMId] [bigint] NOT NULL,
	[OrderQuantity] [decimal](18, 5) NULL,
	[ScrapPercentage] [float] NULL,
	[UseGranularMarkups] [bit] NULL,
	[UpdateBOMRecord] [bit] NULL,
	[ParametersSnapshot] [nvarchar](max) NULL,
	[RMCost] [float] NULL,
	[ProcessingCost] [float] NULL,
	[TotalCost] [float] NULL,
	[TotalPrice] [float] NULL,
	[CostingDate] [datetime2](7) NOT NULL,
	[CalculatedBy] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBCreatedId] [int] NULL,
	[CustomMarkupRM] [float] NULL,
	[CustomMarkupRMPurchase] [float] NULL,
	[CustomMarkupRMProduction] [float] NULL,
	[CustomMarkupOperations] [float] NULL,
	[CustomMarkupInternalOps] [float] NULL,
	[CustomMarkupExternalOps] [float] NULL,
	[CustomMarkupOverhead] [float] NULL,
	[CustomMarkupsJSON] [nvarchar](max) NULL,
	[CustomMarkupSconto] [float] NULL,
 CONSTRAINT [PK_MA_BOMCostingHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_BOMCostingLog]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BOMCostingLog](
	[CompanyId] [int] NOT NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BOMId] [bigint] NOT NULL,
	[LogLevel] [varchar](20) NOT NULL,
	[LogMessage] [nvarchar](max) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBCreatedId] [int] NOT NULL,
 CONSTRAINT [PK_MA_BOMCostingLog] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_BOMCostingMatchingRules]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BOMCostingMatchingRules](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[ItemCode] [varchar](64) NULL,
	[ItemDescription] [nvarchar](255) NULL,
	[DataType] [varchar](20) NOT NULL,
	[MatchingType] [varchar](20) NOT NULL,
	[MatchingValue] [varchar](255) NOT NULL,
	[Priority] [int] NULL,
	[IsActive] [bit] NULL,
	[TBCreated] [datetime2](7) NULL,
	[TBModified] [datetime2](7) NULL,
	[TBCreatedID] [int] NULL,
	[TBModifiedID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_BOMCostingParameters]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_BOMCostingParameters](
	[CompanyId] [int] NOT NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParameterName] [varchar](50) NOT NULL,
	[ParameterValue] [float] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[TBCreated] [datetime] NOT NULL,
	[TBModified] [datetime] NOT NULL,
	[TBCreatedId] [int] NOT NULL,
	[TBModifiedId] [int] NOT NULL,
 CONSTRAINT [PK_MA_BOMCostingParameters] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BOMCostingParameters_Name] UNIQUE NONCLUSTERED 
(
	[CompanyId] ASC,
	[ParameterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MA_BOMCostingFormulas] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MA_BOMCostingFormulas] ADD  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BOMCostingFormulas] ADD  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_BOMCostingHistory] ADD  DEFAULT (getdate()) FOR [CostingDate]
GO
ALTER TABLE [dbo].[MA_BOMCostingHistory] ADD  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BOMCostingLog] ADD  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BOMCostingLog] ADD  DEFAULT ((0)) FOR [TBCreatedId]
GO
ALTER TABLE [dbo].[MA_BOMCostingMatchingRules] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[MA_BOMCostingMatchingRules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MA_BOMCostingMatchingRules] ADD  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BOMCostingMatchingRules] ADD  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_BOMCostingParameters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MA_BOMCostingParameters] ADD  DEFAULT (getdate()) FOR [TBCreated]
GO
ALTER TABLE [dbo].[MA_BOMCostingParameters] ADD  DEFAULT (getdate()) FOR [TBModified]
GO
ALTER TABLE [dbo].[MA_BOMCostingParameters] ADD  DEFAULT ((0)) FOR [TBCreatedId]
GO
ALTER TABLE [dbo].[MA_BOMCostingParameters] ADD  DEFAULT ((0)) FOR [TBModifiedId]
GO
ALTER TABLE [dbo].[MA_BOMCostingHistory]  WITH CHECK ADD  CONSTRAINT [FK_BOMCostingHistory_BOM] FOREIGN KEY([CompanyId], [BOMId])
REFERENCES [dbo].[MA_ProjectArticles_BillOfMaterials] ([CompanyId], [Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MA_BOMCostingHistory] CHECK CONSTRAINT [FK_BOMCostingHistory_BOM]
GO
/****** Object:  StoredProcedure [dbo].[SP_BatchCalculateBOMCosting]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedura: Costificazione batch multipli BOM
-- =============================================
CREATE   PROCEDURE [dbo].[SP_BatchCalculateBOMCosting]
    @CompanyId INT,
    @BOMIds NVARCHAR(MAX), -- Lista IDs separati da virgola
    @OrderQuantity DECIMAL(18,5) = NULL,
    @ScrapPercentage FLOAT = NULL,
    @UseKnownData BIT = 1, -- 1 = usa dati noti quando disponibili, 0 = usa solo UnitCost
    @UpdateBOMRecord BIT = 1, -- 1 = aggiorna i record BOM, 0 = solo calcolo
    @UserId INT = NULL, -- ID dell'utente che esegue l'aggiornamento (per audit)
    @Version INT = NULL -- Nuovo parametro per specificare la versione (applicata a tutte le BOM)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @BOMId BIGINT;
    DECLARE @Results TABLE (
        BOMId BIGINT,
        Status VARCHAR(20),
        FinalCost FLOAT,
        ErrorMessage NVARCHAR(MAX)
    );
    
    -- Tabella temporanea per split BOM IDs
    CREATE TABLE #BOMIds (
        BOMId BIGINT
    );
    
    -- Split manuale della stringa BOM IDs
    DECLARE @CurrentPos INT = 1;
    DECLARE @NextPos INT;
    DECLARE @CurrentBOMId NVARCHAR(50);
    
    WHILE @CurrentPos <= LEN(@BOMIds)
    BEGIN
        SET @NextPos = CHARINDEX(',', @BOMIds, @CurrentPos);
        IF @NextPos = 0
            SET @NextPos = LEN(@BOMIds) + 1;
        
        SET @CurrentBOMId = LTRIM(RTRIM(SUBSTRING(@BOMIds, @CurrentPos, @NextPos - @CurrentPos)));
        
        IF @CurrentBOMId <> ''
        BEGIN
            INSERT INTO #BOMIds (BOMId) VALUES (CAST(@CurrentBOMId AS BIGINT));
        END
        
        SET @CurrentPos = @NextPos + 1;
    END
    
    -- Cursore per processare ogni BOM
    DECLARE bom_cursor CURSOR FOR
    SELECT BOMId FROM #BOMIds;
    
    OPEN bom_cursor;
    FETCH NEXT FROM bom_cursor INTO @BOMId;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            EXEC SP_CalculateBOMCosting @CompanyId, @BOMId, @OrderQuantity, @ScrapPercentage, 1, @UseKnownData, @UpdateBOMRecord, @UserId, 0, @Version;
            INSERT INTO @Results VALUES (@BOMId, 'SUCCESS', 0, NULL);
        END TRY
        BEGIN CATCH
            INSERT INTO @Results VALUES (@BOMId, 'ERROR', 0, ERROR_MESSAGE());
        END CATCH
        
        FETCH NEXT FROM bom_cursor INTO @BOMId;
    END
    
    CLOSE bom_cursor;
    DEALLOCATE bom_cursor;
    
    -- Cleanup
    DROP TABLE #BOMIds;
    
    SELECT * FROM @Results;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculateBOMCosting]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CalculateBOMCosting]
    @CompanyId INT,
    @BOMId BIGINT,
    @OrderQuantity DECIMAL(18,5) = NULL,
    @ScrapPercentage FLOAT = NULL,
    @UseGranularMarkups BIT = 1,
    @UseKnownData BIT = 1,
    @UpdateBOMRecord BIT = 1,
    @UserId INT = NULL,
    @Debug BIT = 0,
    @Version INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- ========================================
    -- Carica ricarichi effettivi (custom o globali)
    -- ========================================
    CREATE TABLE #EffectiveMarkups (
        ParameterName NVARCHAR(100),
        MarkupPercentage FLOAT,
        Source NVARCHAR(20)
    );

    INSERT INTO #EffectiveMarkups (ParameterName, MarkupPercentage, Source)
    EXEC SP_GetEffectiveBOMMarkups @CompanyId = @CompanyId, @BOMId = @BOMId;

    -- Variabili per i ricarichi effettivi
    DECLARE @EffectiveRicaricoMP FLOAT;
    DECLARE @EffectiveRicaricoOPE FLOAT;
    DECLARE @EffectiveRicaricoTrasporto FLOAT;
    DECLARE @EffectiveRicaricoScarto FLOAT;
    DECLARE @EffectiveRicaricoTotale FLOAT;
    DECLARE @EffectiveRicaricoSconto FLOAT;

    -- Popola variabili dai ricarichi effettivi (dividi per 100 per convertire % in decimale)
	SELECT @EffectiveRicaricoMP = MarkupPercentage / 100.0 FROM #EffectiveMarkups WHERE ParameterName = 'RICARICO_MP';
	SELECT @EffectiveRicaricoOPE = MarkupPercentage / 100.0 FROM #EffectiveMarkups WHERE ParameterName = 'RICARICO_OPE';
	SELECT @EffectiveRicaricoTrasporto = MarkupPercentage / 100.0 FROM #EffectiveMarkups WHERE ParameterName = 'RICARICO_TRASPORTO';
	SELECT @EffectiveRicaricoScarto = MarkupPercentage / 100.0 FROM #EffectiveMarkups WHERE ParameterName = 'RICARICO_SCARTO';
	SELECT @EffectiveRicaricoTotale = MarkupPercentage / 100.0 FROM #EffectiveMarkups WHERE ParameterName = 'RICARICO_TOTALE';
	SELECT @EffectiveRicaricoSconto = MarkupPercentage / 100.0 FROM #EffectiveMarkups WHERE ParameterName = 'RICARICO_SCONTO';

    -- Imposta ricarico sconto come default se non trovato
    SET @EffectiveRicaricoSconto = ISNULL(@EffectiveRicaricoSconto, 0.44);

    -- Fallback ai valori di default se NULL
    SET @EffectiveRicaricoMP = ISNULL(@EffectiveRicaricoMP, 0.15);
    SET @EffectiveRicaricoOPE = ISNULL(@EffectiveRicaricoOPE, 0.20);
    SET @EffectiveRicaricoTrasporto = ISNULL(@EffectiveRicaricoTrasporto, 0.05);
    SET @EffectiveRicaricoScarto = ISNULL(@EffectiveRicaricoScarto, 0.10);
    SET @EffectiveRicaricoTotale = ISNULL(@EffectiveRicaricoTotale, 0.25);
    SET @EffectiveRicaricoSconto = ISNULL(@EffectiveRicaricoSconto, 0.00);

    -- ========================================
    -- Resto della SP ORIGINALE (invariato)
    -- ========================================

    DECLARE @ErrorMessage NVARCHAR(MAX);
    DECLARE @BaseCost FLOAT = 0;
    DECLARE @MaterialCost FLOAT = 0;
    DECLARE @OperationsCost FLOAT = 0;
    DECLARE @FixedCost FLOAT = 0;
    DECLARE @AdjustedCost FLOAT = 0;
    DECLARE @FinalUnitCost FLOAT = 0;
    DECLARE @TotalOrderCost FLOAT = 0;
    DECLARE @ScrapPct FLOAT;
    DECLARE @ProductionLot INT = 1;
    DECLARE @ErrorCode INT;
    DECLARE @ErrorMsg NVARCHAR(4000);
    DECLARE @FinalMarkup FLOAT = 0;
    DECLARE @TotalPricePerLot FLOAT = 0;
    DECLARE @TotalCostPerLot FLOAT = 0;
    DECLARE @DetailsJSON NVARCHAR(MAX) = '';
    DECLARE @Notes NVARCHAR(MAX) = '';

    -- NUOVO: Variabile per tracciare il MainRefBOMId
    DECLARE @RootMainRefBOMId BIGINT;

    -- Verifica esistenza BOM
    DECLARE @BOMExists BIT = 0;
    IF @Version IS NULL
    BEGIN
        SELECT @BOMExists = 1
        FROM MA_ProjectArticles_BillOfMaterials
        WHERE CompanyId = @CompanyId AND Id = @BOMId;
    END
    ELSE
    BEGIN
        SELECT @BOMExists = 1
        FROM MA_ProjectArticles_BillOfMaterials
        WHERE CompanyId = @CompanyId AND Id = @BOMId AND Version = @Version;
    END

    IF @BOMExists = 0
    BEGIN
        IF @Version IS NULL
            SET @ErrorMessage = 'BOM non trovata con ID: ' + CAST(@BOMId AS VARCHAR(20));
        ELSE
            SET @ErrorMessage = 'BOM non trovata con ID: ' + CAST(@BOMId AS VARCHAR(20)) + ' e versione: ' + CAST(@Version AS VARCHAR(10));
        EXEC SP_LogBOMCosting @CompanyId, @BOMId, 'ERROR', @ErrorMessage;
        SELECT @ErrorMessage AS ErrorMessage;
        DROP TABLE #EffectiveMarkups; -- CLEANUP
        RETURN -1;
    END

    -- Ottieni informazioni BOM e MainRefBOMId
    IF @Version IS NULL
    BEGIN
        SELECT
            @ProductionLot = ISNULL(ProductionLot, 1),
            @RootMainRefBOMId = CASE
                WHEN MainRefBOMId IS NULL THEN Id
                ELSE MainRefBOMId
            END
        FROM MA_ProjectArticles_BillOfMaterials
        WHERE CompanyId = @CompanyId AND Id = @BOMId
        ORDER BY Version DESC;
    END
    ELSE
    BEGIN
        SELECT
            @ProductionLot = ISNULL(ProductionLot, 1),
            @RootMainRefBOMId = CASE
                WHEN MainRefBOMId IS NULL THEN Id
                ELSE MainRefBOMId
            END
        FROM MA_ProjectArticles_BillOfMaterials
        WHERE CompanyId = @CompanyId AND Id = @BOMId AND Version = @Version;
    END

    -- Determina percentuale scarto
    SET @ScrapPct = ISNULL(@ScrapPercentage, dbo.FN_GetBOMCostingParameter(@CompanyId, 'SCARTO_DEFAULT', 0.05));

    -- Log inizio calcolo
    DECLARE @LogMessage NVARCHAR(MAX) = 'OrderQty: ' + ISNULL(CAST(@OrderQuantity AS NVARCHAR(50)), '0') +
                                        ', ScrapPct: ' + ISNULL(CAST(@ScrapPct AS NVARCHAR(50)), '0') +
                                        ', MainRefBOMId: ' + CAST(@RootMainRefBOMId AS NVARCHAR(20)) +
                                        ', RicaricoMP: ' + CAST(@EffectiveRicaricoMP * 100 AS NVARCHAR(10)) + '% (' +
                                        (SELECT Source FROM #EffectiveMarkups WHERE ParameterName = 'RICARICO_MP') + ')';
    EXEC SP_LogBOMCosting @CompanyId, @BOMId, 'INFO', 'Inizio calcolo costificazione BOM', @LogMessage;

    -- Tabella temporanea per esplosione BOM
    CREATE TABLE #BOMExplosionCorrect (
        Level INT,
        ItemId BIGINT,
        ComponentId BIGINT,
        ParentId BIGINT,
        BOMId BIGINT,
        ParentBOMId BIGINT,
        Line INT,
        ComponentType INT,
        Path NVARCHAR(MAX),
        Quantity DECIMAL(18,5),
        CalculatedQty DECIMAL(18,5),
        UoM VARCHAR(10),
        UnitCost FLOAT,
        TotalCost FLOAT,
        FixedCost FLOAT,
        ComponentNature INT,
        ComponentItemCode VARCHAR(64),
        ComponentDescription NVARCHAR(255),
        IsLoop BIT DEFAULT 0
    );

    -- Implementazione diretta dell'esplosione ricorsiva
    DECLARE @RootItemId BIGINT;
    DECLARE @RootBOMId BIGINT = @BOMId;

    SELECT @RootItemId = ItemId
    FROM MA_ProjectArticles_BillOfMaterials
    WHERE Id = @BOMId AND CompanyId = @CompanyId;

    IF @RootItemId IS NULL
    BEGIN
        EXEC SP_LogBOMCosting @CompanyId, @BOMId, 'ERROR', 'Distinta base non trovata';
        SELECT 'Distinta base non trovata' AS ErrorMessage;
        DROP TABLE #EffectiveMarkups;
        RETURN -1;
    END

    INSERT INTO #BOMExplosionCorrect (
        Level, ItemId, ComponentId, ParentId, BOMId, ParentBOMId, Line, ComponentType,
        Path, Quantity, CalculatedQty, UoM, UnitCost, TotalCost, FixedCost,
        ComponentNature, ComponentItemCode, ComponentDescription
    )
    SELECT
        0, item.Id, item.Id, NULL, @RootBOMId, NULL, 0, 7798784,
        CAST(item.Id AS NVARCHAR(MAX)), CAST(1 AS DECIMAL(18,5)), CAST(1 AS DECIMAL(18,5)),
        bom.UoM, CAST(0 AS FLOAT), CAST(0 AS FLOAT), CAST(0 AS FLOAT),
        item.Nature, item.Item, item.Description
    FROM MA_ProjectArticles_Items item
    JOIN MA_ProjectArticles_BillOfMaterials bom ON bom.ItemId = item.Id AND bom.CompanyId = item.CompanyId
    WHERE item.Id = @RootItemId AND item.CompanyId = @CompanyId AND bom.Id = @RootBOMId;


    DECLARE @Level INT = 0;
    DECLARE @MaxIterations INT = 10;

    WHILE @Level < @MaxIterations
    BEGIN
        INSERT INTO #BOMExplosionCorrect (
            Level, ItemId, ComponentId, ParentId, BOMId, ParentBOMId, Line, ComponentType,
            Path, Quantity, CalculatedQty, UoM, UnitCost, TotalCost, FixedCost,
            ComponentNature, ComponentItemCode, ComponentDescription
        )
        SELECT
            t.Level + 1, comp.ComponentId, comp.ComponentId, t.ItemId,
            (SELECT TOP 1 bom.Id FROM MA_ProjectArticles_BillOfMaterials bom
             WHERE bom.ItemId = comp.ComponentId AND bom.CompanyId = @CompanyId
                 AND (
                     EXISTS (SELECT 1 FROM MA_ProjectArticles_BillOfMaterials b2
                             WHERE b2.ItemId = comp.ComponentId AND b2.CompanyId = @CompanyId
                             AND b2.MainRefBOMId = @RootMainRefBOMId)
                     AND bom.MainRefBOMId = @RootMainRefBOMId
                     OR
                     NOT EXISTS (SELECT 1 FROM MA_ProjectArticles_BillOfMaterials b2
                                 WHERE b2.ItemId = comp.ComponentId AND b2.CompanyId = @CompanyId
                                 AND b2.MainRefBOMId = @RootMainRefBOMId)
                     AND bom.Version = 1
                 )
             ORDER BY CASE WHEN bom.MainRefBOMId = @RootMainRefBOMId THEN 1
                          WHEN bom.Version = 1 THEN 2 ELSE 3 END, bom.Version DESC),
            t.BOMId, comp.Line, comp.ComponentType,
            t.Path + '.' + CAST(comp.ComponentId AS NVARCHAR(MAX)),
            comp.Quantity, t.CalculatedQty * comp.Quantity, comp.UoM, comp.UnitCost,
            comp.TotalCost, comp.FixedCost, item.Nature, item.Item, item.Description
        FROM #BOMExplosionCorrect t
        JOIN MA_ProjectArticles_BOMComponents comp ON t.BOMId = comp.BOMId AND comp.CompanyId = @CompanyId
        JOIN MA_ProjectArticles_Items item ON comp.ComponentId = item.Id AND comp.CompanyId = item.CompanyId
        WHERE t.Level = @Level AND item.Disabled = 0 AND comp.ComponentType <> 7798787
			 AND NOT EXISTS (SELECT 1 FROM #BOMExplosionCorrect t2
                   WHERE t2.ComponentId = comp.ComponentId
                   AND t2.BOMId = t.BOMId
                   AND t2.ParentBOMId = t.ParentBOMId
                   AND t2.Line = comp.Line);


        IF @@ROWCOUNT = 0 BREAK;
        SET @Level = @Level + 1;
    END;


    -- Calcola correttamente il TotalCost per ogni componente
    UPDATE #BOMExplosionCorrect 
    --SET TotalCost = (CalculatedQty * ISNULL(UnitCost, 0)) + (ISNULL(FixedCost, 0) / @ProductionLot * CalculatedQty) Nel costo dei componenti, il costo fisso non contribuisce al singolo componente ma solo alla bom finale!
	SET TotalCost = (CalculatedQty * ISNULL(UnitCost, 0)) 
    WHERE IsLoop = 0;


    UPDATE #BOMExplosionCorrect SET IsLoop = 1
    WHERE EXISTS (SELECT 1 FROM #BOMExplosionCorrect t2
                 WHERE t2.ComponentId = #BOMExplosionCorrect.ComponentId
                 AND t2.Level < #BOMExplosionCorrect.Level
                 AND t2.Path LIKE #BOMExplosionCorrect.Path + '%');

    IF EXISTS (SELECT 1 FROM #BOMExplosionCorrect WHERE IsLoop = 1)
    BEGIN
        DECLARE @LoopItems NVARCHAR(MAX) = '';
        SELECT @LoopItems = @LoopItems + ISNULL(ComponentItemCode, '') + ', '
        FROM #BOMExplosionCorrect WHERE IsLoop = 1;
        IF LEN(@LoopItems) > 0 SET @LoopItems = LEFT(@LoopItems, LEN(@LoopItems) - 2);
        EXEC SP_LogBOMCosting @CompanyId, @BOMId, 'WARNING', 'Rilevati loop ciclici nella BOM', @LoopItems;
    END

    -- Calcolo costi materiali e operazioni
    DECLARE @VariableCosts FLOAT = 0;
    DECLARE @VariableCostsMP FLOAT = 0;
    DECLARE @VariableCostsOPE FLOAT = 0;

    DECLARE @ComponentCosts TABLE (ComponentId BIGINT, CalculatedCost DECIMAL(18,6));

    INSERT INTO @ComponentCosts (ComponentId, CalculatedCost)
    SELECT ComponentId,
        CASE WHEN ComponentNature = 22413314 OR UnitCost > 0
        THEN CASE WHEN @UseKnownData = 1 AND dbo.FN_CalculateKnownDataCost(@CompanyId, ComponentItemCode, ComponentDescription, 'MATERIAL',
                ISNULL((SELECT SUM(rt.Qty) FROM MA_ProjectArticles_BOMRouting rt WHERE rt.BOMId = (
                    SELECT TOP 1 bom.Id FROM MA_ProjectArticles_BillOfMaterials bom WHERE bom.ItemId = ComponentId AND bom.CompanyId = @CompanyId
                        AND (EXISTS (SELECT 1 FROM MA_ProjectArticles_BillOfMaterials b2 WHERE b2.ItemId = ComponentId AND b2.CompanyId = @CompanyId AND b2.MainRefBOMId = @RootMainRefBOMId)
                             AND bom.MainRefBOMId = @RootMainRefBOMId OR
                             NOT EXISTS (SELECT 1 FROM MA_ProjectArticles_BillOfMaterials b2 WHERE b2.ItemId = ComponentId AND b2.CompanyId = @CompanyId AND b2.MainRefBOMId = @RootMainRefBOMId)
                             AND bom.Version = 1)
                    ORDER BY CASE WHEN bom.MainRefBOMId = @RootMainRefBOMId THEN 1 WHEN bom.Version = 1 THEN 2 ELSE 3 END, bom.Version DESC)
                AND rt.CompanyId = @CompanyId), 1), CalculatedQty) > 0
            THEN dbo.FN_CalculateKnownDataCost(@CompanyId, ComponentItemCode, ComponentDescription, 'MATERIAL',
                    ISNULL((SELECT SUM(rt.Qty) FROM MA_ProjectArticles_BOMRouting rt WHERE rt.BOMId = (
                        SELECT TOP 1 bom.Id FROM MA_ProjectArticles_BillOfMaterials bom WHERE bom.ItemId = ComponentId AND bom.CompanyId = @CompanyId
                            AND (EXISTS (SELECT 1 FROM MA_ProjectArticles_BillOfMaterials b2 WHERE b2.ItemId = ComponentId AND b2.CompanyId = @CompanyId AND b2.MainRefBOMId = @RootMainRefBOMId)
                                 AND bom.MainRefBOMId = @RootMainRefBOMId OR
                                 NOT EXISTS (SELECT 1 FROM MA_ProjectArticles_BillOfMaterials b2 WHERE b2.ItemId = ComponentId AND b2.CompanyId = @CompanyId AND b2.MainRefBOMId = @RootMainRefBOMId)
                                 AND bom.Version = 1)
                        ORDER BY CASE WHEN bom.MainRefBOMId = @RootMainRefBOMId THEN 1 WHEN bom.Version = 1 THEN 2 ELSE 3 END, bom.Version DESC)
                    AND rt.CompanyId = @CompanyId), 1), CalculatedQty)
            ELSE CalculatedQty * UnitCost END
        ELSE 0 END
    FROM #BOMExplosionCorrect WHERE IsLoop = 0;

    SELECT @VariableCostsMP = ISNULL(SUM(CalculatedCost), 0) FROM @ComponentCosts;
    DELETE FROM @ComponentCosts;

	--SELECT 'BBB',
	--CASE WHEN op.UnitCost > 0 THEN op.UnitCost * exp.CalculatedQty
 --           WHEN wc.HourlyCost > 0 THEN ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * exp.CalculatedQty)
 --           ELSE CASE WHEN @UseKnownData = 1 AND dbo.FN_CalculateKnownDataCost(@CompanyId, rt.Operation, ISNULL(op.Description, rt.Operation), 'OPERATION',
 --                       ISNULL(rt.ProcessingTime, 0), rt.Qty * exp.CalculatedQty) > 0 THEN
 --                   dbo.FN_CalculateKnownDataCost(@CompanyId, rt.Operation, ISNULL(op.Description, rt.Operation), 'OPERATION',
 --                       ISNULL(rt.ProcessingTime, 0), rt.Qty * exp.CalculatedQty)
 --               ELSE ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * exp.CalculatedQty)
 --               END
 --       END AS 'CCC'
 --   FROM #BOMExplosionCorrect exp
 --   JOIN MA_ProjectArticles_BOMRouting rt ON rt.BOMId = exp.BOMId AND rt.CompanyId = @CompanyId
 --   LEFT JOIN MA_ProjectArticles_BOMOperations op ON rt.Operation = op.Code AND op.CompanyId = @CompanyId AND op.Active = 1
 --   LEFT JOIN MA_ProjectArticles_BOMWorkCenters wc ON rt.WC = wc.Code AND wc.CompanyId = @CompanyId
 --   WHERE exp.IsLoop = 0 AND exp.BOMId IS NOT NULL;



    SELECT @VariableCostsOPE = ISNULL(SUM(
        CASE WHEN op.UnitCost > 0 THEN op.UnitCost * exp.CalculatedQty
            WHEN wc.HourlyCost > 0 THEN ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * exp.CalculatedQty)
            ELSE CASE WHEN @UseKnownData = 1 AND dbo.FN_CalculateKnownDataCost(@CompanyId, rt.Operation, ISNULL(op.Description, rt.Operation), 'OPERATION',
                        ISNULL(rt.ProcessingTime, 0), rt.Qty * exp.CalculatedQty) > 0 THEN
                    dbo.FN_CalculateKnownDataCost(@CompanyId, rt.Operation, ISNULL(op.Description, rt.Operation), 'OPERATION',
                        ISNULL(rt.ProcessingTime, 0), rt.Qty * exp.CalculatedQty)
                ELSE ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * exp.CalculatedQty)
                END
        END), 0)
    FROM #BOMExplosionCorrect exp
    JOIN MA_ProjectArticles_BOMRouting rt ON rt.BOMId = exp.BOMId AND rt.CompanyId = @CompanyId
    LEFT JOIN MA_ProjectArticles_BOMOperations op ON rt.Operation = op.Code AND op.CompanyId = @CompanyId AND op.Active = 1
    LEFT JOIN MA_ProjectArticles_BOMWorkCenters wc ON rt.WC = wc.Code AND wc.CompanyId = @CompanyId
    WHERE exp.IsLoop = 0 AND exp.BOMId IS NOT NULL;

    SET @VariableCosts = @VariableCostsMP + @VariableCostsOPE;
	

    DECLARE @FixedCosts FLOAT = 0;
    SELECT @FixedCosts = ISNULL(SUM(CASE WHEN FixedCost > 0 AND @ProductionLot > 0
            --THEN (FixedCost / @ProductionLot) * CalculatedQty ELSE 0 END), 0)
			THEN (FixedCost)  ELSE 0 END), 0)
	FROM #BOMExplosionCorrect WHERE IsLoop = 0;

    DECLARE @FixedCostsOperations FLOAT = 0;
    SELECT @FixedCostsOperations = ISNULL(SUM(
        CASE WHEN wc.HourlyCost > 0 THEN ((ISNULL(rt.SetupTime, 0) / 3600.0) * wc.HourlyCost) + ISNULL(op.FixedCost, 0)
            ELSE ((ISNULL(rt.SetupTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)) + ISNULL(op.FixedCost, 0)
        END), 0)
    FROM #BOMExplosionCorrect exp
    JOIN MA_ProjectArticles_BOMRouting rt ON rt.BOMId = exp.BOMId AND rt.CompanyId = @CompanyId
    LEFT JOIN MA_ProjectArticles_BOMOperations op ON rt.Operation = op.Code AND op.CompanyId = @CompanyId AND op.Active = 1
    LEFT JOIN MA_ProjectArticles_BOMWorkCenters wc ON rt.WC = wc.Code AND wc.CompanyId = @CompanyId
    WHERE exp.IsLoop = 0 AND exp.BOMId IS NOT NULL;

    SET @FixedCosts = @FixedCosts + @FixedCostsOperations;

    DECLARE @FixedCostsPerLot FLOAT = 0;
    IF @ProductionLot > 0 SET @FixedCostsPerLot = @FixedCosts / @ProductionLot;

    SET @MaterialCost = @VariableCostsMP;
    SET @OperationsCost = @VariableCostsOPE;
    SET @FixedCost = @FixedCostsPerLot;
    SET @BaseCost = @VariableCosts + @FixedCostsPerLot;

    IF @BaseCost = 0
    BEGIN
        DECLARE @WarningMessage NVARCHAR(MAX) = 'MaterialCost: ' + ISNULL(CAST(@MaterialCost AS NVARCHAR(50)), '0') +
                                                ', OperationsCost: ' + ISNULL(CAST(@OperationsCost AS NVARCHAR(50)), '0') +
                                                ', FixedCost: ' + ISNULL(CAST(@FixedCost AS NVARCHAR(50)), '0');
        EXEC SP_LogBOMCosting @CompanyId, @BOMId, 'WARNING', 'Costo base calcolato è zero', @WarningMessage;
    END

    IF @ScrapPct > 0 AND @ScrapPct < 1
        SET @AdjustedCost = @BaseCost / (1.0 - @ScrapPct);
    ELSE
        SET @AdjustedCost = @BaseCost;

    -- Calcola ricarichi usando variabili @Effective*
    DECLARE @RicaricoMPAmount FLOAT = @VariableCostsMP * @EffectiveRicaricoMP;
    DECLARE @RicaricoOPEAmount FLOAT = @VariableCostsOPE * @EffectiveRicaricoOPE;
    DECLARE @RicaricoTrasportoAmount FLOAT = @VariableCosts * @EffectiveRicaricoTrasporto;
    DECLARE @RicaricoScartoAmount FLOAT = @VariableCosts / (1 - @EffectiveRicaricoScarto) - @VariableCosts;

    DECLARE @SommaRicarichi FLOAT = @RicaricoMPAmount + @RicaricoOPEAmount + @RicaricoTrasportoAmount + @RicaricoScartoAmount;

    DECLARE @RicaricoTotaleAmount FLOAT = (@VariableCosts + @SommaRicarichi) * @EffectiveRicaricoTotale;
    DECLARE @RicaricoScontoAmount FLOAT = (@VariableCosts + @SommaRicarichi) / (1 - @EffectiveRicaricoSconto) - (@VariableCosts + @SommaRicarichi);

    SET @FinalUnitCost = @VariableCosts + @FixedCostsPerLot + @SommaRicarichi + @RicaricoTotaleAmount + @RicaricoScontoAmount;
    SET @FinalMarkup = @EffectiveRicaricoTotale;

    IF @OrderQuantity IS NOT NULL AND @OrderQuantity > 0
        SET @TotalOrderCost = @FinalUnitCost * @OrderQuantity;

    SET @TotalCostPerLot = @FinalUnitCost * @ProductionLot;
    SET @TotalPricePerLot = @TotalCostPerLot * (1 + ISNULL(@FinalMarkup, @EffectiveRicaricoTotale));

    -- Aggiorna la tabella BOM
    IF @UpdateBOMRecord = 1
    BEGIN
        DECLARE @RefillLot INT = @ProductionLot;
        DECLARE @RefillCost FLOAT = @FinalUnitCost * @RefillLot;
        DECLARE @RefillPrice FLOAT = @RefillCost * (1 + ISNULL(@FinalMarkup, @EffectiveRicaricoTotale));

        SET @DetailsJSON = (
            SELECT @TotalPricePerLot / @ProductionLot as prezzo, @VariableCostsMP as costo_mp,
                @VariableCostsOPE as costo_ope, @FixedCostsPerLot as costi_fissi,
                @RicaricoMPAmount as ricarico_mp, @RicaricoOPEAmount as ricarico_op,
                @RicaricoTrasportoAmount as ricarico_tr, @FinalUnitCost as costo_totale,
                @RicaricoScartoAmount as ricarico_scarto, @RicaricoScontoAmount as ricarico_sconto,
                @RicaricoTotaleAmount as ricarico_totale
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );

        SET @Notes = ' || lotto(rif): ' + CAST(@RefillLot AS VARCHAR(10)) +
                    ' | Prezzo(rif): ' + CAST(ROUND(@RefillPrice / @RefillLot, 2) AS VARCHAR(20)) +
                    ' | Costo(rif): ' + CAST(ROUND(@RefillCost / @RefillLot, 2) AS VARCHAR(20)) + ' ||';

        UPDATE MA_ProjectArticles_BillOfMaterials
        SET ProductionLot = @ProductionLot, RMCost = @VariableCostsMP,
            ProcessingCost = @VariableCostsOPE, RMRefillCost = @RicaricoMPAmount,
            ProcessingRefillCost = @RicaricoOPEAmount, TotalCost = @FinalUnitCost,
            TotalPrice = @TotalPricePerLot / @ProductionLot, RefillWaste = @RicaricoScartoAmount,
            RefillDiscount = @RicaricoScontoAmount, TotalRefill = @SommaRicarichi,
            TransportRefill = @RicaricoTrasportoAmount, Details = @DetailsJSON,
            Notes = @Notes, LastCostingUpdatedBy = @UserId, LastCostingUpdatedAt = GETDATE()
        WHERE CompanyId = @CompanyId AND Id = @BOMId;

        DECLARE @TextNotes VARCHAR(MAX) = 'TotalCost (per pezzo): ' + CAST(@FinalUnitCost AS VARCHAR(20)) +
                                          ', TotalPrice (per pezzo): ' + CAST(@TotalPricePerLot / @ProductionLot AS VARCHAR(20));
        EXEC SP_LogBOMCosting @CompanyId, @BOMId, 'INFO', 'Record BOM aggiornato con i costi calcolati', @TextNotes;
    END

    DECLARE @CompletionMessage NVARCHAR(MAX) = 'BaseCost: ' + ISNULL(CAST(@BaseCost AS NVARCHAR(50)), '0') +
                                               ', FinalCost: ' + ISNULL(CAST(@FinalUnitCost AS NVARCHAR(50)), '0');
    EXEC SP_LogBOMCosting @CompanyId, @BOMId, 'INFO', 'Calcolo costificazione completato', @CompletionMessage;

    -- Output risultato CON RICARICHI EFFETTIVI
    SELECT
        @BOMId as bom_id, bom.BOM as bom_code, bom.Description as bom_description,
        itm.Item as item_code, itm.Description as item_description,
        @VariableCostsMP as variable_costs_material, @VariableCostsOPE as variable_costs_operations,
        @FixedCostsOperations as fixed_costs_operations, (@VariableCostsOPE + @FixedCostsOperations) as total_operations_cost,
        @VariableCosts as total_variable_costs, @FixedCosts as total_fixed_costs,
        @FixedCostsPerLot as fixed_costs_per_lot, @BaseCost as base_cost,
        @ScrapPct as scarto_pct, @AdjustedCost as adjusted_cost,
        -- RICARICHI EFFETTIVI (custom o globali)
        @EffectiveRicaricoMP as ricarico_mp_pct, @RicaricoMPAmount as ricarico_mp_amount,
        @EffectiveRicaricoOPE as ricarico_ope_pct, @RicaricoOPEAmount as ricarico_ope_amount,
        @EffectiveRicaricoTrasporto as ricarico_trasporto_pct, @RicaricoTrasportoAmount as ricarico_trasporto_amount,
        @EffectiveRicaricoScarto as ricarico_scarto_pct, @RicaricoScartoAmount as ricarico_scarto_amount,
        @SommaRicarichi as somma_ricarichi,
        @EffectiveRicaricoTotale as ricarico_totale_pct, @RicaricoTotaleAmount as ricarico_totale_amount,
        @EffectiveRicaricoSconto as ricarico_sconto_pct, @RicaricoScontoAmount as ricarico_sconto_amount,
        @ProductionLot as production_lot, @FinalUnitCost as unit_cost_final,
        @TotalPricePerLot / @ProductionLot as unit_price_final,
        @TotalCostPerLot as total_cost_per_lot, @TotalPricePerLot as total_price_per_lot,
        @TotalOrderCost as total_cost_order, ISNULL(@OrderQuantity, 0) as order_quantity,
        bom.Version as bom_version, bom.MainRefBOMId as main_ref_bom_id,
        @RootMainRefBOMId as root_main_ref_bom_id, bom.UoM as unit_of_measure,
        GETDATE() as calculation_timestamp,
        (SELECT COUNT(*) FROM #BOMExplosionCorrect WHERE IsLoop = 0) as components_count,
        (SELECT COUNT(*) FROM #BOMExplosionCorrect WHERE IsLoop = 1) as loops_detected,
        CASE WHEN @BaseCost = 0 THEN 'WARNING: Costo base zero'
            WHEN EXISTS (SELECT 1 FROM #BOMExplosionCorrect WHERE IsLoop = 1) THEN 'WARNING: Loop rilevato'
            ELSE 'OK' END as status_note
    FROM MA_ProjectArticles_BillOfMaterials bom
    JOIN MA_ProjectArticles_Items itm ON bom.ItemId = itm.Id AND bom.CompanyId = itm.CompanyId
    WHERE bom.CompanyId = @CompanyId AND bom.Id = @BOMId
    AND (@Version IS NULL OR bom.Version = @Version);

    -- OUTPUT DEBUG CON TotalCost CORRETTO
    IF @Debug = 1
		BEGIN

		

			SELECT exp.ComponentId, exp.Line as ComponentLine, exp.ComponentId as ItemId,
				exp.ComponentItemCode as ItemCode, exp.ComponentDescription as ItemDescription,
				exp.Quantity, exp.UoM, exp.UnitCost, exp.FixedCost, exp.TotalCost, exp.ComponentType,
				(exp.CalculatedQty * ISNULL(exp.UnitCost, 0))  as CalculatedTotalCost,
				exp.Path,
				exp.ParentBOMId
			FROM #BOMExplosionCorrect exp
			WHERE exp.IsLoop = 0 AND exp.Level > 0
			ORDER BY exp.Line;

        -- Mostra il TotalCost corretto dalla tabella temporanea
        SELECT Level, ComponentItemCode, ComponentDescription, ComponentType,
            CASE ComponentNature WHEN 22413312 THEN 'Semilavorato' WHEN 22413313 THEN 'Prodotto Finito'
                WHEN 22413314 THEN 'Acquisto' ELSE 'Altro' END as ComponentNature,
            Quantity, CalculatedQty, UoM, UnitCost, FixedCost, TotalCost, IsLoop,
            BOMId, ParentBOMId, Path
        FROM #BOMExplosionCorrect ORDER BY Level, ComponentItemCode;

        SELECT rt.BOMId, rt.RtgStep, rt.Operation, op.Description as OperationDescription,
            rt.WC as WorkCenter, wc.Description as WorkCenterDescription,
            (rt.ProcessingTime*exp.CalculatedQty) AS ProcessingTime, rt.SetupTime, (rt.ProcessingTime / 3600.0)  as ProcessingTimeHours,
            rt.SetupTime / 3600.0 as SetupTimeHours, rt.NoOfProcessingWorkers, rt.NoOfSetupWorkers,
            rt.SubId, rt.Supplier, exp.CalculatedQty AS Qty, rt.Notes,
            ( CASE WHEN op.UnitCost > 0 THEN op.UnitCost
                WHEN wc.HourlyCost > 0 THEN (rt.ProcessingTime / 3600.0) * wc.HourlyCost
                ELSE (rt.ProcessingTime / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)
            END ) as ProcessingCost,
            CASE WHEN wc.HourlyCost > 0 THEN (rt.SetupTime / 3600.0) * wc.HourlyCost
                ELSE (rt.SetupTime / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)
            END as SetupCost,
            ISNULL(op.FixedCost, 0) as FixedCost, bom.BOM as BOMCode, bom.Description as BOMDescription,
            itm.Item as ItemCode, itm.Description as ItemDescription
        FROM #BOMExplosionCorrect exp
        JOIN MA_ProjectArticles_BOMRouting rt ON rt.BOMId = exp.BOMId AND rt.CompanyId = @CompanyId
        JOIN MA_ProjectArticles_BillOfMaterials bom ON bom.Id = rt.BOMId AND bom.CompanyId = @CompanyId
        JOIN MA_ProjectArticles_Items itm ON bom.ItemId = itm.Id AND itm.CompanyId = @CompanyId
        LEFT JOIN MA_ProjectArticles_BOMOperations op ON rt.Operation = op.Code AND op.CompanyId = @CompanyId AND op.Active = 1
        LEFT JOIN MA_ProjectArticles_BOMWorkCenters wc ON rt.WC = wc.Code AND wc.CompanyId = @CompanyId
        WHERE exp.IsLoop = 0 AND exp.BOMId IS NOT NULL
        ORDER BY rt.BOMId, rt.RtgStep;

        SELECT exp.BOMId, bom.BOM as BOMCode, bom.Description as BOMDescription,
            COUNT(DISTINCT comp.ComponentId) as ComponentCount,
            SUM(comp.Quantity * ISNULL(comp.UnitCost, 0)) as TotalMaterialCost,
            SUM(ISNULL(comp.FixedCost, 0)) as TotalFixedCost,
            (SELECT COUNT(*) FROM MA_ProjectArticles_BOMRouting WHERE BOMId = exp.BOMId AND CompanyId = @CompanyId) as RoutingSteps,
            (SELECT SUM(ProcessingTime / 3600.0) FROM MA_ProjectArticles_BOMRouting WHERE BOMId = exp.BOMId AND CompanyId = @CompanyId) as TotalProcessingHours,
            (SELECT SUM(SetupTime / 3600.0) FROM MA_ProjectArticles_BOMRouting WHERE BOMId = exp.BOMId AND CompanyId = @CompanyId) as TotalSetupHours
        FROM #BOMExplosionCorrect exp
        JOIN MA_ProjectArticles_BillOfMaterials bom ON bom.Id = exp.BOMId AND bom.CompanyId = @CompanyId
        LEFT JOIN MA_ProjectArticles_BOMComponents comp ON comp.BOMId = exp.BOMId AND comp.CompanyId = @CompanyId
        WHERE exp.IsLoop = 0 AND exp.BOMId IS NOT NULL
        GROUP BY exp.BOMId, bom.BOM, bom.Description
        ORDER BY exp.BOMId;
    END

    -- Cleanup
    DROP TABLE IF EXISTS #BOMExplosionCorrect;
    DROP TABLE IF EXISTS #EffectiveMarkups;

    RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBOMCostingDetails]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Stored Procedure: SP_GetBOMCostingDetails
-- Descrizione: Ottiene il dettaglio dei calcoli di costificazione per una BOM
-- =============================================
CREATE   PROCEDURE [dbo].[SP_GetBOMCostingDetails]
    @CompanyId INT,
    @BOMId BIGINT,
    @CalculationId BIGINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verifica che la BOM esista
        IF NOT EXISTS (
            SELECT 1 FROM MA_ProjectArticles_BillOfMaterials 
            WHERE Id = @BOMId AND CompanyId = @CompanyId
        )
        BEGIN
            RAISERROR('BOM non trovata con l''ID specificato', 16, 1);
            RETURN;
        END
        
        -- Se non viene fornito CalculationId, usa l'ultimo calcolo
        IF @CalculationId IS NULL
        BEGIN
            SELECT TOP 1 @CalculationId = Id 
            FROM MA_BOMCostingLog 
            WHERE BOMId = @BOMId AND CompanyId = @CompanyId 
            AND LogLevel = 'INFO' 
            AND LogMessage LIKE '%Costificazione completata%'
            ORDER BY TBCreated DESC;
        END
        
        -- Ottieni informazioni base della BOM con dettagli completi
        SELECT 
            bom.Id as BOMId,
            bom.BOM as BOMCode,
            bom.Description as BOMDescription,
            itm.Item as ItemCode,
            itm.Description as ItemDescription,
            bom.UoM as UnitOfMeasure,
            bom.TotalCost as LastCalculatedCost,
            bom.RMCost as LastMaterialCost,
            bom.ProcessingCost as LastProcessingCost,
            bom.ProductionLot,
            bom.RMRefillCost as LastMaterialRefillCost,
            bom.ProcessingRefillCost as LastProcessingRefillCost,
            bom.RefillWaste as LastWasteRefillCost,
            bom.RefillDiscount as LastDiscountRefillCost,
            bom.TotalRefill as LastTotalRefillCost,
            bom.TransportRefill as LastTransportRefillCost,
            bom.Details as CostingDetailsJSON,
            bom.Notes as CostingNotes,
            bom.LastCostingUpdatedBy,
            bom.LastCostingUpdatedAt
        FROM MA_ProjectArticles_BillOfMaterials bom
        JOIN MA_ProjectArticles_Items itm ON bom.ItemId = itm.Id AND bom.CompanyId = itm.CompanyId
        WHERE bom.Id = @BOMId AND bom.CompanyId = @CompanyId;
        
        -- Crea tabella temporanea per esplosione BOM completa (come in SP_CalculateBOMCosting)
        CREATE TABLE #BOMExplosionForDetails (
            Level INT,
            ItemId BIGINT,
            ComponentId BIGINT,
            ParentId BIGINT,
            BOMId BIGINT,
            ParentBOMId BIGINT,
            Line INT,
            ComponentType INT,
            Path NVARCHAR(MAX),
            Quantity DECIMAL(18,5),
            CalculatedQty DECIMAL(18,5),
            UoM VARCHAR(10),
            UnitCost FLOAT,
            TotalCost FLOAT,
            FixedCost FLOAT,
            ComponentNature INT,
            ComponentItemCode VARCHAR(64),
            ComponentDescription NVARCHAR(255),
            IsLoop BIT DEFAULT 0
        );
        
        -- Implementazione esplosione ricorsiva (stessa logica di SP_CalculateBOMCosting)
        DECLARE @RootItemId BIGINT;
        DECLARE @RootBOMId BIGINT = @BOMId;
        DECLARE @Level INT = 0;
        DECLARE @MaxIterations INT = 10; -- Limite per evitare loop infiniti
        
        -- Ottieni l'ItemId della distinta base
        SELECT @RootItemId = ItemId
        FROM MA_ProjectArticles_BillOfMaterials
        WHERE Id = @BOMId AND CompanyId = @CompanyId;
        
        -- Inserisci il nodo root
        INSERT INTO #BOMExplosionForDetails (
            Level, ItemId, ComponentId, ParentId, BOMId, ParentBOMId, Line, ComponentType,
            Path, Quantity, CalculatedQty, UoM, UnitCost, TotalCost, FixedCost,
            ComponentNature, ComponentItemCode, ComponentDescription
        )
        SELECT 
            0, -- Level 0 per il nodo radice
            bom.ItemId, -- ItemId
            bom.ItemId, -- ComponentId (per il root è lo stesso)
            NULL, -- ParentId (root non ha padre)
            bom.Id, -- BOMId
            NULL, -- ParentBOMId (root non ha padre)
            0, -- Line (root ha linea 0)
            0, -- ComponentType (root)
            CAST(bom.ItemId AS NVARCHAR(MAX)), -- Path
            1, -- Quantity (root ha quantità 1)
            1, -- CalculatedQty (root ha quantità calcolata 1)
            bom.UoM, -- UoM
            0, -- UnitCost (root non ha costo unitario)
            0, -- TotalCost (root non ha costo totale)
            0, -- FixedCost (root non ha costo fisso)
            itm.Nature, -- ComponentNature
            itm.Item, -- ComponentItemCode
            itm.Description -- ComponentDescription
        FROM MA_ProjectArticles_BillOfMaterials bom
        JOIN MA_ProjectArticles_Items itm ON bom.ItemId = itm.Id AND bom.CompanyId = itm.CompanyId
        WHERE bom.Id = @BOMId AND bom.CompanyId = @CompanyId;
        
        -- Espandi ricorsivamente tutti i livelli
        WHILE @Level < @MaxIterations
        BEGIN
            INSERT INTO #BOMExplosionForDetails (
                Level, ItemId, ComponentId, ParentId, BOMId, ParentBOMId, Line, ComponentType,
                Path, Quantity, CalculatedQty, UoM, UnitCost, TotalCost, FixedCost,
                ComponentNature, ComponentItemCode, ComponentDescription
            )
            SELECT 
                t.Level + 1, -- Level
                comp.ComponentId, -- ItemId
                comp.ComponentId, -- ComponentId
                t.ItemId, -- ParentId
                (SELECT TOP 1 bom.Id 
                 FROM MA_ProjectArticles_BillOfMaterials bom 
                 WHERE bom.ItemId = comp.ComponentId AND bom.CompanyId = @CompanyId
                 ORDER BY bom.Version DESC), -- BOMId
                t.BOMId, -- ParentBOMId
                comp.Line, -- Line
                comp.ComponentType, -- ComponentType
                t.Path + '.' + CAST(comp.ComponentId AS NVARCHAR(MAX)), -- Path
                comp.Quantity, -- Quantity
                t.CalculatedQty * comp.Quantity, -- CalculatedQty
                comp.UoM, -- UoM
                comp.UnitCost, -- UnitCost
                comp.TotalCost, -- TotalCost
                comp.FixedCost, -- FixedCost
                item.Nature, -- ComponentNature
                item.Item, -- ComponentItemCode
                item.Description -- ComponentDescription
            FROM #BOMExplosionForDetails t
            JOIN MA_ProjectArticles_BOMComponents comp ON t.BOMId = comp.BOMId AND comp.CompanyId = @CompanyId
            JOIN MA_ProjectArticles_Items item ON comp.ComponentId = item.Id AND comp.CompanyId = @CompanyId
            WHERE 
                t.Level = @Level
                AND item.Disabled = 0
                AND comp.ComponentType <> 7798787 -- Esclude operazioni
                AND NOT EXISTS (
                    SELECT 1 FROM #BOMExplosionForDetails t2 
                    WHERE t2.ComponentId = comp.ComponentId AND t2.Path LIKE t.Path + '%'
                );
            
            IF @@ROWCOUNT = 0
                BREAK;
            
            SET @Level = @Level + 1;
        END;
        
        -- Rileva loop
        UPDATE #BOMExplosionForDetails 
        SET IsLoop = 1
        WHERE EXISTS (
            SELECT 1 FROM #BOMExplosionForDetails t2 
            WHERE t2.ComponentId = #BOMExplosionForDetails.ComponentId 
            AND t2.Path <> #BOMExplosionForDetails.Path
            AND #BOMExplosionForDetails.Path LIKE t2.Path + '%'
        );
        
        -- Ottieni dettaglio componenti con esplosione completa e costificazione
        SELECT 
            Level,
            ComponentId,
            Line as ComponentLine,
            ItemId,
            ComponentItemCode as ItemCode,
            ComponentDescription as ItemDescription,
            ComponentNature as ItemNature,
            Quantity,
            CalculatedQty,
            UoM,
            UnitCost,
            FixedCost,
            TotalCost,
            ComponentType,
            CASE 
                WHEN ComponentType = 22413312 THEN 'Semilavorato'
                WHEN ComponentType = 22413313 THEN 'Prodotto Finito'
                WHEN ComponentType = 22413314 THEN 'Acquisto'
                WHEN ComponentType = 22413315 THEN 'Operazione'
                ELSE 'Altro'
            END as ComponentTypeDescription,
            -- Calcola il costo unitario del componente (per unità di misura)
            CASE 
                WHEN ComponentType IN (22413312, 22413313) THEN
                    -- Per semilavorati e prodotti finiti, calcola il costo dalla loro BOM
                    ISNULL((
                        SELECT 
                            (bom_comp.TotalCost / NULLIF(bom_comp.ProductionLot, 0))
                        FROM MA_ProjectArticles_BillOfMaterials bom_comp
                        WHERE bom_comp.ItemId = ComponentId 
                        AND bom_comp.CompanyId = @CompanyId
                        AND bom_comp.TotalCost > 0
                    ), UnitCost)
                ELSE 
                    -- Per acquisti, usa il costo unitario diretto
                    UnitCost
            END as CalculatedUnitCost,
            -- Calcola il costo totale per questo componente (costo unitario * quantità calcolata)
            CASE 
                WHEN ComponentType IN (22413312, 22413313) THEN
                    -- Per semilavorati e prodotti finiti: (costo per pezzo dalla BOM * quantità calcolata) + costi fissi
                    (CalculatedQty * ISNULL((
                        SELECT 
                            (bom_comp.TotalCost / NULLIF(bom_comp.ProductionLot, 0))
                        FROM MA_ProjectArticles_BillOfMaterials bom_comp
                        WHERE bom_comp.ItemId = ComponentId 
                        AND bom_comp.CompanyId = @CompanyId
                        AND bom_comp.TotalCost > 0
                    ), UnitCost)) + ISNULL(FixedCost, 0)
                ELSE 
                    -- Per acquisti: (costo per unità * quantità calcolata) + costi fissi
                    (CalculatedQty * ISNULL(UnitCost, 0)) + ISNULL(FixedCost, 0)
            END as CalculatedTotalCost,
            -- Calcola il costo unitario effettivo (costo totale / quantità calcolata)
            CASE 
                WHEN CalculatedQty > 0 THEN 
                    CASE 
                        WHEN ComponentType IN (22413312, 22413313) THEN
                            -- Per semilavorati: costo per pezzo dalla BOM + (costi fissi / quantità calcolata)
                            ISNULL((
                                SELECT 
                                    (bom_comp.TotalCost / NULLIF(bom_comp.ProductionLot, 0))
                                FROM MA_ProjectArticles_BillOfMaterials bom_comp
                                WHERE bom_comp.ItemId = ComponentId 
                                AND bom_comp.CompanyId = @CompanyId
                                AND bom_comp.TotalCost > 0
                            ), UnitCost) + (ISNULL(FixedCost, 0) / CalculatedQty)
                        ELSE 
                            -- Per acquisti: costo per unità + (costi fissi / quantità calcolata)
                            UnitCost + (ISNULL(FixedCost, 0) / CalculatedQty)
                    END
                ELSE 0
            END as EffectiveUnitCost,
            -- Indica se il componente ha un costo valido
            CASE 
                WHEN (ComponentType IN (22413312, 22413313) AND EXISTS (
                    SELECT 1 FROM MA_ProjectArticles_BillOfMaterials bom_comp
                    WHERE bom_comp.ItemId = ComponentId 
                    AND bom_comp.CompanyId = @CompanyId
                    AND bom_comp.TotalCost > 0
                )) OR (ComponentType = 22413314 AND UnitCost > 0) OR FixedCost > 0 THEN 1
                ELSE 0
            END as HasValidCost,
            -- Indica se il costo è stato calcolato dalla BOM del componente
            CASE 
                WHEN ComponentType IN (22413312, 22413313) AND EXISTS (
                    SELECT 1 FROM MA_ProjectArticles_BillOfMaterials bom_comp
                    WHERE bom_comp.ItemId = ComponentId 
                    AND bom_comp.CompanyId = @CompanyId
                    AND bom_comp.TotalCost > 0
                ) THEN 1
                ELSE 0
            END as CostFromBOM,
            Path,
            IsLoop
        FROM #BOMExplosionForDetails
        WHERE Level > 0 -- Esclude il nodo root
        ORDER BY Level, Path, Line;
        
        -- Ottieni dettaglio operazioni/routing con costi reali e breakdown dettagliato
        -- Include operazioni di tutti i livelli dell'esplosione BOM
        WITH AllOperations AS (
            -- Operazioni di tutti i livelli dell'esplosione
            SELECT 
                rt.RtgStep + (exp.Level * 1000) as RoutingId, -- Offset per livello
                rt.RtgStep as CycleNumber,
                rt.Operation as OperationCode,
                ISNULL(op.Description, rt.Operation) as OperationDescription,
                rt.WC as WorkCenterCode,
                ISNULL(wc.Description, rt.WC) as WorkCenterDescription,
                rt.Qty * exp.CalculatedQty as Quantity, -- Moltiplica per quantità calcolata
                'PZ' as UoM,
                ISNULL(wc.HourlyCost, 0.0) as HourlyCost,
                ISNULL(op.UnitCost, 0.0) as UnitCost,
                ISNULL(op.FixedCost, 0.0) as AdditionalCost,
                ISNULL(rt.SetupTime, 0) / 3600.0 as SetupTimeHours,
                ISNULL(rt.ProcessingTime, 0) / 3600.0 as ProcessingTimeHours,
                -- Costi separati per setup e processing
                CASE 
                    WHEN wc.HourlyCost > 0 THEN (ISNULL(rt.SetupTime, 0) / 3600.0) * wc.HourlyCost
                    ELSE (ISNULL(rt.SetupTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)
                END as SetupCost,
                CASE 
                    WHEN wc.HourlyCost > 0 THEN (ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * rt.Qty * exp.CalculatedQty
                    ELSE (ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * rt.Qty * exp.CalculatedQty
                END as ProcessingCost,
                -- Costo totale dell'operazione
                CASE 
                    WHEN op.UnitCost > 0 THEN op.UnitCost * rt.Qty * exp.CalculatedQty + ISNULL(op.FixedCost, 0)
                    WHEN wc.HourlyCost > 0 THEN
                        ((ISNULL(rt.SetupTime, 0) / 3600.0) * wc.HourlyCost) + 
                        ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * rt.Qty * exp.CalculatedQty) + 
                        ISNULL(op.FixedCost, 0)
                    ELSE
                        ((ISNULL(rt.SetupTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)) +
                        ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * rt.Qty * exp.CalculatedQty) +
                        ISNULL(op.FixedCost, 0)
                END as CalculatedTotalCost,
                CASE 
                    WHEN op.UnitCost > 0 OR wc.HourlyCost > 0 OR op.FixedCost > 0 THEN 1
                    ELSE 0
                END as HasValidCost,
                exp.Level, -- Livello dell'esplosione
                exp.ComponentItemCode as ComponentCode,
                exp.ComponentDescription as ComponentDescription,
                exp.Path,
                CASE 
                    WHEN exp.Level = 1 THEN 0 -- BOM principale
                    ELSE 1 -- Componenti
                END as IsComponentOperation
            FROM #BOMExplosionForDetails exp
            LEFT JOIN MA_ProjectArticles_BOMRouting rt ON exp.BOMId = rt.BOMId AND rt.CompanyId = @CompanyId
            LEFT JOIN MA_ProjectArticles_BOMOperations op ON rt.Operation = op.Code AND op.CompanyId = @CompanyId AND op.Active = 1
            LEFT JOIN MA_ProjectArticles_BOMWorkCenters wc ON rt.WC = wc.Code AND wc.CompanyId = @CompanyId
            WHERE exp.Level > -1 -- Considera anche il nodo root
            AND rt.RtgStep IS NOT NULL -- Solo se ci sono operazioni
        )
        SELECT 
            RoutingId,
            CycleNumber,
            OperationCode,
            OperationDescription,
            WorkCenterCode,
            WorkCenterDescription,
            Quantity,
            UoM,
            HourlyCost,
            UnitCost,
            AdditionalCost,
            SetupTimeHours,
            ProcessingTimeHours,
            SetupCost,
            ProcessingCost,
            CalculatedTotalCost,
            HasValidCost,
            Level,
            IsComponentOperation,
            ComponentCode,
            ComponentDescription,
            Path
        FROM AllOperations
        ORDER BY Level, Path, CycleNumber;
        
        -- Ottieni parametri di costificazione utilizzati
        SELECT 
            param.ParameterName,
            param.ParameterValue,
            param.Description,
            param.IsActive
        FROM MA_BOMCostingParameters param
        WHERE param.CompanyId = @CompanyId AND param.IsActive = 1
        ORDER BY param.ParameterName;
        
        -- Ottieni log dell'ultimo calcolo se disponibile
        IF @CalculationId IS NOT NULL
        BEGIN
            SELECT 
                log.LogLevel,
                log.LogMessage,
                log.Details,
                log.TBCreated
            FROM MA_BOMCostingLog log
            WHERE log.Id = @CalculationId AND log.CompanyId = @CompanyId
            ORDER BY log.TBCreated DESC;
        END
        
        -- Cleanup tabella temporanea
        DROP TABLE #BOMExplosionForDetails;
        
    END TRY
    BEGIN CATCH
        -- Cleanup in caso di errore
        IF OBJECT_ID('tempdb..#BOMExplosionForDetails') IS NOT NULL
            DROP TABLE #BOMExplosionForDetails;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBOMCostingHistory]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetBOMCostingHistory]
    @CompanyId INT,
    @BOMId BIGINT = NULL,
    @Top INT = NULL,
    @OrderBy NVARCHAR(50) = 'CostingDate DESC'
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Query base comune
        ;WITH HistoryData AS (
            SELECT
                h.Id,
                h.CompanyId,
                h.BOMId,
                h.OrderQuantity,
                h.ScrapPercentage,
                h.UseGranularMarkups,
                h.UpdateBOMRecord,
                h.ParametersSnapshot,
                h.RMCost,
                h.ProcessingCost,
                h.TotalCost,
                h.TotalPrice,
                h.CostingDate,
                h.CalculatedBy,
                h.Notes,
                -- Ricarichi custom BOM-specific
                h.CustomMarkupRM,
                h.CustomMarkupRMPurchase,
                h.CustomMarkupRMProduction,
                h.CustomMarkupOperations,
                h.CustomMarkupInternalOps,
                h.CustomMarkupExternalOps,
                h.CustomMarkupOverhead,
                h.CustomMarkupsJSON,
                -- Audit
                h.TBCreated,
                h.TBCreatedId,
                -- Info BOM
                b.BOM AS BOMCode,
                b.Description AS BOMDescription,
                b.Version AS BOMVersion,
                -- Info utente
                ISNULL(u.firstName + ' ' + u.lastName, 'N/A') AS CalculatedByName
            FROM MA_BOMCostingHistory h
            INNER JOIN MA_ProjectArticles_BillOfMaterials b
                ON h.CompanyId = b.CompanyId AND h.BOMId = b.Id
            LEFT JOIN AR_Users u
                ON h.CalculatedBy = u.userId
            WHERE h.CompanyId = @CompanyId
              AND (@BOMId IS NULL OR h.BOMId = @BOMId)
        )
        SELECT *
        FROM HistoryData
        ORDER BY
            CASE WHEN @OrderBy = 'CostingDate DESC' THEN CostingDate END DESC,
            CASE WHEN @OrderBy = 'CostingDate ASC' THEN CostingDate END ASC,
            CASE WHEN @OrderBy = 'TotalCost DESC' THEN TotalCost END DESC,
            CASE WHEN @OrderBy = 'TotalCost ASC' THEN TotalCost END ASC
        OFFSET 0 ROWS
        FETCH NEXT ISNULL(@Top, 999999) ROWS ONLY;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBOMOperationsCostBreakdown]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedura: Dettaglio costi operazioni per BOM
-- =============================================
CREATE   PROCEDURE [dbo].[SP_GetBOMOperationsCostBreakdown]
    @CompanyId INT,
    @BOMId BIGINT,
    @IncludeMultilevel BIT = 1  -- 1 = include esplosione multilivello, 0 = solo livello corrente
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verifica esistenza BOM
        IF NOT EXISTS (SELECT 1 FROM MA_ProjectArticles_BillOfMaterials WHERE CompanyId = @CompanyId AND Id = @BOMId)
        BEGIN
            SELECT 'BOM non trovata' AS ErrorMessage;
            RETURN;
        END
        
        -- Tabella temporanea per esplosione BOM (se richiesta)
        IF @IncludeMultilevel = 1
        BEGIN
            CREATE TABLE #BOMExplosionForOps (
                Level INT,
                ItemId BIGINT,
                ComponentId BIGINT,
                ParentId BIGINT,
                BOMId BIGINT,
                ParentBOMId BIGINT,
                Line INT,
                ComponentType INT,
                Path NVARCHAR(MAX),
                Quantity DECIMAL(18,5),
                CalculatedQty DECIMAL(18,5),
                UoM VARCHAR(10),
                ComponentItemCode VARCHAR(64),
                ComponentDescription NVARCHAR(255)
            );
            
            -- Implementazione esplosione ricorsiva (stessa logica di SP_CalculateBOMCosting)
            DECLARE @RootItemId BIGINT;
            DECLARE @RootBOMId BIGINT = @BOMId;
            
            SELECT @RootItemId = ItemId
            FROM MA_ProjectArticles_BillOfMaterials
            WHERE Id = @BOMId AND CompanyId = @CompanyId;
            
            -- Inserisci il nodo root
            INSERT INTO #BOMExplosionForOps (
                Level, ItemId, ComponentId, ParentId, BOMId, ParentBOMId, Line, ComponentType,
                Path, Quantity, CalculatedQty, UoM, ComponentItemCode, ComponentDescription
            )
            SELECT 
                0, -- Level 0 per il nodo radice
                item.Id, -- ItemId
                item.Id, -- ComponentId (stesso dell'ItemId per il root)
                NULL, -- ParentId (NULL perché è la radice)
                @RootBOMId, -- BOMId
                NULL, -- ParentBOMId (NULL perché è la radice)
                0, -- Line
                7798784, -- ComponentType (Articolo)
                CAST(item.Id AS NVARCHAR(MAX)), -- Path
                CAST(1 AS DECIMAL(18,5)), -- Quantity
                CAST(1 AS DECIMAL(18,5)), -- CalculatedQty
                bom.UoM, -- UoM dalla distinta
                item.Item,
                item.Description
            FROM MA_ProjectArticles_Items item
            JOIN MA_ProjectArticles_BillOfMaterials bom ON bom.ItemId = item.Id AND bom.CompanyId = item.CompanyId
            WHERE item.Id = @RootItemId AND item.CompanyId = @CompanyId AND bom.Id = @RootBOMId;
            
            -- Esplosione ricorsiva
            DECLARE @Level INT = 0;
            DECLARE @MaxIterations INT = 10;
            
            WHILE @Level < @MaxIterations
            BEGIN
                INSERT INTO #BOMExplosionForOps (
                    Level, ItemId, ComponentId, ParentId, BOMId, ParentBOMId, Line, ComponentType,
                    Path, Quantity, CalculatedQty, UoM, ComponentItemCode, ComponentDescription
                )
                SELECT 
                    t.Level + 1, -- Level
                    comp.ComponentId, -- ItemId
                    comp.ComponentId, -- ComponentId
                    t.ItemId, -- ParentId
                    (SELECT TOP 1 bom.Id 
                     FROM MA_ProjectArticles_BillOfMaterials bom 
                     WHERE bom.ItemId = comp.ComponentId AND bom.CompanyId = @CompanyId
                     ORDER BY bom.Version DESC), -- BOMId
                    t.BOMId, -- ParentBOMId
                    comp.Line, -- Line
                    comp.ComponentType, -- ComponentType
                    t.Path + '.' + CAST(comp.ComponentId AS NVARCHAR(MAX)), -- Path
                    comp.Quantity, -- Quantity
                    t.CalculatedQty * comp.Quantity, -- CalculatedQty
                    comp.UoM, -- UoM
                    item.Item,
                    item.Description
                FROM #BOMExplosionForOps t
                JOIN MA_ProjectArticles_BOMComponents comp ON t.BOMId = comp.BOMId AND comp.CompanyId = @CompanyId
                JOIN MA_ProjectArticles_Items item ON comp.ComponentId = item.Id AND comp.CompanyId = @CompanyId
                WHERE 
                    t.Level = @Level
                    AND item.Disabled = 0
                    AND comp.ComponentType <> 7798787
                    AND NOT EXISTS (
                        SELECT 1 FROM #BOMExplosionForOps t2 
                        WHERE t2.ComponentId = comp.ComponentId AND t2.Path LIKE t.Path + '%'
                    );
                
                IF @@ROWCOUNT = 0
                    BREAK;
                
                SET @Level = @Level + 1;
            END;
        END
        
        -- Query principale: dettaglio costi operazioni
        SELECT 
            -- Informazioni BOM e livello
            ISNULL(exp.Level, 0) as BOMLevel,
            ISNULL(exp.ComponentItemCode, bom.BOM) as BOMCode,
            ISNULL(exp.ComponentDescription, bom.Description) as BOMDescription,
            ISNULL(exp.Path, 'ROOT') as BOMPath,
            
            -- Informazioni operazione
            rt.RtgStep as OperationStep,
            rt.Operation as OperationCode,
            ISNULL(op.Description, rt.Operation) as OperationDescription,
            
            -- Informazioni centro di lavoro
            rt.WC as WorkCenterCode,
            ISNULL(wc.Description, rt.WC) as WorkCenterDescription,
            ISNULL(wc.HourlyCost, 0.0) as WorkCenterHourlyCost,
            ISNULL(wc.Outsourced, 0) as IsOutsourced,
            
            -- Quantità e tempi (ATTENZIONE: i tempi sono in SECONDI, non minuti!)
            rt.Qty as OperationQuantity,
            ISNULL(rt.ProcessingTime, 0) as ProcessingTimeSeconds,
            ISNULL(rt.SetupTime, 0) as SetupTimeSeconds,
            ISNULL(rt.ProcessingTime, 0) + ISNULL(rt.SetupTime, 0) as TotalTimeSeconds,
            (ISNULL(rt.ProcessingTime, 0) + ISNULL(rt.SetupTime, 0)) / 60.0 as TotalTimeMinutes,
            (ISNULL(rt.ProcessingTime, 0) + ISNULL(rt.SetupTime, 0)) / 3600.0 as TotalTimeHours,
            
            -- Costi operazione
            ISNULL(op.UnitCost, 0.0) as OperationUnitCost,
            ISNULL(op.FixedCost, 0.0) as OperationFixedCost,
            
            -- Calcoli costi
            CASE 
                WHEN op.UnitCost > 0 THEN op.UnitCost * rt.Qty
                ELSE 0.0
            END as UnitCostTotal,
            
            CASE 
                WHEN wc.HourlyCost > 0 THEN
                    -- IMPORTANTE: Setup time NON moltiplicato per quantità, Processing time SÌ
                    ((ISNULL(rt.SetupTime, 0) / 3600.0) * wc.HourlyCost) + 
                    ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * rt.Qty)
                ELSE
                    -- Fallback al parametro di default
                    ((ISNULL(rt.SetupTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)) +
                    ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * rt.Qty)
            END as TimeBasedCost,
            
            ISNULL(op.FixedCost, 0.0) as FixedCostAmount,
            
            -- Costo totale per questa operazione
            CASE 
                WHEN op.UnitCost > 0 THEN 
                    (op.UnitCost * rt.Qty) + ISNULL(op.FixedCost, 0.0)
                WHEN wc.HourlyCost > 0 THEN
                    -- IMPORTANTE: Setup time NON moltiplicato per quantità, Processing time SÌ
                    (((ISNULL(rt.SetupTime, 0) / 3600.0) * wc.HourlyCost) + 
                     ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * rt.Qty)) + ISNULL(op.FixedCost, 0.0)
                ELSE
                    -- Fallback al parametro di default
                    (((ISNULL(rt.SetupTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)) +
                     ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * rt.Qty)) + ISNULL(op.FixedCost, 0.0)
            END as TotalOperationCost,
            
            -- Moltiplicatore per esplosione multilivello
            ISNULL(exp.CalculatedQty, 1.0) as BOMQuantityMultiplier,
            
            -- Lotto economico della BOM
            ISNULL(bom.ProductionLot, 1) as BOMProductionLot,
            
            -- Costo totale considerando la quantità della BOM
            CASE 
                WHEN op.UnitCost > 0 THEN 
                    ((op.UnitCost * rt.Qty) + ISNULL(op.FixedCost, 0.0)) * ISNULL(exp.CalculatedQty, 1.0)
                WHEN wc.HourlyCost > 0 THEN
                    -- IMPORTANTE: Setup time NON moltiplicato per quantità, Processing time SÌ
                    ((((ISNULL(rt.SetupTime, 0) / 3600.0) * wc.HourlyCost) + 
                      ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * rt.Qty)) + ISNULL(op.FixedCost, 0.0)) * ISNULL(exp.CalculatedQty, 1.0)
                ELSE
                    -- Fallback al parametro di default
                    ((((ISNULL(rt.SetupTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)) +
                      ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * rt.Qty)) + ISNULL(op.FixedCost, 0.0)) * ISNULL(exp.CalculatedQty, 1.0)
            END as FinalOperationCost,
            
            -- Costo per lotto economico (IMPORTANTE: Setup e FixedCost NON moltiplicati per lotto!)
            CASE 
                WHEN op.UnitCost > 0 THEN 
                    -- Per UnitCost: moltiplica tutto per lotto
                    ((op.UnitCost * rt.Qty) + ISNULL(op.FixedCost, 0.0)) * ISNULL(exp.CalculatedQty, 1.0) * ISNULL(bom.ProductionLot, 1)
                WHEN wc.HourlyCost > 0 THEN
                    -- IMPORTANTE: Setup time e FixedCost NON moltiplicati per lotto, solo Processing time
                    (((ISNULL(rt.SetupTime, 0) / 3600.0) * wc.HourlyCost) + 
                     ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * wc.HourlyCost * rt.Qty * ISNULL(bom.ProductionLot, 1)) + 
                     ISNULL(op.FixedCost, 0.0)) * ISNULL(exp.CalculatedQty, 1.0)
                ELSE
                    -- Fallback al parametro di default
                    (((ISNULL(rt.SetupTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0)) +
                     ((ISNULL(rt.ProcessingTime, 0) / 3600.0) * dbo.FN_GetBOMCostingParameter(@CompanyId, 'COSTO_ORARIO_STANDARD', 25.0) * rt.Qty * ISNULL(bom.ProductionLot, 1)) + 
                     ISNULL(op.FixedCost, 0.0)) * ISNULL(exp.CalculatedQty, 1.0)
            END as FinalOperationCostPerLot,
            
            -- Metodo di calcolo utilizzato
            CASE 
                WHEN op.UnitCost > 0 THEN 'UnitCost'
                WHEN wc.HourlyCost > 0 THEN 'WorkCenterHourly'
                ELSE 'DefaultParameter'
            END as CostCalculationMethod,
            
            -- Informazioni aggiuntive
            rt.Notes as OperationNotes,
            rt.Supplier as SupplierCode,
            ISNULL(op.Active, 1) as OperationActive
            
        FROM MA_ProjectArticles_BOMRouting rt
        LEFT JOIN MA_ProjectArticles_BOMOperations op ON rt.Operation = op.Code AND op.CompanyId = @CompanyId AND op.Active = 1
        LEFT JOIN MA_ProjectArticles_BOMWorkCenters wc ON rt.WC = wc.Code AND wc.CompanyId = @CompanyId
        LEFT JOIN MA_ProjectArticles_BillOfMaterials bom ON rt.BOMId = bom.Id AND bom.CompanyId = @CompanyId
        LEFT JOIN MA_ProjectArticles_Items itm ON bom.ItemId = itm.Id AND itm.CompanyId = @CompanyId
        
        -- Join con esplosione se richiesta
        LEFT JOIN #BOMExplosionForOps exp ON rt.BOMId = exp.BOMId
        
        WHERE rt.CompanyId = @CompanyId 
        AND (@IncludeMultilevel = 0 OR exp.BOMId IS NOT NULL OR rt.BOMId = @BOMId)
        AND (@IncludeMultilevel = 1 OR rt.BOMId = @BOMId)
        
        ORDER BY 
            ISNULL(exp.Level, 0),
            ISNULL(exp.Path, 'ROOT'),
            rt.RtgStep;
        
        -- Cleanup
        IF @IncludeMultilevel = 1
        BEGIN
            DROP TABLE #BOMExplosionForOps;
        END
        
    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_SEVERITY() AS ErrorSeverity,
            ERROR_STATE() AS ErrorState;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEffectiveBOMMarkups]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEffectiveBOMMarkups]
    @CompanyId INT,
    @BOMId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
       -- Variabili per i ricarichi custom
        DECLARE @CustomMarkupRM FLOAT = NULL;
        DECLARE @CustomMarkupOperations FLOAT = NULL;
        DECLARE @CustomMarkupTrasporto FLOAT = NULL;
        DECLARE @CustomMarkupScarto FLOAT = NULL;
        DECLARE @CustomMarkupTotale FLOAT = NULL;
        DECLARE @CustomMarkupSconto FLOAT = NULL;

        -- Variabili per i ricarichi globali
        DECLARE @GlobalMarkupRM FLOAT = NULL;
        DECLARE @GlobalMarkupOperations FLOAT = NULL;
        DECLARE @GlobalMarkupTrasporto FLOAT = NULL;
        DECLARE @GlobalMarkupScarto FLOAT = NULL;
        DECLARE @GlobalMarkupTotale FLOAT = NULL;
        DECLARE @GlobalMarkupSconto FLOAT = NULL;

        -- 1. Carica ricarichi CUSTOM dall'ultimo record storico per questa BOM
        SELECT TOP 1
            @CustomMarkupRM = CustomMarkupRM,
            @CustomMarkupOperations = CustomMarkupOperations,
            @CustomMarkupTrasporto = CustomMarkupExternalOps, -- Mappa a trasporto
            @CustomMarkupScarto = CustomMarkupInternalOps,     -- Mappa a scarto
            @CustomMarkupTotale = CustomMarkupOverhead,       -- Mappa a totale
            @CustomMarkupSconto = CustomMarkupSconto                       
        FROM MA_BOMCostingHistory
        WHERE CompanyId = @CompanyId
          AND BOMId = @BOMId
        ORDER BY CostingDate DESC;

        -- 2. Carica ricarichi GLOBALI con i nuovi nomi
        SELECT
            @GlobalMarkupRM = MAX(CASE WHEN ParameterName = 'RICARICO_MP' THEN ParameterValue END),
            @GlobalMarkupOperations = MAX(CASE WHEN ParameterName = 'RICARICO_OPE' THEN ParameterValue END),
            @GlobalMarkupTrasporto = MAX(CASE WHEN ParameterName = 'RICARICO_TRASPORTO' THEN ParameterValue END),
            @GlobalMarkupScarto = MAX(CASE WHEN ParameterName = 'RICARICO_SCARTO' THEN ParameterValue END),
            @GlobalMarkupTotale = MAX(CASE WHEN ParameterName = 'RICARICO_TOTALE' THEN ParameterValue END),
            @GlobalMarkupSconto = MAX(CASE WHEN ParameterName = 'RICARICO_SCONTO' THEN ParameterValue END)
        FROM MA_BOMCostingParameters
        WHERE CompanyId = @CompanyId
          AND IsActive = 1;

        -- 3. Restituisci ricarichi EFFETTIVI (Custom se presente, altrimenti Globale)
        --    Converti da percentuale decimale (es: 0.25) a percentuale (es: 25)
        SELECT
            'RICARICO_MP' as ParameterName,
            ISNULL(@CustomMarkupRM, @GlobalMarkupRM) * 100 as MarkupPercentage,
            CASE WHEN @CustomMarkupRM IS NOT NULL THEN 'Custom' ELSE 'Global' END as Source
        UNION ALL
        SELECT
            'RICARICO_OPE' as ParameterName,
            ISNULL(@CustomMarkupOperations, @GlobalMarkupOperations) * 100 as MarkupPercentage,
            CASE WHEN @CustomMarkupOperations IS NOT NULL THEN 'Custom' ELSE 'Global' END as Source
        UNION ALL
        SELECT
            'RICARICO_TRASPORTO' as ParameterName,
            ISNULL(@CustomMarkupTrasporto, @GlobalMarkupTrasporto) * 100 as MarkupPercentage,
            CASE WHEN @CustomMarkupTrasporto IS NOT NULL THEN 'Custom' ELSE 'Global' END as Source
        UNION ALL
        SELECT
            'RICARICO_SCARTO' as ParameterName,
            ISNULL(@CustomMarkupScarto, @GlobalMarkupScarto) * 100 as MarkupPercentage,
            CASE WHEN @CustomMarkupScarto IS NOT NULL THEN 'Custom' ELSE 'Global' END as Source
        UNION ALL
        SELECT
            'RICARICO_TOTALE' as ParameterName,
            ISNULL(@CustomMarkupTotale, @GlobalMarkupTotale) * 100 as MarkupPercentage,
            CASE WHEN @CustomMarkupTotale IS NOT NULL THEN 'Custom' ELSE 'Global' END as Source
        UNION ALL
        SELECT
            'RICARICO_SCONTO' as ParameterName,
            ISNULL(@CustomMarkupSconto, @GlobalMarkupSconto) * 100 as MarkupPercentage,
            CASE WHEN @CustomMarkupSconto IS NOT NULL THEN 'Custom' ELSE 'Global' END as Source;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveBOMCostingHistory]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SaveBOMCostingHistory]
    @CompanyId INT,
    @BOMId BIGINT,
    @OrderQuantity DECIMAL(18, 5) = NULL,
    @ScrapPercentage FLOAT = NULL,
    @UseGranularMarkups BIT = NULL,
    @UpdateBOMRecord BIT = NULL,
    @ParametersSnapshot NVARCHAR(MAX) = NULL,
    @RMCost FLOAT = NULL,
    @ProcessingCost FLOAT = NULL,
    @TotalCost FLOAT = NULL,
    @TotalPrice FLOAT = NULL,
    @CalculatedBy INT = NULL,
    @Notes NVARCHAR(MAX) = NULL,
    -- Nuovi parametri per ricarichi custom BOM-specific
    @CustomMarkupRM FLOAT = NULL,
    @CustomMarkupRMPurchase FLOAT = NULL,
    @CustomMarkupRMProduction FLOAT = NULL,
    @CustomMarkupOperations FLOAT = NULL,
    @CustomMarkupInternalOps FLOAT = NULL,
    @CustomMarkupExternalOps FLOAT = NULL,
    @CustomMarkupOverhead FLOAT = NULL,
    @CustomMarkupSconto FLOAT = NULL,
    @CustomMarkupsJSON NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewHistoryId BIGINT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Se ParametersSnapshot non  fornito, crea uno snapshot dei parametri GLOBALI correnti
        -- (per riferimento/confronto con i custom)
        IF @ParametersSnapshot IS NULL
        BEGIN
            -- Recupera i parametri globali di costificazione
            SELECT @ParametersSnapshot = (
                SELECT
                    ParameterName,
                    ParameterValue,
                    Description
                FROM MA_BOMCostingParameters
                WHERE CompanyId = @CompanyId AND IsActive = 1
                FOR JSON PATH
            );
        END

        -- Inserisci il record storico con ricarichi custom
        INSERT INTO MA_BOMCostingHistory (
            CompanyId,
            BOMId,
            OrderQuantity,
            ScrapPercentage,
            UseGranularMarkups,
            UpdateBOMRecord,
            ParametersSnapshot,
            RMCost,
            ProcessingCost,
            TotalCost,
            TotalPrice,
            CostingDate,
            CalculatedBy,
            Notes,
            -- Ricarichi custom BOM-specific
            CustomMarkupRM,
            CustomMarkupRMPurchase,
            CustomMarkupRMProduction,
            CustomMarkupOperations,
            CustomMarkupInternalOps,
            CustomMarkupExternalOps,
            CustomMarkupOverhead,
            CustomMarkupSconto,
            CustomMarkupsJSON,
            -- Audit
            TBCreated,
            TBCreatedId
        )
        VALUES (
            @CompanyId,
            @BOMId,
            @OrderQuantity,
            @ScrapPercentage,
            @UseGranularMarkups,
            @UpdateBOMRecord,
            @ParametersSnapshot,
            @RMCost,
            @ProcessingCost,
            @TotalCost,
            @TotalPrice,
            GETDATE(),
            @CalculatedBy,
            @Notes,
            -- Ricarichi custom
            @CustomMarkupRM,
            @CustomMarkupRMPurchase,
            @CustomMarkupRMProduction,
            @CustomMarkupOperations,
            @CustomMarkupInternalOps,
            @CustomMarkupExternalOps,
            @CustomMarkupOverhead,
            @CustomMarkupSconto,
            @CustomMarkupsJSON,
            -- Audit
            GETDATE(),
            @CalculatedBy
        );

        SET @NewHistoryId = SCOPE_IDENTITY();

        -- Restituisci il record appena creato con tutti i campi inclusi i ricarichi custom
        SELECT
            Id,
            CompanyId,
            BOMId,
            OrderQuantity,
            ScrapPercentage,
            UseGranularMarkups,
            UpdateBOMRecord,
            ParametersSnapshot,
            RMCost,
            ProcessingCost,
            TotalCost,
            TotalPrice,
            CostingDate,
            CalculatedBy,
            Notes,
            -- Ricarichi custom
            CustomMarkupRM,
            CustomMarkupRMPurchase,
            CustomMarkupRMProduction,
            CustomMarkupOperations,
            CustomMarkupInternalOps,
            CustomMarkupExternalOps,
            CustomMarkupOverhead,
            CustomMarkupSconto,
            CustomMarkupsJSON,
            TBCreated,
            TBCreatedId
        FROM MA_BOMCostingHistory
        WHERE Id = @NewHistoryId;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchBOMCostingHistory]    Script Date: 29/01/2026 08:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Stored Procedure: SP_SearchBOMCostingHistory
-- Descrizione: Cerca BOM per codice con costi già calcolati
-- =============================================
CREATE   PROCEDURE [dbo].[SP_SearchBOMCostingHistory]
    @CompanyId INT,
    @SearchText VARCHAR(50) = NULL,
    @Page INT = 1,
    @PageSize INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        DECLARE @Offset INT = (@Page - 1) * @PageSize;
        
        -- Query per contare il totale
        DECLARE @CountQuery NVARCHAR(MAX) = '
            SELECT COUNT(*) as TotalCount
            FROM MA_ProjectArticles_BillOfMaterials bom
            JOIN MA_ProjectArticles_Items itm ON bom.ItemId = itm.Id AND bom.CompanyId = itm.CompanyId
            WHERE bom.CompanyId = @CompanyId
            AND (bom.TotalCost IS NOT NULL AND bom.TotalCost > 0)';
        
        IF @SearchText IS NOT NULL
        BEGIN
            SET @CountQuery = @CountQuery + ' AND (bom.BOM LIKE @SearchText OR bom.Description LIKE @SearchText OR itm.Item LIKE @SearchText)';
        END
        
        -- Query principale
        DECLARE @DataQuery NVARCHAR(MAX) = '
            SELECT 
                bom.Id as BOMId,
                bom.BOM as BOMCode,
                bom.Description as BOMDescription,
                itm.Item as ItemCode,
                itm.Description as ItemDescription,
                bom.UoM as UnitOfMeasure,
                bom.TotalCost as CalculatedCost,
                bom.RMCost as MaterialCost,
                bom.ProcessingCost as OperationsCost,
                bom.BOMStatus,
                bom.TBCreated as LastCalculated,
                (SELECT COUNT(*) FROM MA_ProjectArticles_BOMComponents comp 
                 WHERE comp.BOMId = bom.Id AND comp.CompanyId = bom.CompanyId) as ComponentCount,
                (SELECT COUNT(*) FROM MA_ProjectArticles_BOMRouting rt 
                 WHERE rt.BOMId = bom.Id AND rt.CompanyId = bom.CompanyId) as RoutingCount
            FROM MA_ProjectArticles_BillOfMaterials bom
            JOIN MA_ProjectArticles_Items itm ON bom.ItemId = itm.Id AND bom.CompanyId = itm.CompanyId
            WHERE bom.CompanyId = @CompanyId
            AND (bom.TotalCost IS NOT NULL AND bom.TotalCost > 0)';
        
        IF @SearchText IS NOT NULL
        BEGIN
            SET @DataQuery = @DataQuery + ' AND (bom.BOM LIKE @SearchText OR bom.Description LIKE @SearchText OR itm.Item LIKE @SearchText)';
        END
        
        SET @DataQuery = @DataQuery + ' ORDER BY bom.TBCreated DESC OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY';
        
        -- Esegui le query
        DECLARE @TotalCount INT;
        EXEC sp_executesql @CountQuery, N'@CompanyId INT, @SearchText VARCHAR(50)', @CompanyId, @SearchText;
        
        EXEC sp_executesql @DataQuery, N'@CompanyId INT, @SearchText VARCHAR(50), @Offset INT, @PageSize INT', 
                          @CompanyId, @SearchText, @Offset, @PageSize;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ricarico sconto custom per BOM specifica (NULL = usa default azienda, 0 = zero esplicito, >0 = ricarico personalizzato)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MA_BOMCostingHistory', @level2type=N'COLUMN',@level2name=N'CustomMarkupSconto'
GO
