USE [WebAppTEST]
GO
/****** Object:  Table [dbo].[AR_Companies]    Script Date: 27/10/2025 07:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [varchar](50) NULL,
	[Description] [varchar](200) NOT NULL,
	[Email] [varchar](150) NULL,
	[ContactPerson] [varchar](150) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Notes] [varchar](max) NULL,
	[Licenses] [int] NULL,
	[ExpirationDate] [date] NULL,
	[w_PrimaryColor] [varchar](100) NULL,
	[w_SecondaryColor] [varchar](100) NULL,
	[dbName] [varchar](50) NOT NULL,
	[ProjectPrefix] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_CompaniesUsers]    Script Date: 27/10/2025 07:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_CompaniesUsers](
	[CompanyId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AR_CompaniesUsers] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_GroupMembers]    Script Date: 27/10/2025 07:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_GroupMembers](
	[groupId] [int] NOT NULL,
	[userId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_GroupPages]    Script Date: 27/10/2025 07:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_GroupPages](
	[pageId] [int] NOT NULL,
	[groupId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_Groups]    Script Date: 27/10/2025 07:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Groups](
	[groupId] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[groupName] [nvarchar](255) NOT NULL,
	[disabled] [int] NULL,
	[CompanyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_Pages]    Script Date: 27/10/2025 07:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Pages](
	[pageId] [int] IDENTITY(1,1) NOT NULL,
	[pageName] [nvarchar](255) NOT NULL,
	[pageParent] [int] NULL,
	[pageLevel] [int] NOT NULL,
	[disabled] [bit] NOT NULL,
	[pageDescription] [nvarchar](255) NULL,
	[pageRoute] [nvarchar](255) NOT NULL,
	[pageComponent] [nvarchar](255) NULL,
	[sequence] [int] NULL,
	[inheritPermissions] [bit] NOT NULL,
	[wikiSlug] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[pageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AR_Pages_Components]    Script Date: 27/10/2025 07:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_Pages_Components](
	[componentId] [int] IDENTITY(1,1) NOT NULL,
	[pageId] [int] NOT NULL,
	[parentComponentId] [int] NULL,
	[componentKey] [nvarchar](100) NOT NULL,
	[componentName] [nvarchar](200) NOT NULL,
	[componentDescription] [nvarchar](500) NULL,
	[wikiSlug] [nvarchar](500) NULL,
	[sequence] [int] NULL,
	[iconName] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[componentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_PageComponent] UNIQUE NONCLUSTERED 
(
	[pageId] ASC,
	[componentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [CompanyCode]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [ContactPerson]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ((5)) FOR [Licenses]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('1799-12-31') FOR [ExpirationDate]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('#1b263b') FOR [w_PrimaryColor]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('#1b263b') FOR [w_SecondaryColor]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [dbName]
GO
ALTER TABLE [dbo].[AR_Companies] ADD  DEFAULT ('') FOR [ProjectPrefix]
GO
ALTER TABLE [dbo].[AR_Groups] ADD  DEFAULT ('') FOR [description]
GO
ALTER TABLE [dbo].[AR_Groups] ADD  DEFAULT ((0)) FOR [disabled]
GO
ALTER TABLE [dbo].[AR_Groups] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[AR_Pages] ADD  DEFAULT ((0)) FOR [sequence]
GO
ALTER TABLE [dbo].[AR_Pages] ADD  DEFAULT ((1)) FOR [inheritPermissions]
GO
ALTER TABLE [dbo].[AR_Pages_Components] ADD  DEFAULT ((0)) FOR [sequence]
GO
ALTER TABLE [dbo].[AR_Pages_Components] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[AR_CompaniesUsers]  WITH CHECK ADD  CONSTRAINT [FK_AR_CompaniesUsers_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[AR_Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[AR_CompaniesUsers] CHECK CONSTRAINT [FK_AR_CompaniesUsers_Company]
GO
ALTER TABLE [dbo].[AR_CompaniesUsers]  WITH CHECK ADD  CONSTRAINT [FK_AR_CompaniesUsers_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AR_Users] ([userId])
GO
ALTER TABLE [dbo].[AR_CompaniesUsers] CHECK CONSTRAINT [FK_AR_CompaniesUsers_User]
GO
ALTER TABLE [dbo].[AR_GroupMembers]  WITH CHECK ADD FOREIGN KEY([groupId])
REFERENCES [dbo].[AR_Groups] ([groupId])
GO
ALTER TABLE [dbo].[AR_GroupMembers]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AR_Users] ([userId])
GO
ALTER TABLE [dbo].[AR_Pages]  WITH CHECK ADD FOREIGN KEY([pageParent])
REFERENCES [dbo].[AR_Pages] ([pageId])
GO
ALTER TABLE [dbo].[AR_Pages_Components]  WITH CHECK ADD FOREIGN KEY([pageId])
REFERENCES [dbo].[AR_Pages] ([pageId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AR_Pages_Components]  WITH CHECK ADD FOREIGN KEY([parentComponentId])
REFERENCES [dbo].[AR_Pages_Components] ([componentId])
GO
