USE [WikiJS]
GO
/****** Object:  Table [dbo].[analytics]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analytics](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[config] [text] NOT NULL,
 CONSTRAINT [analytics_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apiKeys]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apiKeys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[key] [nvarchar](max) NOT NULL,
	[expiration] [nvarchar](255) NOT NULL,
	[isRevoked] [bit] NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assetData]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assetData](
	[id] [int] NOT NULL,
	[data] [varbinary](max) NOT NULL,
 CONSTRAINT [assetData_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assetFolders]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assetFolders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[parentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assets]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](255) NOT NULL,
	[hash] [nvarchar](255) NOT NULL,
	[ext] [nvarchar](255) NOT NULL,
	[kind] [nvarchar](100) NOT NULL,
	[mime] [nvarchar](255) NOT NULL,
	[fileSize] [int] NULL,
	[metadata] [text] NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
	[folderId] [int] NULL,
	[authorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authentication]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authentication](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[config] [text] NOT NULL,
	[selfRegistration] [bit] NOT NULL,
	[domainWhitelist] [text] NOT NULL,
	[autoEnrollGroups] [text] NOT NULL,
	[order] [int] NOT NULL,
	[strategyKey] [nvarchar](255) NOT NULL,
	[displayName] [nvarchar](255) NOT NULL,
 CONSTRAINT [authentication_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brute]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brute](
	[key] [nvarchar](255) NULL,
	[firstRequest] [bigint] NULL,
	[lastRequest] [bigint] NULL,
	[lifetime] [bigint] NULL,
	[count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commentProviders]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commentProviders](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[config] [text] NOT NULL,
 CONSTRAINT [commentProviders_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
	[pageId] [int] NULL,
	[authorId] [int] NULL,
	[render] [nvarchar](max) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[ip] [nvarchar](255) NOT NULL,
	[replyTo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[editors]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[editors](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[config] [text] NOT NULL,
 CONSTRAINT [editors_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[permissions] [text] NOT NULL,
	[pageRules] [text] NOT NULL,
	[isSystem] [bit] NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
	[redirectOnLogin] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locales]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locales](
	[code] [nvarchar](5) NOT NULL,
	[strings] [text] NULL,
	[isRTL] [bit] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[nativeName] [nvarchar](255) NOT NULL,
	[availability] [int] NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
 CONSTRAINT [locales_pkey] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loggers]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loggers](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[level] [nvarchar](255) NOT NULL,
	[config] [text] NULL,
 CONSTRAINT [loggers_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[batch] [int] NULL,
	[migration_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations_lock]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations_lock](
	[index] [int] IDENTITY(1,1) NOT NULL,
	[is_locked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[navigation]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[navigation](
	[key] [nvarchar](255) NOT NULL,
	[config] [text] NULL,
 CONSTRAINT [navigation_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pageHistory]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pageHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](255) NOT NULL,
	[hash] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[isPrivate] [bit] NOT NULL,
	[isPublished] [bit] NOT NULL,
	[publishStartDate] [nvarchar](255) NULL,
	[publishEndDate] [nvarchar](255) NULL,
	[action] [nvarchar](255) NULL,
	[pageId] [int] NULL,
	[content] [varchar](max) NULL,
	[contentType] [nvarchar](255) NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[editorKey] [nvarchar](255) NULL,
	[localeCode] [nvarchar](5) NULL,
	[authorId] [int] NULL,
	[versionDate] [nvarchar](255) NOT NULL,
	[extra] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pageHistoryTags]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pageHistoryTags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pageId] [int] NULL,
	[tagId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pageLinks]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pageLinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](255) NOT NULL,
	[localeCode] [nvarchar](5) NOT NULL,
	[pageId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pages]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](255) NOT NULL,
	[hash] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[isPrivate] [bit] NOT NULL,
	[isPublished] [bit] NOT NULL,
	[privateNS] [nvarchar](255) NULL,
	[publishStartDate] [nvarchar](255) NULL,
	[publishEndDate] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[render] [nvarchar](max) NULL,
	[toc] [nvarchar](max) NULL,
	[contentType] [nvarchar](255) NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
	[editorKey] [nvarchar](255) NULL,
	[localeCode] [nvarchar](5) NULL,
	[authorId] [int] NULL,
	[creatorId] [int] NULL,
	[extra] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pageTags]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pageTags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pageId] [int] NULL,
	[tagId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pageTree]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pageTree](
	[id] [int] NOT NULL,
	[path] [nvarchar](255) NOT NULL,
	[depth] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[isPrivate] [bit] NOT NULL,
	[isFolder] [bit] NOT NULL,
	[privateNS] [nvarchar](255) NULL,
	[parent] [int] NULL,
	[pageId] [int] NULL,
	[localeCode] [nvarchar](5) NULL,
	[ancestors] [text] NULL,
 CONSTRAINT [pageTree_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[renderers]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[renderers](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[config] [text] NULL,
 CONSTRAINT [renderers_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[searchEngines]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[searchEngines](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[config] [text] NULL,
 CONSTRAINT [searchEngines_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[sid] [nvarchar](255) NOT NULL,
	[sess] [nvarchar](max) NOT NULL,
	[expired] [datetime2](7) NOT NULL,
 CONSTRAINT [sessions_pkey] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[key] [nvarchar](255) NOT NULL,
	[value] [text] NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
 CONSTRAINT [settings_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storage]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storage](
	[key] [nvarchar](255) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[mode] [nvarchar](255) NOT NULL,
	[config] [text] NULL,
	[syncInterval] [nvarchar](255) NULL,
	[state] [text] NULL,
 CONSTRAINT [storage_pkey] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userAvatars]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userAvatars](
	[id] [int] NOT NULL,
	[data] [varbinary](max) NOT NULL,
 CONSTRAINT [userAvatars_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userGroups]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[groupId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userKeys]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userKeys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kind] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[validUntil] [nvarchar](255) NOT NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 27/10/2025 07:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[providerId] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[tfaIsActive] [bit] NOT NULL,
	[tfaSecret] [nvarchar](255) NULL,
	[jobTitle] [nvarchar](255) NULL,
	[location] [nvarchar](255) NULL,
	[pictureUrl] [nvarchar](255) NULL,
	[timezone] [nvarchar](255) NOT NULL,
	[isSystem] [bit] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isVerified] [bit] NOT NULL,
	[mustChangePwd] [bit] NOT NULL,
	[createdAt] [nvarchar](255) NOT NULL,
	[updatedAt] [nvarchar](255) NOT NULL,
	[providerKey] [nvarchar](255) NOT NULL,
	[localeCode] [nvarchar](5) NOT NULL,
	[defaultEditor] [nvarchar](255) NOT NULL,
	[lastLoginAt] [nvarchar](255) NULL,
	[dateFormat] [nvarchar](255) NOT NULL,
	[appearance] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[analytics] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[apiKeys] ADD  DEFAULT ('0') FOR [isRevoked]
GO
ALTER TABLE [dbo].[assets] ADD  DEFAULT ('binary') FOR [kind]
GO
ALTER TABLE [dbo].[assets] ADD  DEFAULT ('application/octet-stream') FOR [mime]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ('0') FOR [selfRegistration]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ('0') FOR [order]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ('') FOR [strategyKey]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ('') FOR [displayName]
GO
ALTER TABLE [dbo].[commentProviders] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ('') FOR [render]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ('') FOR [email]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ('') FOR [ip]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ('0') FOR [replyTo]
GO
ALTER TABLE [dbo].[editors] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[groups] ADD  DEFAULT ('0') FOR [isSystem]
GO
ALTER TABLE [dbo].[groups] ADD  DEFAULT ('/') FOR [redirectOnLogin]
GO
ALTER TABLE [dbo].[locales] ADD  DEFAULT ('0') FOR [isRTL]
GO
ALTER TABLE [dbo].[locales] ADD  DEFAULT ('0') FOR [availability]
GO
ALTER TABLE [dbo].[loggers] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[loggers] ADD  DEFAULT ('warn') FOR [level]
GO
ALTER TABLE [dbo].[pageHistory] ADD  DEFAULT ('0') FOR [isPrivate]
GO
ALTER TABLE [dbo].[pageHistory] ADD  DEFAULT ('0') FOR [isPublished]
GO
ALTER TABLE [dbo].[pageHistory] ADD  DEFAULT ('updated') FOR [action]
GO
ALTER TABLE [dbo].[pageHistory] ADD  DEFAULT ('') FOR [versionDate]
GO
ALTER TABLE [dbo].[pageHistory] ADD  DEFAULT ('{}') FOR [extra]
GO
ALTER TABLE [dbo].[pages] ADD  DEFAULT ('0') FOR [isPrivate]
GO
ALTER TABLE [dbo].[pages] ADD  DEFAULT ('0') FOR [isPublished]
GO
ALTER TABLE [dbo].[pages] ADD  DEFAULT ('{}') FOR [extra]
GO
ALTER TABLE [dbo].[pageTree] ADD  DEFAULT ('0') FOR [isPrivate]
GO
ALTER TABLE [dbo].[pageTree] ADD  DEFAULT ('0') FOR [isFolder]
GO
ALTER TABLE [dbo].[renderers] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[searchEngines] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[storage] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[storage] ADD  DEFAULT ('push') FOR [mode]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [tfaIsActive]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('') FOR [jobTitle]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('') FOR [location]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('America/New_York') FOR [timezone]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [isSystem]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [isActive]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [isVerified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [mustChangePwd]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('local') FOR [providerKey]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('en') FOR [localeCode]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('markdown') FOR [defaultEditor]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('') FOR [dateFormat]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('') FOR [appearance]
GO
ALTER TABLE [dbo].[assetFolders]  WITH CHECK ADD  CONSTRAINT [assetfolders_parentid_foreign] FOREIGN KEY([parentId])
REFERENCES [dbo].[assetFolders] ([id])
GO
ALTER TABLE [dbo].[assetFolders] CHECK CONSTRAINT [assetfolders_parentid_foreign]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [assets_authorid_foreign] FOREIGN KEY([authorId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [assets_authorid_foreign]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [assets_folderid_foreign] FOREIGN KEY([folderId])
REFERENCES [dbo].[assetFolders] ([id])
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [assets_folderid_foreign]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [comments_authorid_foreign] FOREIGN KEY([authorId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [comments_authorid_foreign]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [comments_pageid_foreign] FOREIGN KEY([pageId])
REFERENCES [dbo].[pages] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [comments_pageid_foreign]
GO
ALTER TABLE [dbo].[pageHistory]  WITH CHECK ADD  CONSTRAINT [pagehistory_authorid_foreign] FOREIGN KEY([authorId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[pageHistory] CHECK CONSTRAINT [pagehistory_authorid_foreign]
GO
ALTER TABLE [dbo].[pageHistory]  WITH CHECK ADD  CONSTRAINT [pagehistory_editorkey_foreign] FOREIGN KEY([editorKey])
REFERENCES [dbo].[editors] ([key])
GO
ALTER TABLE [dbo].[pageHistory] CHECK CONSTRAINT [pagehistory_editorkey_foreign]
GO
ALTER TABLE [dbo].[pageHistory]  WITH CHECK ADD  CONSTRAINT [pagehistory_localecode_foreign] FOREIGN KEY([localeCode])
REFERENCES [dbo].[locales] ([code])
GO
ALTER TABLE [dbo].[pageHistory] CHECK CONSTRAINT [pagehistory_localecode_foreign]
GO
ALTER TABLE [dbo].[pageHistoryTags]  WITH CHECK ADD  CONSTRAINT [pagehistorytags_pageid_foreign] FOREIGN KEY([pageId])
REFERENCES [dbo].[pageHistory] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pageHistoryTags] CHECK CONSTRAINT [pagehistorytags_pageid_foreign]
GO
ALTER TABLE [dbo].[pageHistoryTags]  WITH CHECK ADD  CONSTRAINT [pagehistorytags_tagid_foreign] FOREIGN KEY([tagId])
REFERENCES [dbo].[tags] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pageHistoryTags] CHECK CONSTRAINT [pagehistorytags_tagid_foreign]
GO
ALTER TABLE [dbo].[pageLinks]  WITH CHECK ADD  CONSTRAINT [pagelinks_pageid_foreign] FOREIGN KEY([pageId])
REFERENCES [dbo].[pages] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pageLinks] CHECK CONSTRAINT [pagelinks_pageid_foreign]
GO
ALTER TABLE [dbo].[pages]  WITH CHECK ADD  CONSTRAINT [pages_authorid_foreign] FOREIGN KEY([authorId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[pages] CHECK CONSTRAINT [pages_authorid_foreign]
GO
ALTER TABLE [dbo].[pages]  WITH CHECK ADD  CONSTRAINT [pages_creatorid_foreign] FOREIGN KEY([creatorId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[pages] CHECK CONSTRAINT [pages_creatorid_foreign]
GO
ALTER TABLE [dbo].[pages]  WITH CHECK ADD  CONSTRAINT [pages_editorkey_foreign] FOREIGN KEY([editorKey])
REFERENCES [dbo].[editors] ([key])
GO
ALTER TABLE [dbo].[pages] CHECK CONSTRAINT [pages_editorkey_foreign]
GO
ALTER TABLE [dbo].[pages]  WITH CHECK ADD  CONSTRAINT [pages_localecode_foreign] FOREIGN KEY([localeCode])
REFERENCES [dbo].[locales] ([code])
GO
ALTER TABLE [dbo].[pages] CHECK CONSTRAINT [pages_localecode_foreign]
GO
ALTER TABLE [dbo].[pageTags]  WITH CHECK ADD  CONSTRAINT [pagetags_pageid_foreign] FOREIGN KEY([pageId])
REFERENCES [dbo].[pages] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pageTags] CHECK CONSTRAINT [pagetags_pageid_foreign]
GO
ALTER TABLE [dbo].[pageTags]  WITH CHECK ADD  CONSTRAINT [pagetags_tagid_foreign] FOREIGN KEY([tagId])
REFERENCES [dbo].[tags] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pageTags] CHECK CONSTRAINT [pagetags_tagid_foreign]
GO
ALTER TABLE [dbo].[pageTree]  WITH CHECK ADD  CONSTRAINT [pagetree_localecode_foreign] FOREIGN KEY([localeCode])
REFERENCES [dbo].[locales] ([code])
GO
ALTER TABLE [dbo].[pageTree] CHECK CONSTRAINT [pagetree_localecode_foreign]
GO
ALTER TABLE [dbo].[pageTree]  WITH CHECK ADD  CONSTRAINT [pagetree_pageid_foreign] FOREIGN KEY([pageId])
REFERENCES [dbo].[pages] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pageTree] CHECK CONSTRAINT [pagetree_pageid_foreign]
GO
ALTER TABLE [dbo].[userGroups]  WITH CHECK ADD  CONSTRAINT [usergroups_groupid_foreign] FOREIGN KEY([groupId])
REFERENCES [dbo].[groups] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userGroups] CHECK CONSTRAINT [usergroups_groupid_foreign]
GO
ALTER TABLE [dbo].[userGroups]  WITH CHECK ADD  CONSTRAINT [usergroups_userid_foreign] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userGroups] CHECK CONSTRAINT [usergroups_userid_foreign]
GO
ALTER TABLE [dbo].[userKeys]  WITH CHECK ADD  CONSTRAINT [userkeys_userid_foreign] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[userKeys] CHECK CONSTRAINT [userkeys_userid_foreign]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_defaulteditor_foreign] FOREIGN KEY([defaultEditor])
REFERENCES [dbo].[editors] ([key])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_defaulteditor_foreign]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_localecode_foreign] FOREIGN KEY([localeCode])
REFERENCES [dbo].[locales] ([code])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_localecode_foreign]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_providerkey_foreign] FOREIGN KEY([providerKey])
REFERENCES [dbo].[authentication] ([key])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_providerkey_foreign]
GO
