ALTER PROCEDURE [dbo].[MA_AddUpdateProject]
    @ProjectID INT = NULL,
    @Name NVARCHAR(255),
    @Description NVARCHAR(MAX),
    @StartDate DATE NULL,
    @EndDate DATE NULL,
    @Status VARCHAR(5),
    @ProjectCategoryId INT = 0, 
    @ProjectCategoryDetailLine INT = 0,
    @UserId INT,
    @Disabled INT = 0,
    @CustSupp INT = 0,
    @ProjectErpID VARCHAR(20) = '',
    @TemplateID INT = NULL,
    @UseStages BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the status exists
    IF NOT EXISTS (SELECT 1 FROM MA_ProjectStatus WHERE Id = @Status AND IsActive = 1)
    BEGIN
        RAISERROR('Invalid status', 16, 1)
        RETURN
    END

    SET @StartDate = ISNULL(@StartDate, GETDATE())
    SET @EndDate = ISNULL(@EndDate, GETDATE() + 365)
    DECLARE @CompanyId INT = ISNULL((SELECT CompanyId FROM AR_Users WHERE userId = @UserId), 0);
    DECLARE @NewProjectID INT;
    
    IF @ProjectID IS NULL OR NOT EXISTS (SELECT 1 FROM MA_Projects WHERE ProjectID = @ProjectID)
    BEGIN
        -- Insert new project
        INSERT INTO MA_Projects (
            Name, Description, StartDate, EndDate, Status, ProjectCategoryId, 
            ProjectCategoryDetailLine, TBCreatedId, Disabled, CustSupp, 
            ProjectErpID, CompanyId, UseStages
        )
        VALUES (
            @Name, @Description, @StartDate, @EndDate, @Status, @ProjectCategoryId, 
            @ProjectCategoryDetailLine, @UserId, 0, @CustSupp, 
            @ProjectErpID, @CompanyId, @UseStages
        );
        
        SET @NewProjectID = SCOPE_IDENTITY();
        
        -- Insert creator as admin member
        INSERT INTO MA_ProjectMembers (ProjectID, UserID, Role, TBCreated)
        VALUES (@NewProjectID, @UserId, 'ADMIN', GETDATE());
        
        -- Se è stato specificato un template, crea le attività dal template
        IF @TemplateID IS NOT NULL
        BEGIN
            -- Dichiarazioni per il ciclo
            DECLARE @TaskTitle NVARCHAR(255)
            DECLARE @TaskDescription NVARCHAR(MAX)
            DECLARE @TaskDefaultAssignedTo INT
            DECLARE @TaskDefaultGroupId INT
            DECLARE @TaskPriority VARCHAR(10)
            DECLARE @TaskStandardDays INT
            DECLARE @TaskSequence INT
            DECLARE @TaskTemplateDetailID INT
            DECLARE @TaskPredecessorDetailID INT
            DECLARE @CurrentDate DATE = @StartDate
            DECLARE @TaskID INT
            DECLARE @PredecessorTaskID INT
            
            -- Tabella temporanea per mappare TemplateDetailID a TaskID effettivo
            CREATE TABLE #TemplateTaskMapping (
                TemplateDetailID INT,
                TaskID INT
            )
            
            -- Cursore per scorrere tutti i task del template
            DECLARE template_cursor CURSOR FOR
            SELECT 
                TemplateDetailID,
                TaskSequence,
                Title, 
                Description, 
                DefaultAssignedTo,
                DefaultGroupId,
                Priority, 
                StandardDays,
                PredecessorDetailID
            FROM MA_TasksTemplatesDetail
            WHERE TemplateID = @TemplateID
            ORDER BY TaskSequence
            
            OPEN template_cursor
            FETCH NEXT FROM template_cursor INTO 
                @TaskTemplateDetailID,
                @TaskSequence,
                @TaskTitle, 
                @TaskDescription, 
                @TaskDefaultAssignedTo,
                @TaskDefaultGroupId,
                @TaskPriority,
                @TaskStandardDays,
                @TaskPredecessorDetailID
            
            WHILE @@FETCH_STATUS = 0
            BEGIN
                -- Calcola la data di fine del task
                DECLARE @TaskEndDate DATE = DATEADD(DAY, @TaskStandardDays, @CurrentDate)
                
                -- Determina il predecessore effettivo
                SET @PredecessorTaskID = NULL
                IF @TaskPredecessorDetailID IS NOT NULL
                BEGIN
                    SELECT @PredecessorTaskID = TaskID 
                    FROM #TemplateTaskMapping 
                    WHERE TemplateDetailID = @TaskPredecessorDetailID
                END
                
                -- Preparazione degli assignees e gestione del gruppo
                DECLARE @AssignedToUser INT = @TaskDefaultAssignedTo
                DECLARE @AdditionalAssignees NVARCHAR(MAX) = NULL
                
                -- Se abbiamo un gruppo assegnato
                IF @TaskDefaultGroupId IS NOT NULL
                BEGIN
                    -- Otteniamo la lista degli utenti nel gruppo
                    DECLARE @GroupMembers TABLE (UserId INT)
                    INSERT INTO @GroupMembers
                    SELECT userId FROM AR_GroupMembers WHERE groupId = @TaskDefaultGroupId
                    
                    -- Se non abbiamo un assegnatario principale ma abbiamo membri del gruppo,
                    -- prendiamo il primo membro come assegnatario principale
                    IF (@AssignedToUser IS NULL OR @AssignedToUser = 0) AND EXISTS (SELECT TOP 1 1 FROM @GroupMembers)
                    BEGIN
                        SELECT TOP 1 @AssignedToUser = UserId FROM @GroupMembers ORDER BY UserId
                    END
                    
                    -- Creiamo un JSON array per gli altri membri del gruppo (escludendo l'assegnatario principale)
                    IF EXISTS (SELECT 1 FROM @GroupMembers WHERE UserId <> ISNULL(@AssignedToUser, 0))
                    BEGIN
                        DECLARE @AssigneesArray NVARCHAR(MAX) = '['
                        SELECT @AssigneesArray = @AssigneesArray + CAST(UserId AS NVARCHAR(10)) + ','
                        FROM @GroupMembers
                        WHERE UserId <> ISNULL(@AssignedToUser, 0) AND UserId > 0
                        
                        -- Rimuovi l'ultima virgola e chiudi l'array
                        IF LEN(@AssigneesArray) > 1
                        BEGIN
                            SET @AssigneesArray = LEFT(@AssigneesArray, LEN(@AssigneesArray) - 1) + ']'
                            SET @AdditionalAssignees = @AssigneesArray
                        END
                        ELSE
                        BEGIN
                            SET @AdditionalAssignees = NULL
                        END
                    END
                    
                    DELETE FROM @GroupMembers -- Pulisci la tabella temporanea
                END
                
                -- Assicuriamoci che l'assegnatario principale sia valido
                IF @AssignedToUser IS NULL OR @AssignedToUser = 0
                BEGIN
                    SET @AssignedToUser = @UserId  -- Assegna all'utente corrente se nessun altro è specificato
                END
                
                -- Inserisci il task
                DECLARE @TaskIDTable TABLE (TaskID INT, success INT, msg VARCHAR(100))
                
                INSERT INTO @TaskIDTable
                EXEC [dbo].[MA_AddUpdateProjectTask]
                    @TaskID = NULL,
                    @ProjectID = @NewProjectID,
                    @Title = @TaskTitle,
                    @Description = @TaskDescription,
                    @AssignedTo = @AssignedToUser,
                    @Priority = @TaskPriority,
                    @Status = 'DA FARE',
                    @StartDate = @CurrentDate,
                    @DueDate = @TaskEndDate,
                    @PredecessorTaskID = @PredecessorTaskID,
                    @UserId = @UserId,
                    @AdditionalAssignees = @AdditionalAssignees
                
                SELECT @TaskID = TaskID FROM @TaskIDTable
                
                -- Memorizza il mapping tra TemplateDetailID e TaskID
                INSERT INTO #TemplateTaskMapping (TemplateDetailID, TaskID)
                VALUES (@TaskTemplateDetailID, @TaskID)
                
                -- Aggiorna la data corrente per il prossimo task
                SET @CurrentDate = @TaskEndDate
                
                DELETE FROM @TaskIDTable
                
                FETCH NEXT FROM template_cursor INTO 
                    @TaskTemplateDetailID,
                    @TaskSequence,
                    @TaskTitle, 
                    @TaskDescription, 
                    @TaskDefaultAssignedTo,
                    @TaskDefaultGroupId,
                    @TaskPriority,
                    @TaskStandardDays,
                    @TaskPredecessorDetailID
            END
            
            CLOSE template_cursor
            DEALLOCATE template_cursor
            
            -- NUOVA SEZIONE: Gestione degli Stage dal Template
            -- Se il template ha UseStages=1, abilita UseStages anche nel progetto
            IF EXISTS (SELECT 1 FROM MA_TasksTemplates WHERE TemplateID = @TemplateID AND UseStages = 1)
            BEGIN
                -- Aggiorna il flag UseStages nel progetto se il template lo richiede
                UPDATE MA_Projects SET UseStages = 1 WHERE ProjectID = @NewProjectID
                
                -- Applica gli stage dal template
                EXEC MA_ApplyStageTemplateToProject 
                    @ProjectID = @NewProjectID, 
                    @TemplateID = @TemplateID, 
                    @UserId = @UserId;
                
                -- RIMOSSO: Il codice duplicato che causava l'errore
                -- L'assegnazione dei task agli stage viene già gestita dalla stored procedure
                -- MA_ApplyStageTemplateToProject, quindi non serve ripeterla qui
            END
            
            DROP TABLE #TemplateTaskMapping
        END
        
        SELECT @NewProjectID as ProjectID, 1 AS success, 'Progetto creato' AS msg
    END
    ELSE
    BEGIN
        -- Update existing project
        UPDATE MA_Projects
        SET 
            Name = @Name
            , Description = @Description
            , StartDate = @StartDate
            , EndDate = @EndDate
            , Status = @Status
            , ProjectCategoryId = @ProjectCategoryId
            , ProjectCategoryDetailLine = @ProjectCategoryDetailLine
            , Disabled = @Disabled
            , CustSupp = @CustSupp
            , ProjectErpID = @ProjectErpID
            , UseStages = @UseStages
        WHERE ProjectID = @ProjectID;
        
        SELECT @ProjectID as ProjectID, 1 AS success, 'Progetto aggiornato' AS msg
    END
END